Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

chore: aligne major repo
  charts/argo-workflows/templates/_helpers.tpl
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Disable leader election on single repl controllers
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(github): Disable some GH actions on forks
  .github/workflows/publish.yml
  .github/workflows/renovate.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Disable some GH actions on forks (#2566)
  .github/workflows/publish.yml
  .github/workflows/renovate.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Disable leader election on single repl controllers (#2565)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update renovate image only monthly
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update renovate image only monthly (#2568)
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): support ApplicationSet in any namespace.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: apply feedback by maintainer.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: docs is not generated.
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): support ApplicationSet in any namespace. (#2402)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-rollouts): Change controller deployment strategy to rollingUpdate
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

chore(argo-rollouts): Change controller deployment strategy to rollingUpdate Signed-off-by: Ilya Stoliar <ilyast@monday.com>
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

feat(argo-workflows): Add ability to set .Values.namespaceOverride (#2564)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/artifact-repository-ref-cm.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/gke/backendconfig.yaml
  charts/argo-workflows/templates/server/gke/frontendconfig.yaml
  charts/argo-workflows/templates/server/gke/managedcertificate.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: remove not needed lines
  charts/argocd-apps/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

test renovate github things
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

Enable event reporter 2.0 by default + return rate limiter (#62)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/extension-values.yaml
  charts/argo-cd/ci/external-redis-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Fix ingress server service port
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: use the right range function
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/templates/item-templates.yaml
  charts/argocd-apps/templates/projects.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-apps): fix issues
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/item-templates.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Increased chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Fixed default tls hosts for grpc ingress endpoint
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added changelog entry
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated changelog
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Support for existing Secret in ArgoCD Notifications, and ability to set its name.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Pass Secret name to Notification controller
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Remove redundant useExistingSecret, and assume existence of a secret
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Support setting ArgoCD Notifications secret (#2577)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fixed default tls hosts for grpc ingress endpoint (#2580)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

update argo-cd with updated format of jsonPath
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: fix newline issue in values.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix default version config
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-workflows): added ability to deploy per-namespace controllers
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/artifact-repository-ref-cm.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24
