Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

fix(argo-cd): Add extraArgs to secretInit job (#3533)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): allowing ServiceMonitor apiVersion customization
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Add backendRefs group and kind to httproute.yaml
  charts/argo-cd/templates/argocd-server/httproute.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fixed(argo-cd): Align default values of argocd-cmd-params-cm ConfigMap to upstream
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Bump major version due to breaking change
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Align default values of argocd-cmd-params-cm ConfigMap to upstream (#3540)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fix typo in changelog message for 9.0.0
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bunp chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Correct Changelog in README for v9.0.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Correct Changelog in README for v9.0.0 (#3546)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argo-cd): Add context to Changelog in README for v9.0.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Add context to Changelog in README for v9.0.0 (#3547)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): Change default value of `.Values.ingress.enabled` to `false`
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/service.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Allow to disable server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/core-mode-values.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/gke/backendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/frontendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/managedcertificate.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/openshift/route.yaml
  charts/argo-cd/templates/argocd-server/pdb.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argocd-image-updater): Change default value of `.Values.ingress.enabled` to `false` (#3548)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/service.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Update notification deployment to include checksum
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Update notification deployment to include checksum (#3549)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Bump chart version and add changelog line
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Add backendRefs group and kind to HTTPRoute (#3536)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/httproute.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): sso - configure rootCA+rootCAFile
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix: resolved grpcRoute defualt
  charts/argo-cd/templates/argocd-server/grpcroute.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: versioning
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: resolve lint issues
  charts/argo-cd/templates/argocd-server/grpcroute.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: end
  charts/argo-cd/templates/argocd-server/grpcroute.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): allowing apiVersions customization
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/gke/backendconfig.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-workflows): Add support for full CRDs
  CONTRIBUTING.md
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/crds-full/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workflows.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/crds-full/argoproj.io_workflowtemplates.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workflows.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/crds-minified/argoproj.io_workflowtemplates.yaml
  charts/argo-workflows/values.yaml
  scripts/helm-docs.sh
  scripts/lint.sh
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24

chore: switch to raw files and glob including
  charts/argo-workflows/files/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workflows.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/files/crds/full/argoproj.io_workflowtemplates.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workflows.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/files/crds/minimal/argoproj.io_workflowtemplates.yaml
  charts/argo-workflows/templates/crds.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Make make automountServiceSccountToken configurable
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Bump chart version and edit changes
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Allow templating in notification templates.
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco
