Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

fix(argo-cd): add functionality to en/disable argocd-ssh-known-hosts-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

reverted changes
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: event-reporter config for sources-server
  charts/argo-cd/templates/event-reporter/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

KRepo Build FIles (#1)
  charts/argo-cd/BUILD
  charts/argo-events/BUILD
  charts/argo-rollouts/BUILD
  charts/argo-workflows/BUILD
  charts/argocd-apps/BUILD
  charts/argocd-image-updater/BUILD
  scripts/BUILD
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24, @vladlosev

build charts
  charts/argo-cd/BUILD
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): add functionality to en/disable argocd-ssh-known-hosts-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update argo-cd
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix linter
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): add functionality to en/disable argocd-ssh-known-hosts-cm (#3083)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bumpo dex to 2.41.1
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

7.4.7-9-cap-2.12.3-2024.12.23-4a8e092c0
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: CR-26730 bumped redis to 7.2.5 (#115)
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

reverted changes
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated tpl function
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update chart version (#117)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): Correct outdated URL for ingress
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Correct outdated URL for ingress (#3093)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-events): Correct outdated URL for doc
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

docs(argo-events): Correct outdated URL for doc (#3096)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argo-cd): Correct outdated URL for doc
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-events): Support initContainers to controller
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

docs(argo-cd): Correct outdated URL for doc (#3097)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): Add lifecyle and terminationGracePeriodSeconds settings for controller
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Updated tpl function
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

reverted changes
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco
