Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

Update charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Add lifecyle and terminationGracePeriodSeconds settings for controller (#3100)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows) Support ephemeral credentials for s3
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Support ephemeral credentials for s3 (#3101)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): add includePath to renovate.json (#3072)
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Support redis-exporter to Renovate
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-events): Support initContainers to controller (#3098)
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Support redis-exporter to Renovate (#3105)
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(github): Support redis/argocd-extension-installer to Renovate
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: align PR title
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: refactor how to fetch parent dir name
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

reverted changes
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated tpl function
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update changelog for tpl function in ingress
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update changelog for tpl function in ingress
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update chart version 7.7.14
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Drop trailing spaces
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add DRY support for Ingress (#3081)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

helm docs fix
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

dev image 2.13.3-upgrade-0
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

argo-cd v2.13.3-2025.1.9-67d01f9e0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Support workflowEvent configuration to Argo Workflow Controller
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

updated description
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: argo-rollouts restart when configmap changes
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

fix(doc): Correct ingress listen-ports example on README
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Correct ingress listen-ports example on README (#3120)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support workflowEvent configuration to Argo Workflow Controller (#3115)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24
