Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

ok. now try this way again
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

well that still doesn't work. revert
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-rollouts): Replace "float64" with "int" to fix Helm 3.18 incompatibility (#3387)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): Improve ingress service logic to fix Helm 3.18 incompatibility (#3386)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argo-cd): document admin password via helm.values in Application CR
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd) address review comments
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(chart): bump version to 8.1.4 and update changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): document admin password via helm.values in Application CR
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): document admin password via helm.values in Application CR (#3390)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Support ability to override `.global.networkPolicy.create` at the component level (#3382)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Fix to render ingress's port properly
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Owners: @jmeridth, @yu-croco

fix lint
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

add test for ingress
  charts/argo-rollouts/ci/enable-dashboard-values.yaml
Owners: @jmeridth, @yu-croco

merge in changes
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Set file mode of YAML files to 644
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update changes in Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): Fix to render ingress's port properly (#3395)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/ci/enable-dashboard-values.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Remove previous change log entry
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Set file mode of YAML files to 644 (#3397)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): correct typo 'Addtional' to 'Additional' in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): update README.md to fix typo 'Addtional' to 'Additional'
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): correct typo 'Addtional' to 'Additional' in values.yaml (#3403)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Added commitserver to default logging configuration preset
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix inheritance of 'global.logging' values for the commit server component (#3404)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): support dnsConfig parameter
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

add rootpath condition to NOTES.txt
  charts/argo-cd/templates/NOTES.txt
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add annotations:
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): update NOTES.txt for conditional rootpath (#3407)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
