Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

feat(argo-cd): Add params to align upstream
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update dependency argoproj/argo-cd to v3.0.5 (#3332)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add hydrator.enabled parameter
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add hydrator.enabled parameter (#3330)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Replace "float64" with "int" to fix Helm 3.18 incompatibility
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @jmeridth, @yu-croco, @vladlosev, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: elaborate comment about externalRedis.existedSecret
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: also update README.md
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): bump chart version to 8.0.15
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): add changelog of the chart
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update comment about Redis username if existingSecret is set (#3340)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-workflows): Add check whether the workflow server is enabled (#3292)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/gke/backendconfig.yaml
  charts/argo-workflows/templates/server/gke/frontendconfig.yaml
  charts/argo-workflows/templates/server/gke/managedcertificate.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(github): update argo-helm repo usage instructions
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: Fix incorrect values note
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Fix incorrect values note (#3347)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: CR-27379 CR-29587 bump redis to 7.4.4 dex to 2.43.1 redis-ha chart to 4.33.4 (#174)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bumped argo-cd version to v2.14.9-2025-06-08-8821b48e, bumped x/crypto to 0.35.0, bumped go to 1.23.0 (#175)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add support for custom deployment labels
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): change bump from minor to patch instead, and modify the changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Add missed component label to the Argo Events controller manager config map
  charts/argo-events/templates/argo-events-controller/config.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Add missed release and chart metadata labels
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-events/templates/crds/eventbus-crd.yml
  charts/argo-events/templates/crds/eventsource-crd.yml
  charts/argo-events/templates/crds/sensor-crd.yml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/templates/crds/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtemplates.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24, @vladlosev

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(github): Add note to explain about PR unit
  CONTRIBUTING.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: add PR unit description in PR Checklist
  .github/pull_request_template.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): add option to specify the schema in service monitor
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

docs(github): Add a PR checklist for PR unit (#3354)
  .github/pull_request_template.md
  CONTRIBUTING.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-events): add ingress for argo events webhook
  charts/argo-events/templates/argo-events-webhook/ingress.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

update docs
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

update changelog
  charts/argo-events/Chart.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Bump versions of chart due to rebase on main
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

support trafficDistribution in argo repo service
  charts/argo-cd/templates/argocd-repo-server/service.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add release note
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/service.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Add new field "trafficDistribution" to values.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
