Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

chore(argo-cd): add nodeselector and tolerations to redis-secret-init-job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): add nodeselector and tolerations to redis-secret-init job (#2708)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Add traefik.io api group
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

chore(argo-cd): add priorityClassName to redis-secret-init job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): add priorityClassName to redis-secret-init job (#2709)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): Support revisionHistoryLimit
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

chore(argo-rollouts): Align to argo-cd's configuration
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Support revisionHistoryLimit (#2712)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Make redis secret initialization optional
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-events): support for additional labels
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Remove artifacthub.io/changes from previous change
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Make redis secret initialization optional (#2713)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-events): support for additional labels (#2714)
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): represent cluster credentials as a map
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): represent cluster credentials as a map (#2648)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Add test for hpa values
  charts/argo-rollouts/ci/hpa-values.yaml
Owners: @jmeridth, @yu-croco

:art:
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update values.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Prepare PR
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(github): Charts use Helm "Capabilities"
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
