Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

feat(argo-events): Upgrade Argo Events to v1.9.3 (#3055)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix REDIS_PASSWORD optional flag
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update charge version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix REDIS_PASSWORD optional flag (#3058)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Template server ingress extraTls arguments
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Template server ingress extraTls arguments (#3056)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

argo-cd v2.12.3-2024.12.3-a26fd084e
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fixed kind in chart annotations
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fixed chart annotations kind
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump argo-cd to v2.12.7
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update dependency argoproj/argo-cd to v2.12.7
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump argocd-extension-installer to 0.0.8
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: add includePath
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): update RBAC namespaced role
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/rbac.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Bump argocd-extension-installer to 0.0.8 (#3070)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix readiness and liveness probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: update changelog
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): update RBAC namespaced role
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/rbac.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

FIX: move honorLabels config out of condition
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

adjust changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix repo-server honorLabels config template (#3075)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

mod(argo-cd): align permission to upstream
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): update RBAC namespaced role (#3073)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/rbac.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): a link in values.yaml for Kubernetes Ingress docs
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): a link in values.yaml for Kubernetes Ingress docs (#3079)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Updated tpl function
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade chart to v2.12.3-2024.12.17-4d75d35f4 release
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade chart to v2.12.3-2024.12.17-4d75d35f4 release
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
