Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: imporve self heal logic in monorepo
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: add newline
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: add newline
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: add newline
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

updated changes
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): avoid empty namespace in role binding when singleNamespace is true
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): avoid empty namespace in role binding when singleNamespace is true (#2858)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

#2749 Adding ARGOCD_API_SERVER_REPLICAS environment variable to server when autoscaling is not enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: set ttlsecondsafterfinished to prevent stuck during sync when managed by argocd
  charts/argo-cd/templates/redis-secret-init/job.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Upgrade image and CRDs to 2.12.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update appset role
  charts/argo-cd/templates/argocd-applicationset/role.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update env variables
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump Argo CD image to 2.12.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Upgrade to Argo CD 2.12.0 (#2820)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: increased version and added changelig
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Apply suggestions from code review
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Set TTL on redis-secret-init Job (#2861)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): update applicationset clusterrole verbs by analogy with ns-scoped role
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix Redis race condition due to optional REDIS_PASSWORD (#2839)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fix statusbadge.enabled being compared to a bool
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

set application server and repo server address from values for event reporter
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

set application server and repo server address from values for event reporter
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

set application server and repo server address from values for event reporter
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

not required for repo-server
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

remove unused variable
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(github): remove owner section of artifacthub-repo yaml
  artifacthub-repo.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): remove owner section of artifacthub-repo yaml (#2873)
  artifacthub-repo.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump dex to 2.41.1 + regenerate docs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump dex to 2.41.1 + regenerate docs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump dex to 2.41.1 + regenerate docs
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): correct typo
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Align permissions for controller's ClusterRole / Role (#2830)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Update Notification Liveness/Readiness Probes
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
