Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update enable versioning values
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix trailing space
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

split to 2 values for more granular configuration
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update docs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add caSecret
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

bump chart version
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

update argocd
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

rename codefresh appversion envs
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update argocd version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add changelog
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-cd): Add global domain configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add global domain configuration (#2499)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): add caSecret in s3 configuration (#2519)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): allow defining additional labels to service account
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump redis deps
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump redis deps
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump redis deps
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): allow defining additional labels to service account (#2517)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): bump redis chart dep and redis exporter (#2524)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Add missing `global.domain` default values
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/managedcertificate.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/openshift/route.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Add missing `global.domain` default values (#2525)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/managedcertificate.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/openshift/route.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(ingress-aws): Fix path order in AWS Ingress declaration
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: update Chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: add aritfacthub description
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix path order in AWS Ingress declaration (#2531)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Update Redis image to 7.2.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update Redis image to 7.2.4 (#2533)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollout): Add configurable deployment strategy for Argo Rollouts controller
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Restrict write access to rollout status in the aggregated roles
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/aggregate-roles.yaml
Owners: @jmeridth, @yu-croco

feat: format redis health check confimap mode in decimal
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-apps)!: use maps instead of lists
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/applications-multiple-sources-values.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/ci/applicationsets-multiple-sources-values.yaml
  charts/argocd-apps/ci/applicationsets-progressive-syncs-values.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/ci/item-templates.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/templates/item-templates.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(chart): add artifacthub annotations
  charts/argocd-apps/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
