Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

docs
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

docs
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): add configuration for database synchronization (#3449)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(deps): Add Version Support Policy
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

improve policy
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix review points
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: fix doc ref
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(deps): Fix wrong link (#3472)
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

support automountServiceAccountToken
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

update argo-rollout controller serviceMonitor to allow configure tlsConfig for endpoint
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

update the chart version and change log
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

fix review points Signed-off-by: yu-croco <yu.croco@gmail.com>
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix review point
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(deps): Add Version Support Policy (#3466)
  README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: update argo-rollout controller serviceMonitor to allow configure tlsConfig for endpoint
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

Update charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): allow argo rollout controller service monitor to use tlsconfig (#3477)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): add missing ARGOCD_SYNC_WAVE_DELAY configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd)!: Allow override of Applications modifications policy per ApplicationSet by default
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Correct instruction how to override argocd-params-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): use the good server loadBalancerClass value
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(chart): bump version to 8.3.8 and update changelog annotations
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(ingress): update ingress class annotation for GKE compatibility
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Add instruction how to override argocd-params-cm (#3490)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Drop changelog entry from previous PR
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Add newline
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Bump chart version again after resolving merge conflicts
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Update ingress class annotation for GKE compatibility (#3493)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): use the good server loadBalancerClass value (#3444)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24
