Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

feat(argo-cd): Expose cluster's project as a label
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

new argo-cd v2.12-2024.10.5-66e1e38fa with changeRevision reporting
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix lint issue
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

lint fix
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

added ARGOCD_SERVER_ROOTPATH with default value from configmap
  charts/argo-cd/templates/acr-controller/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: new release with custom server-path in acr deployment envs
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): remove useless key in ingress Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: getting version based on synced revision
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Add rights on applicationsets for application controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/role.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Support livenessProbe for Application Controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): add missing event permissions for run actions
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): add missing event permissions for run actions (#2980)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): fixed shard value in clusterCredentials Secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): fixed shard value in clusterCredentials Secret (#2982)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

upgrade argocd to 2.12-2024.10.17-36fb3f0d1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade argocd to 2.12-2024.10.17-36fb3f0d1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade argocd to 2.12-2024.10.17-36fb3f0d1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update README.md
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update _helpers.tpl
  charts/argo-rollouts/templates/_helpers.tpl
Owners: @jmeridth, @yu-croco

Update Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat(argocd-image-updater): update as following upstream
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Discard renovate.yaml change
  .github/workflows/renovate.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): add permission when createClusterRoles is false
  charts/argocd-image-updater/templates/rbac.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support lifecycle and terminationGracePeriodSeconds for server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

upgrade argocd to 2.12.3-2024.10.28-20100fc54
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): Update dependency argoproj-labs/argocd-image-updater to v0.15.0 (#2992)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Bump chart version
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): Add new env to respect log level setting
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support lifecycle and terminationGracePeriodSeconds for server (#2997)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: Update to Argo CD 2.13
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Sync more changes
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Use final image tag for 2.13
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Mention correct version in changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
