Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

feat(argo-cd): Update to Argo CD 2.13 (#2999)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: made argocd image updater cm and secret name templated
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/secret.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

rebase to main
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix indention
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): Add unhealthyPodEvictionPolicy to workflow controller PDB
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Fix the plugin block rendering
  charts/argo-rollouts/templates/controller/configmap.yaml
Owners: @jmeridth, @yu-croco

fixed chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): plugin block rendering was incorrect (#3014)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

add honorLabels config for ServiceMonitor resources
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add honorLabels config for ServiceMonitor resources (#3018)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Update Redis image to 7.4.1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update Redis image to 7.4.1 (#3023)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Upgrade redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Upgrade redis-ha (#3026)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: configurable automountServiceAccountToken
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs(SECURITY.md): update security policy for Argo Rollouts
  SECURITY.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update example values for plugins
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

chore(argo-workflows): Upgrade Argo Workflows to v3.6.0
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/templates/crds/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtemplates.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Fix checksum/cmd-params and checksum/cm to prevent unnecessary diffs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added changes to chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update Redis image to 7.4.1 (#3023)
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Upgrade redis-ha (#3026)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Simplified rendering of sha256sum
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added changes to chart.yaml
  charts/argo-events/Chart.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

chore(argo-cd): Update Redis image to 7.4.1 (#3023)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Fix checksum/cmd-params and checksum/cm to prevent unnecessary diffs
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

chore(argo-cd): Update Redis image to 7.4.1 (#3023)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Fix checksum/cmd-params and checksum/cm to prevent unnecessary diffs
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Added changes to chart.yaml
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco
