Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

docs(argo-rollouts): update security policy for Argo Rollouts in SECURITY.md (#3034)
  SECURITY.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: configurable automountServiceAccountToken
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update example for metrics and trafic routers
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

update documentations
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: clean up cache to pass CI
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

test: rm cache clear. Try latest version of ct test
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

just trying all the things. sorry
  charts/argo-workflows/.helmignore
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

add debug output
  .github/workflows/lint-and-test.yml
  charts/argo-workflows/.helmignore
Owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24

additional debug
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

MOAR debug
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

typo
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

specifically find files
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

use minimal crds
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/templates/crds/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflows.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtemplates.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

rm debug step
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-workflows): Upgrade Argo Workflows to v3.6.0 (#3037)
  .github/workflows/lint-and-test.yml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): Remove excessive wf controller RBAC permissions
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

event-reporter: new env variable CODEFRESH_RUNTIME_VERSION
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): Remove excessive wf controller RBAC permissions (#3044)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: argo-cd v2.12.3-2024.11.14-d7a4c4e7e with repo-server fix of repeated resource for source directory type
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Update application CRD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Update application CRD (#3047)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Change type of trafficRouterPlugins and trafficRouterPlugins as list (#3036)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

event-reporter: new env variable CODEFRESH_RUNTIME_VERSION
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): Make Argo Agent and Artifact GC permissions optional for workflows SA
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/agent-rb.yaml
  charts/argo-workflows/templates/controller/agent-role.yaml
  charts/argo-workflows/templates/controller/artifact-gc-rb.yaml
  charts/argo-workflows/templates/controller/artifact-gc-role.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

rm permissions from workflow role
  charts/argo-workflows/templates/controller/workflow-role.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

explicitly call out plugins
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Updated chart to reflect change to ARGO_BASE_HREF env
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update changelog
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

remove ide formatting
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Updated chart to reflect change to ARGO_BASE_HREF env (#3049)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

dev chart image
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): Make Argo Agent and Artifact GC permissions optional for workflows SA (#3048)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/agent-rb.yaml
  charts/argo-workflows/templates/controller/agent-role.yaml
  charts/argo-workflows/templates/controller/artifact-gc-rb.yaml
  charts/argo-workflows/templates/controller/artifact-gc-role.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-events): Upgrade Argo Events to v1.9.3
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco
