Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

fix(argo-cd): Deprecate logLevel and logFormat values for dex and notifications controller
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update release metrics before ArgoCon EU
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update release metrics before ArgoCon EU (#3215)
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Upgrade redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Deprecate logLevel and logFormat values for dex and notifications controller
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Bump argo-cd chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Upgrade redis-ha (#3216)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(deps): Support helm dependency update
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Deprecate logLevel and logFormat values for dex and notifications controller
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Bump argo-cd chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Deprecate logLevel and logFormat values for dex and notifications controller (#3209)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: Add newline to fix linter (new-line-at-end-of-file)
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

fix(argo-cd): Moved to oliver006/redis_exporter to support mutli-arch images
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Moved to oliver006/redis_exporter to support mutli-arch images (#3221)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): set loglevel and logformat cli args without quotes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): set loglevel and logformat cli args without quotes (#3223)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): restart when configmap changes (#3119)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Also use oliver006/redis_exporter for non-HA redis
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): Fix scope and path to CM for checksum calculation
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Fix scope and path to CM for checksum calculation (#3227)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Sync new variable ARGOCD_LOGLEVEL
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Also use oliver006/redis_exporter for non-HA redis (#3226)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Correct oliver006/redis_exporter image tag
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: add CI for redis-ha redis-exporter sidecar
  charts/argo-cd/ci/ha-autoscaling-values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: enable redis-exporter in defaut ci
  charts/argo-cd/ci/default-values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Correct oliver006/redis_exporter image tag (#3231)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fix yamllint error 'trailing spaces'
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Make code clearer when Redis Secret is optional
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Make code clearer when Redis Secret is optional (#3228)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
