Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

feat: add configurable scrape interval for metrics and telemetry
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): add configurable scrape interval for metrics and telemetry (#2942)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Add Proxy Extensions config
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Arrange for ApplicationSet in any namespace
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update docs
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Add Proxy Extensions config (#2944)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

upgrade helm version in order to fix critical vulnerability
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Arrange for ApplicationSet in any namespace (#2945)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): finalizers for applicationset
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): correct changelog
  charts/argocd-apps/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): correct changelog
  charts/argocd-apps/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): finalizers for applicationset (#2952)
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Added chart values deprecation parameters. This will simplify updates for changes in charts.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added chart values deprecation parameters. This will simplify updates for changes in charts.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deprecation.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): Avoid to create ClusterRole for cluster template when singleNamespace
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Avoid to create ClusterRole for cluster template when singleNamespace (#2955)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update charts/argo-cd/templates/argocd-server/deprecation.yaml
  charts/argo-cd/templates/argocd-server/deprecation.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-cd/Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: Add affinity to redisSecretInit Job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add affinity to redisSecretInit Job (#2962)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

upgrade argocd and fix deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/acr-controller/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

doc(argo-cd): add changelogs Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

ref(argo-cd): using default value for gateway name Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/templates/argocd-server/gateway.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): add gateway creation and gke objects Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/templates/argocd-server/gateway.yaml
  charts/argo-cd/templates/argocd-server/gke/backend-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/gateway-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/healthcheck-policy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): disable gatewayAPI route by default Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): update Chart.yaml version to 7.7.0 Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

doc(argo-cd): generate documentation Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): add gateway namespace configuration Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/templates/argocd-server/gateway.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): support references in spec Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/templates/argocd-server/gke/backend-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/gateway-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/healthcheck-policy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): setting gateway resources namespace from tpl "argo-cd.namespace" Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/templates/argocd-server/gateway.yaml
  charts/argo-cd/templates/argocd-server/gke/backend-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/gateway-policy.yaml
  charts/argo-cd/templates/argocd-server/gke/healthcheck-policy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): remove trailing spaces to pass script lint Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade argocd and fix deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/acr-controller/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): wrong port or health check on argo server Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): invalid reference to ingress in gateway route Signed-off-by: Tristan Duverger <tristan.duverger@gmail.com>
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
