Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): support dnsConfig parameter (#3405)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Update redis_exporter for redis-ha
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump to v1.75.0
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: update README
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update redis_exporter for redis-ha (#3417)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): add server.rootPath configuration
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(argo-workflows): bump chart version to 0.46.0 and update artifacthub changelog
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-rollouts): Correct metricsPort arg
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Allow to disable server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/core-mode-values.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/gke/backendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/frontendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/managedcertificate.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/openshift/route.yaml
  charts/argo-cd/templates/argocd-server/pdb.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

patch
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Upgrade Argo CD v3.1.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Upgrade Argo CD v3.1.0 (#3438)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(server): Use named port 'server' for argocd-server Service targetPort
  charts/argo-cd/templates/argocd-server/service.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump version 7.9.2
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): use the good server loadBalancerClass value
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): add configuration for database synchronization
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

update chart and readme
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

better inclusion of synchronisation in configmap
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore: Also sync new env vars of repo-server
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

replace bitnami redis image with bitnamilegacy redis image
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Use bitnami redis chart with official redis image
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fix service selector for redis-metrics
  charts/argo-cd/templates/redis/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Add change log
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): Fix metricsPort camelcase change
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth, @yu-croco

use named port for service
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
Owners: @jmeridth, @yu-croco

use named port for service
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

use named port for commit server service and probes
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/metrics.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

use named port for commit server service and probes
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

use named port for service
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

use named port for commit server service and probes
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

use named port for service and probes
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24
