Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

upgraded argo-cd to v2.14.9-2025-05-20-9356e64a (#145)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

added image v3.0.2-2025-05-20-6e4ca196
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: Update Redis to 7.4.3 (#151)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update readme
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upgrade redis-haproxy to 3.0.8 to avoid CVEs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

nit
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Adding verbiage for auth scripts and Azure Container Registry if using workload identity.
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

doc: ran the helm-docs script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Bumping the chart version
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Revert pipe and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Revert a few more comments and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Adding some periods and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Forgot the rest of the values and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Revert a few more comments and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Updating a few more comments and run readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Minor typo
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bumped dex to 2.43.0 (#156)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

rm some verbiage and running readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

revert verbiage and running readme script
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

revert verbiage and running readme script
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

Upgrade redis-ha dependency (4.33.7)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Upgrade redis-ha dependency (4.33.7) (#3321)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

rm trailing space and running readme script
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

use dual-stack AWS ECR registry for redis
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco, @mbevc1, @pdrastil, @tico24

chore: Also change HAProxy Image Repo to dual-stack endpoint
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): use dual-stack AWS ECR registry for redis (#3328)
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco, @mbevc1, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argocd-image-updater): adding examples of using workload identity with Azure Container Registry (#3319)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: bumped argocd to v2.14.9-2025-05-29-397c4f0d (#173)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add new params as following upstream
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add params to align upstream
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
