Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

feat(github): Support redis and extension-installer in Renovate
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: Use 3 curly brackets
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Move split by slash from renovate.json to bash script
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: Drop spaces in commands
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

add the requeue setting for appsets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Also run helm-docs
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Try to use helm-docs via "go install"
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Try with docker again
  .github/workflows/renovate.yaml
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(github): Support redis and extension-installer in Renovate - alternative (#3143)
  .github/workflows/renovate.yaml
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Drop unnecessary docs inside README.md and README.md.gotmpl
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix required cluster credentials name (#3136)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(github): Analyse past release times (#3135)
  scripts/release-analysis/.mega-linter.yaml
  scripts/release-analysis/Dockerfile
  scripts/release-analysis/README.md
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/fetch_helmet_releases.py
  scripts/release-analysis/fetch_releases.py
  scripts/release-analysis/main.py
  scripts/release-analysis/merge_csvs.py
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/plot_graph.py
  scripts/release-analysis/requirements.txt
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-events.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Sync CRDs from upstream release
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @jmeridth, @yu-croco

chore: Bump minor chart version
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix typo in argocd chart readme
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Fix typo on README (#3153)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Update to Argo CD 2.14
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/templates/argocd-commit-server/serviceaccount.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Add more customization options to commit-server
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/templates/argocd-commit-server/serviceaccount.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Bump appVersion to v2.14.1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Add 'resources' to commit-server
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Drop commitServer.service.type
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Add ability to disable the commit-server
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/templates/argocd-commit-server/serviceaccount.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Drop commitServer.replicas since there are no upstream docs
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: Allow adding extraVolume and mounts
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Disable commit-server by default
  charts/argo-cd/README.md
  charts/argo-cd/ci/with-commit-server-values.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: Dedicated metrics service with basic customization options
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-commit-server/metrics.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Update to Argo CD 2.14 (#3155)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/with-commit-server-values.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/metrics.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/templates/argocd-commit-server/serviceaccount.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix conditional generation of ssh and tls configmaps
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): only create dex-servicemonitor of dex is enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

numbers are difficult
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): only create dex-servicemonitor if dex is enabled (#3159)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
