Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Revert "removed .Values.eventReporter.enabled condition"
  charts/argo-cd/templates/event-reporter/clusterrole.yaml
  charts/argo-cd/templates/event-reporter/clusterrolebinding.yaml
  charts/argo-cd/templates/event-reporter/metrics.yaml
  charts/argo-cd/templates/event-reporter/networkpolicy.yaml
  charts/argo-cd/templates/event-reporter/pdb.yaml
  charts/argo-cd/templates/event-reporter/prometheusrule.yaml
  charts/argo-cd/templates/event-reporter/role.yaml
  charts/argo-cd/templates/event-reporter/rolebinding.yaml
  charts/argo-cd/templates/event-reporter/serviceaccount.yaml
  charts/argo-cd/templates/event-reporter/servicemonitor.yaml
  charts/argo-cd/templates/event-reporter/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

updated readme
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added option to disable the HTTPS service port (GKE)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: upgrade to 7.7.14-3-cap-2.13.3-2025.2.12-7bfd6c858 (#126)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump argo-workflows chart to v3.6.4-cap-CR-27392
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update Chart.yaml
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(argo-workflows): suggest non deprecated option (#3113)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump the chart
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

helm docs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support readinessProbe to server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/ci/enable-server-readiness-probe-values.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix: readiness/liveness
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/ci/enable-server-liveness-probe-values.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-cd): Add support for controller.sync.timeout.seconds
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add support for controller.sync.timeout.seconds (#3176)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Added a comment how to pass values into argocd-cm ConfigMap
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add comment on README as well
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Added a comment how to pass values into argocd-cm ConfigMap (#3177)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(github): Add dex to renovate-bump-version.sh
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(github): Add dex to renovate-bump-version.sh (#3179)
  renovate.json
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support livenessProbe to server (#3175)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/ci/enable-server-liveness-probe-values.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fixed broken topologySpreadConstraints template in commitServer component
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fixed broken topologySpreadConstraints template in commitServer component (#3182)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Pass commit.server parameter to the application controller to account for the commitServer service name.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-workflows): allow additional rules for service account that runs the workflows
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): allow additional rules for service account that runs the workflows (#3186)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update release metrics
  scripts/release-analysis/README.md
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-events.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Update release metrics (#3188)
  scripts/release-analysis/README.md
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-events.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

bumped dex to 2.42.0 (#129)
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
