Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

fix(argocd-image-updater): add missing attribute
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add Gateway API support
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix servicemonitor selectors (#85)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/ci/codefresh.yaml
  charts/argo-cd/templates/event-reporter/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Address oversights of feature `namespaceOverride`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-secret.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Address oversights of feature `namespaceOverride` (#2821)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-secret.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Address inconsistent redis-secret-init SA handling
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Address inconsistent redis-secret-init SA handling (#2823)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): add clusterrole to avoid workflow-controller errors
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-rollouts): Add missing permissions
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Align permissions for controller's ClusterRole / Role
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

Updating deployment.yaml to remove /usr/local/bin/argocd-server from container args
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bumping chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Updated changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Missing Redis sentinel variables in app controller deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Remove namespace from cluster scope resource
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

combined changes from upstream
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

helm-docs
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Missing Redis sentinel variables in app controller deployment (#2806)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update publish.yml
  .github/workflows/publish.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Add Changelog for v7.0.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Add Changelog for v7.0.0 (#2835)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Add egress for network policies
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix Redis race condition due to optional REDIS_PASSWORD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: Improve processing of webhook events (#87)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: update rollout cluster role
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: update changelog
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

chore(argo-rollouts): add option to disable creation of notifications configmap
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

chore: fix chart version bump
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

chore(argo-rollouts): add option to disable creation of notifications configmap (#2849)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco
