Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

feat: update argocd to 2.9-2024.3.17-6fd9979e1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

update alb ingress docs backend-protocol annotation
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): Added Deployment labels to values.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Fix to work with existing labels
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
Owners: @jmeridth, @yu-croco

fix(argocd-image-updater): Properly quoting the config map values (and other fixes) (#2512)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-events): Support ability to set .Values.namespaceOverride
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

fix(argo-events): update README
  charts/argo-events/README.md
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

feat(argo-events): Add ability to set .Values.namespaceOverride
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

feat(argo-rollouts): Allow customizing additional RBAC rules for other providers (#2556)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-events): Support ability to set .Values.namespaceOverride (#2594)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix: Use range function properly (revert complex changes on item-templates)
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/item-templates.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/templates/item-templates.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps)!: use maps instead of lists (#2538)
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/applications-multiple-sources-values.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/ci/applicationsets-multiple-sources-values.yaml
  charts/argocd-apps/ci/applicationsets-progressive-syncs-values.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Attempt to add newline in Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Added Deployment labels to values.yaml (#2590)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: Apply changes from code review
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): check prometheus CRD for ServiceMonitor (#2430)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-rollouts): add minimum RBAC for Gateway API
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): added Gateway API RBAC values
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

chore: bumping version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: added documentation for the params
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: added change log
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat: adding support to enable custom roles for server cr
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: removing previous changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: fixing docs order
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): add minimum RBAC for Gateway API (#2599)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Upgrade Argo CD to v2.10-2024.3.26-681ab3018
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add sizeLimit parameters on emptyDir
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Properly support "application in any namespace" for the argocd-server ClusterRole
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump version to 6.7.4
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Add changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

notification controller can handle self-managed notification in any namespace
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
