Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

feat: Update argo cd to 2.13.3-2025.3.3-bddbd99f7 (#130)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(github): Make GH action secret SCORECARD_TOKEN obsolete
  .github/workflows/scorecard.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Make GH action secret SCORECARD_TOKEN obsolete (#3189)
  .github/workflows/scorecard.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: updated argo cd to v2.13.3-2025.3.3-bddbd99f7 (#131)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add access to be able to see pod information
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(github): Make GH action secret SCORECARD_TOKEN obsolete (#3189)
  .github/workflows/scorecard.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

bump chart version
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(github): Update release metrics (#3188)
  scripts/release-analysis/README.md
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-events.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): allow additional rules for service account that runs the workflows (#3186)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

add information to the changelog
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

remove old changes
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

bumped the chart and added changelog
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Add access to be able to see pod information
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

remove newline
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Clarify the purpose of the aggregate roles in the values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Clarify the purpose of the aggregate roles in the values.yaml (#3193)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

add default value to revisionHistoryLimit
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

add: webhook & controller revisionHistoryLimit to values.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

add: webhook & controller revisionHistoryLimit to values.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

fix: webhook typo
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

trim default values in deployment
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

add default value to revisionHistoryLimit
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

helmdocs
  charts/argo-cd/README.md
  charts/argo-rollouts/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add to changelog
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): add support for stepPlugins
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Add value to readme
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): add support for stepPlugins (#3199)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-events): Add revisionhistorylimit webhook controller (#3196)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Bump argo-cd chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
