Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

fix enabling notification probes
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

changes 수정
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add change logs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Update Notification Liveness/Readiness Probes (#2872)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

escape backticks properly
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Added changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): add a parameter to chose namespaced or clusterwide mode for AIU
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/clusterrole.yaml
  charts/argocd-image-updater/templates/clusterrolebinding.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): versionning and changelog
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

add(argo-rollouts): update as following upstream
  charts/argo-rollouts/templates/_helpers.tpl
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

removed .Values.eventReporter.enabled condition
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/event-reporter/clusterrole.yaml
  charts/argo-cd/templates/event-reporter/clusterrolebinding.yaml
  charts/argo-cd/templates/event-reporter/metrics.yaml
  charts/argo-cd/templates/event-reporter/networkpolicy.yaml
  charts/argo-cd/templates/event-reporter/pdb.yaml
  charts/argo-cd/templates/event-reporter/prometheusrule.yaml
  charts/argo-cd/templates/event-reporter/role.yaml
  charts/argo-cd/templates/event-reporter/rolebinding.yaml
  charts/argo-cd/templates/event-reporter/serviceaccount.yaml
  charts/argo-cd/templates/event-reporter/servicemonitor.yaml
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

argo-cd with test dev version 2.11-v1-reporter-removed-0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

removed eventReporter.enabled from values.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

upd reporter monitoring conditions
  charts/argo-cd/templates/event-reporter/metrics.yaml
  charts/argo-cd/templates/event-reporter/networkpolicy.yaml
  charts/argo-cd/templates/event-reporter/pdb.yaml
  charts/argo-cd/templates/event-reporter/serviceaccount.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix lint issue
  charts/argo-cd/templates/event-reporter/statefulset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Add missing permissions
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Update dependency argoproj/argo-cd to v2.12.1 (#2885)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

update argo-cd
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

generate helm docs
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

#2749 Adding ARGOCD_API_SERVER_REPLICAS environment variable to server when autoscaling is not enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

#2888 Added support for setting annotations on argo workflows controller configmap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

#2890 Added configmap checksum annotation to restart Deployments on ConfigMap update
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Added support for setting annotations on argo workflows controller configmap (#2889)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Support string type of "true" for `statusbadge.enabled`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Support string type of "true" for `statusbadge.enabled` (#2895)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix testing for supporting event-reporter
  .github/configs/ct-install.yaml
  .github/workflows/lint-and-test.yml
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/dynamic-sharding-values.yaml
  charts/argo-cd/ci/extension-values.yaml
  charts/argo-cd/ci/external-redis-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco, @mbevc1, @pdrastil, @tico24

chore(argo-cd): bump redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): bump redis-ha (#2900)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Rename disableKubeEvents to enableKubeEvents
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

dev image of 2.12.3 argo-cd
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24
