Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

argo dev 2.12 arm
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): add loadBalancerClass field for Service resource (#2772)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): add loadBalancerClass field for Service resources (#2771)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-cd): Fix typo on README
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Fix typo on README (#2907)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix certificate template secretTemplateAnnotations null
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix certificate template secretTemplateAnnotations null (#2909)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

argo cd 2.12.3
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

helm docs gen
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argocd-apps): don't render empty app description
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

[repo server] make cf token required when version reporting is enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): add sync wave delay option for application controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Apply suggestions from code review
  charts/argocd-apps/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-apps): don't render empty app description (#2911)
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

argo cd update to v2.12-2024.9.9-ba613c5bd
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update values.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update Chart.yaml
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update README.md
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update charts/argo-workflows/Chart.yaml
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Add honorLabels parameter to Argo Workflows ServiceMonitor (#2920)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argo-rollouts): add more description for secret creation
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): bump chart version
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): fix lint
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): change reference to controller
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): fix readme
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

docs(argo-rollouts): add more description for notification secret creation (#2922)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

issue-2848 Correction of the imagepullsecret for redis
  charts/argo-cd/templates/redis-secret-init/job.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

issue-2848 Bump chart version to 7.5.3
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-events): Fix events-webhook Service using non-default port
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

fix(argo-events): Fix events-webhook Service using non-default port (#2929)
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco
