Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Add Gateway API HTTPRoute support
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/server/server-backendtlspolicy.yaml
  charts/argo-workflows/templates/server/server-httproute.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

merge in crd changes
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Sync more changes (redis, redis-ha, RBAC, env vars)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: Run helm-docs and bump minor version
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: remove rootCAFile in favor of SSL_CERT_DIR,SSL_CERT_FILE
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(argocd): document in values.yaml server.insecure
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Set default value
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update changelog
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update README
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

Address comments to the PR
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

docs: update changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Revert "docs: update changelog"
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: remove outdated server.log.enforce.enable flag
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs: update changelog
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
