Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

chore(argo-cd): Drop trailing space and bump minor chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): support trafficDistribution in argo repo service (#3358)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix typos
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-cd): Add support for custom deployment labels (#3349)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): Support priorityClassName
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/ci/priority-class-values.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): Support priorityClassName (#3360)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/ci/priority-class-values.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: update upstream argo-cd 3.0.2 and bump helm chart to 8.0.6
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-workflows): add option to specify the schema in service monitor (#3355)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs(argo-cd): add commit server service port and port name to README
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): do not use hardcoded commit server URL
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): update version to 8.1.2
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): do not use hardcoded commit server URL (#3367)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

remove preserveUnknownFields from the Argo Rollouts CRDs
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Support ability to set .Values.namespaceOverride
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/templates/controller/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/clusterrolebinding.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

removed the hardcoded value and added a new command to the server's command line arguments to test
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update charts/argo-rollouts/values.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Apply suggestions from code review
  charts/argo-rollouts/templates/controller/rolebinding.yaml
Owners: @jmeridth, @yu-croco

Apply suggestions from code review
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Support ability to set .Values.namespaceOverride (#3375)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/templates/controller/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/clusterrolebinding.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): add git safe directories support
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

removed trailing spaces
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

added VerticalPodAutoscaler support for application controller #3232
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/vpa.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): do not use hardcoded commit server URL (#3367)
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): Support ability to set .Values.namespaceOverride (#3375)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/templates/controller/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/clusterrolebinding.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

updated docs to match vpa default values settings
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Support to ability to override default network policy create at a component level
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): update README.md
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): update conditions for networkpolicy creation
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-commit-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

remove rollouts as requested
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Owners: @jmeridth, @yu-croco

fix(argo-workflows): Replace "float64" with "int" to fix Helm 3.18 incompatibility
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-rollouts): Replace "float64" with "int" to fix Helm 3.18 incompatibility
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Owners: @jmeridth, @yu-croco

maybe checking for string is safer?
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24
