Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

upgrade argocd
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Format redis health check confimap mode in decimal (#2535)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Allow to use dedicated grpc with GKE implementation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): allow defining custom dex probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Allow to use dedicated gRCP ingress with GKE implementation (#2541)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Allow modification of path and port for dex liveness and readiness probes (#2542)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix dex probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Fix dex probes (#2546)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): Support Template Patch to ApplicationSet
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Add support for application controller dynamic cluster distribution.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/dynamic-sharding-values.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Add support for application controller dynamic cluster distribution. (#2539)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/dynamic-sharding-values.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-apps): Support Template Patch to ApplicationSet (#2549)
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore: add support for http probe scheme for dex
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): add support for http probe scheme for dex (#2550)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add templating of ingress extra paths and rules
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Pass argocd-server's ALB health check
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: changelog lint
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix: revert unnecessary diffs
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Pass argocd-server's ALB health check (#2553)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Allow customizing additional RBAC rules for other providers
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Changing additionalRules from dict to list
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Changing additionalRules from dict to list and addressing comment
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Owners: @jmeridth, @yu-croco

Runing `./scripts/helm-docs.sh` to update the README
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

app versions
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: Migrate to renovate GH action
  .github/configs/renovate-config.js
  .github/workflows/chart-version-bump.yml
  .github/workflows/renovate.yaml
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(github): Migrate to renovate GH action (#2520)
  .github/configs/renovate-config.js
  .github/workflows/chart-version-bump.yml
  .github/workflows/renovate.yaml
  renovate.json
  scripts/renovate-bump-version.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add templating of ingress extra paths and rules (#2530)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

added ability to set .Values.namespace override
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/_helpers.tpl
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): Add ability to set .Values.namespaceOverride (#2562)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/_helpers.tpl
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Support namespaceOverride Signed-off-by: yu-croco <yu.croco@gmail.com>
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/artifact-repository-ref-cm.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/gke/backendconfig.yaml
  charts/argo-workflows/templates/server/gke/frontendconfig.yaml
  charts/argo-workflows/templates/server/gke/managedcertificate.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
