Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

fix(argo-rollouts): Add subscriptions into notifcations-configmap
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Set version
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

fix(argo-rollouts): Updated readme
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

feat(argo-cd): make PrometheusRule deployment conditional on CRD exis… (#2791)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd): add shard option for clusterCredentials
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(values.yaml): fixed trailing spaces
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

feat(argo-workflows): add loadBalancerClass field for Service resources
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-rollouts): update as following upstream
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

chore(argo-cd): add shard option for clusterCredentials (#2779)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Add subscriptions into notifcations-configmap (#2793)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fix of Argo Rollouts notifications subscription
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Fixed Argo Rollouts helm changelog
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

fix(argo-events): Update Jetstream versions as following upstream (#2790)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/values.yaml
Owners: @pdrastil, @jmeridth, @tico24, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Fixed Argo Rollouts helm default values.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

chore(argo-rollouts): Update dependency argoproj/argo-rollouts to v1.7.1
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Fixed Argo Rollouts doc after helm update
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Fix of global subscriptions for Argo Rollouts (#2797)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): add support for passing redis - sentinel credentials (#2492)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Make REDIS_PASSWORD environment variables optional always
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Make REDIS_PASSWORD environment variables optional always (#2800)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-rollouts): Add traefik.io api group (#2703)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

argo-cd v2.11-2024.6.26-5cebdff8d with fixes for application metadata changes reporting
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

argo cd v2.11-2024.7.2-c9bad168e
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: update argo-cd v2.11-2024.7.3-c0941bcb4 with v2 reporter code splitting
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): upgrade as following upstream
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): configure gitCommitSigningKey and gitCommitSignOff
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): allow applicationset-controller listing appprojects
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): missing permission in cluster role
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Owners: @jmeridth, @yu-croco

fix(argo-cd): Fix appset permissions Signed-off-by: Javier Solana <javier.solana@cabify.com>
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

updated versions Signed-off-by: Javier Solana <javier.solana@cabify.com>
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
