Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

remove unnecessary if statements
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Allow adding additional ServiceAccounts to RoleBinding (#2676)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Version bump + changelog
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Update README.md
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

Add podLabels at the controller & dashboard level
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

Add missing --
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Add podLabels at the controller & dashboard level (#2678)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Allow adding additional ServiceAccounts to RoleBinding (#2676)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): autocorrection
  charts/argo-cd/templates/argocd-application-controller/role.yaml
  charts/argo-cd/templates/argocd-application-controller/rolebinding.yaml
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-rollouts): Add podLabels at the controller & dashboard level (#2678)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

fix(argo-cd): typos
  charts/argo-cd/templates/argocd-application-controller/role.yaml
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): typos
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump to 2.11.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump to 2.11.0
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

bump to 2.11.0
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Install applicationset crd always
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add ARGOCD_REVISION_CACHE_LOCK_TIMEOUT to repo server
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Upgrade argocd to 2.11.0 + crd changes (#2681)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Bump Chart.yaml patch version
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update argocd from upstream - updatde docs
  charts/argo-cd/README.md
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

update argocd from upstream - disable event reporter in new values file
  charts/argo-cd/ci/dynamic-sharding-values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Remove filter from publish action
  .github/workflows/publish.yml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Change url in values file for ArgoCD
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update Chart.yaml changelog
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): Always install applicationset crd (#2682)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Always create ApplicationSet as following upstream
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/pdb.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

add `.Values.cf-notifications` overrides to argocd-notifications-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

read values from `cf-notifications.context` as well (not used currently)
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

renamed `cf-notifications` to `cfNotifications`
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

removed empty line
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

moved cf stuff into `codefresh` root element
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

move `subscriptions` into the `with` clause
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

simpler append of subscriptions
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

added root values.yaml to gitignore
  .gitignore
Owners: @mkilchhofer, @jmeridth, @yu-croco

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco
