Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

docs(github): typo fix in security.md (#2343)
  SECURITY.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): Fix outdated URL in values.yaml comments (#2328)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Create notifications clusterrole and clusterrolebinding when enabled (#2326)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrolebinding.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-workflows): Upgrade Argo Workflows to v3.5.1 (#2329)
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Update Bitbucket SSH key (#2317)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argo-cd): add notification cluster role (#2315)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Add checksum for CMP ConfigMap in repo-server Pod annotations (#2275)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(github): update chart testing action due to failure (#2324)
  .github/workflows/lint-and-test.yml
  scripts/lint.sh
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argo-workflows): Upgrade argo-workflows to 3.5.0 (#2228)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-cd): add terminationGracePeriodSeconds (#2310)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): Upgrade Argo CD to v2.8.6 (#2323)
  .github/configs/ct-lint.yaml
  charts/argo-cd/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco, @mbevc1, @pdrastil, @tico24

chore(argo-workflows): Add sample of PostgreSQL ssl entries in values.yaml (#2307)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

feat(argo-workflows): Updated supported workers parameters (#2297)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

chore(argo-cd): Upgrade Argo CD to v2.8.5 (#2313)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-rollouts): controller replicas count comparison (#2309)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @jmeridth

fix(argo-cd): make ServiceMonitor annotations in ArgoCD server conditional (#2273)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Revert "typo fix"
  SECURITY.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-workflows): Configure declarative server auth mode (#2291)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-rollouts): Update AnalysisRun CRD to match upstream (#2320)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
Owners: @jmeridth

feat(argo-workflows): Added commonLabels (#2300)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

typo fix
  SECURITY.md
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): add all crds to aggregate-roles template (#2301)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Redis to 7.0.13 to fix CVE-2022-48174 (#2279)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Align redis-ha's affinity type to upstream due to warnings (#2270)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Sync redis / redis-ha readOnlyRootFilesystem from upstream (#2294)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24
/charts/argo-rollouts/         @jmeridth
