Repository argoproj/argo-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @yu-croco, @vladlosev, @tico24, @mbevc1, @pdrastil

.github/CODEOWNERS:

* @mkilchhofer @jmeridth @yu-croco

/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24
/charts/argo-events/           @pdrastil @jmeridth @tico24 @yu-croco
/charts/argo-rollouts/         @jmeridth @yu-croco

fixed notifiers and subscriptions
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

removed empty line
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore(argo-cd): add changelog
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Always create ApplicationSet as following upstream (#2688)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/pdb.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix Service configuration for Argo server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): add ssh signing key support to deployment, updated README with instructions to add SSH keys for signing
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argocd-image-updater): added default values for sign off and signing key
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-cd): Fix Service configuration for Argo server (#2690)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat(argo-cd): Add Gateway API support
  charts/argo-cd/templates/argocd-server/gateway-httproute.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Revert notifications controller changes done for promotions
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Security - Redis authentication - cherry pick from https://github.com/argoproj/argo-helm-ghsa-4j3q-9h77-jq5x (#74)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/event-reporter/statefulset.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/health-configmap.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

feat(argocd-image-updater): update deployment as following upstream
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): correct doc
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argocd-image-updater): fix manifest
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

chore(argocd-image-updater): bump version
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

docs: Add changelog description
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat: Improve documentation to argo rollouts
  charts/argo-rollouts/README.md
Owners: @jmeridth, @yu-croco

feat: Bump the minor version of chart argo-rollouts
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth, @yu-croco

feat: Add pre defined values for HPA in Argo Rollouts controller
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/hpa.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

feat(argo-rollouts): Add hpa to handle controller scaling
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/hpa.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

Adding checksum to argocd-cm to dex pod
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-workflows): Add missing serviceLabels to server service
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-cd): Adding checksum for argocd-cm to dex pod (#2695)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

feat: use a global setting to enable dual stack
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-notifications/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/service.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/templates/dex/service.yaml
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

chore: scaling down the max replicas of HPA
  charts/argo-rollouts/values.yaml
Owners: @jmeridth, @yu-croco

fix(argo-workflows): Correct sample of secondsAfterCompletion
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

fix(argo-workflows): Correct sample of secondsAfterCompletion (#2702)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

fix(argo-workflows): Add missing serviceLabels to server service (#2698)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @vladlosev, @jmeridth, @yu-croco, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco

Merge pull request from GHSA-4j3q-9h77-jq5x
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/health-configmap.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

docs(argo-cd): Add changelog line for v2.11.1
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

fix(argo-cd): Enable Redis authentication in the default installation (#2705)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/health-configmap.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil, @tico24

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth, @yu-croco
