Repository argoproj/argo-helm, pull requests merged in 2019-12, with the labels that each got.

#158 added option to set admin.password, tls.key and tls.cert in argocd-se…
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#171 [charts/argo-cd] Fix reference to cert config
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Labels: argo-cd

#177 Allow custom tools for argo-cd in helm chart
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#184 [charts/argo-cd] Bump version to 1.3.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#182 fix: argocd-secret reference in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#185 feat: Add securityContext. Fixes #96
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#188 feat: Update argo chart for version v2.4.3
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Labels: argo, version-bump
