Repository argoproj/argo-helm, pull requests merged in 2019-11, with the labels that each got.

#164 Minor fixes 11 11
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#162 [argo-events] v0.11 update
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/ci/test-values.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-sa.yaml
  charts/argo-events/values.yaml
Labels: argo-events

#160 Repo server rbac
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/role.yaml
  charts/argo-cd/templates/argocd-repo-server/rolebinding.yaml
  charts/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#165 [charts/argo-cd] Update to 1.3, some chart cleanup
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/crds/application-crd.yaml
  charts/argo-cd/templates/crds/appproject-crd.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#167 ArgoCD: Configure Repository Credentials in Values
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/repository-credentials-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd
