Repository argoproj/argo-helm, pull requests merged in 2020-05, with the labels that each got.

#327 docs: Mention bcrypt hashing for admin password in README.md
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Labels: argo-cd, bug

#335 chore: update argocd version to 1.5.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, version-bump

#262 fix: argo-wf persistence configuration
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Labels: argo, bug

#345 feat: Add support for ClusterWorkflowTemplates (a 2.8 feature).
  charts/argo/Chart.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/server-cluster-role.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-clusterrole.yaml
Labels: argo, enhancement

#343 fix: workflow-controller-config-map.yaml
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
Labels: argo, enhancement

#355 Spelling: kuberentes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, bug
