Repository argoproj/argo-helm, pull requests merged in 2020-03, with the labels that each got.

#253 fix: indentation typo on example
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, bug

#258 feat: Update Argo Chart to support v2.6.1
  charts/argo/Chart.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/templates/NOTES.txt
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-role.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/ui-deployment-pdb.yaml
  charts/argo/templates/ui-deployment.yaml
  charts/argo/templates/ui-sa.yaml
  charts/argo/templates/ui-service.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-clusterrole.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/values.yaml
Labels: argo, version-bump

#257 feat: Support for labels & annotations for dex & redis pods
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#216 feat: Added possibility to override BASE_HREF env variable…
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#268 feat: add imagePullSecrets, labels, annotations and update CRDs
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, enhancement
