Repository argoproj/argo-helm, pull requests merged in 2020-04, with the labels that each got.

#286 feat: add support for setting s3 region for artifact repository
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#314 feat: add BackendConfig configuration for GKE
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/backendconfig.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#279 fix: update argo-cd insecure example in README.md
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Labels: argo-cd, bug

#319 feat: Adds support for workflow defaults in Argo.
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#296 feat: upgrade Argo to v2.7.6
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Labels: argo, version-bump

#307 fix: Argo Server Secrets Permissions
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-role.yaml
  charts/argo/templates/workflow-controller-clusterrole.yaml
Labels: argo, bug

#317 feat: Allow custom paths for server ingress
  charts/argo/Chart.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#278 fix: update server-cluster-role.yaml
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-role.yaml
Labels: argo, bug

#331 docs: Add paguos to argo workflows codeowners
  CODEOWNERS
Labels: argo

#263 feat: add support for namespaced install
  .gitignore
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-role.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/workflow-controller-clusterrole.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-sa.yaml
  charts/argo/values.yaml
Labels: argo, enhancement
