Repository argoproj/argo-helm, pull requests merged in 2020-02, with the labels that each got.

#229 [Argo] update subchart minio and add Helm 3 CRD folder
  charts/argo/Chart.yaml
  charts/argo/charts/minio-1.3.3.tgz
  charts/argo/charts/minio-5.0.6.tgz
  charts/argo/crds/workflow-crd.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
Labels: argo, enhancement, helm3

#226 feat: Add chart for argo-rollouts
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrolebinding.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/templates/argo-rollouts-metrics-service.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/argo-rollouts-rolebinding.yaml
  charts/argo-rollouts/templates/argo-rollouts-sa.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, enhancement

#206 feat: Support Affinity and Tolerations for Argo Chart
  charts/argo/Chart.yaml
  charts/argo/templates/ui-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#233 fix: Make clusterrole & clusterrolebinding optional for argocd-server again
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#236 fix: Make port names configurable for repo-server and controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/service.yaml
  charts/argo-cd/templates/argocd-repo-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#240 feat: Add HPA for ArgoCD server and repoServer components
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#245 fix: reorder hpa metrics to avoid displaying diffs in argocd
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
Labels: argo-cd, bug
