Repository argoproj/argo-helm, pull requests merged in 2020-11, with the labels that each got.

#497 feat: Add support for Argo links
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#482 feat: Add parallelism to argo-helm chart
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#499 feat(Argo): Add secret access whitelist for server.
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#481 fix --pod-workers helm context
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
Labels: argo, bug

#496 feat: Allow replicas to be set for application-controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement
