Repository argoproj/argo-helm, pull requests merged in 2020-10, with the labels that each got.

#458 chore: update certificate apiVersion
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Labels: argo-cd, enhancement

#463 feat: Allow setting the log format to json for Argo CD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#460 feat(Argo): Make Argo Server service account creation conditional.
  charts/argo/Chart.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#466 fix(argocd): Unconditionally start reposerver with uid_entrypoint.sh
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, enhancement

#341 fix: Add Ocp clusterrole
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Labels: argo-rollouts, enhancement, openshift

#465 feat: add extraContainers argument to deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement

#451 feat: upgrade argo to v2.11
  charts/argo/Chart.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#470 feat(argo): add PriorityClass support
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Labels: argo, enhancement

#473 fix: Add annotations and labels to dex service [argo-cd]
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/service.yaml
Labels: argo-cd, enhancement

#469 docs: Fixed typo in values comment
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Labels: argo, bug
