Repository argoproj/argo-helm, pull requests merged in 2020-01, with the labels that each got.

#203 feat: add kubernetes version tag and set container security capabilities
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#210 Upgrade Argo-CD to v1.4.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, version-bump

#214 feat: Bump to version 1.4.1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd

#213 fix: update certificate apiVersion
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Labels: argo-cd, enhancement

#207 Allow manually setting password modification time
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, enhancement
