Repository argoproj/argo-helm, pull requests merged in 2021-12, with the labels that each got.

#929 feat(argo-cd): Support for additional labels
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1037 docs(argo-cd): mention declarative set up for Argo-CD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S, documentation

#1048 feat(argo-workflows): Add dev/delegated auth
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1040 feat(argocd-image-updater): Mount ssh-known-hosts from argocd
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Labels: argocd-image-updater, size/S

#1041 feat(argocd-applicationset): Add resources metrics-service and servicemonitor.
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/ci/servicemonitor-values.yaml
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/templates/metrics-service.yaml
  charts/argocd-applicationset/templates/servicemonitor.yaml
  charts/argocd-applicationset/values.yaml
Labels: argocd-applicationset, size/L

#973 feat(argo-rollouts): Allow setting the type for the dashboard service
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1050 feat(argo-cd): Add support for extension
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/crds/crd-extension.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/extensions-rolebinding.yaml
  charts/argo-cd/templates/argocd-server/extensions.yaml
  charts/argo-cd/templates/argocd-server/extentions-role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1053 feat(argo-cd): Add support for argocd-extensions resources
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1057 feat(argocd-notifications): Update to app version v1.2.1
  charts/argocd-notifications/Chart.yaml
Labels: size/XS

#1061 feat(argo-cd): Upgrade argocd to v2.2.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1058 fix(argo-cd): Merge duplicate initContainer entries introduced in 3.29.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1063 fix(argo-cd): Revert initContainers copyUtil param
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1065 feat(argo-workflows): Upgrade argo-workflows to v3.2.6
  charts/argo-workflows/Chart.yaml
Labels: size/XS

#1067 fix(argo-cd): Add ArgoCDExtension CRD again
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-extension.yaml
Labels: size/L

#1066 feat(argocd-notifications): Support new notification controller features from argoproj-labs/argocd-notifications#77
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/configmap.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Labels: argocd-notifications, size/M

#1016 feat(argo-rollouts): Support HA mode for controller with multiple replicas
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XS
