Repository argoproj/argo-helm, pull requests merged in 2021-05, with the labels that each got.

#743 feat(argo-cd): add support for envFrom
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#704 fix(argo-cd): Add option to override kubeVersion
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/values.yaml
Labels: argo-cd, bug, size/M

#751 fix(argo-cd): envFrom in repoServer
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, bug, size/XS

#738 feat(argo-rollouts): add labels to crd to identify the rollout crds
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Labels: argo-rollouts, size/S

#657 feat(argo-workflows): add value to avoid creating RBAC related to ClusterWorkflowTemplates
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#757 fix(argo-rollouts): Removed duplicated resources declaration
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
Labels: size/XS

#755 fix(argo-cd): Fix duplicate secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, bug, size/XS

#761 feat(argo-events): add support for resource requests/limits
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/XS

#708 feat(argo-events): Add annotations to argo-events-sa.
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-sa.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#673 feat(argocd-notifications): add service account annotations
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/bots/slack/serviceaccount.yaml
  charts/argocd-notifications/templates/serviceaccount.yaml
  charts/argocd-notifications/values.yaml
Labels: argocd-notifications, size/S

#759 fix(argo-workflows): use template for all resource names
  CODEOWNERS
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/NOTES.txt
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#766 feat(argo-cd): Bump default version to v2.0.3
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: size/XS

#705 feat(argo-events): support namespaced deployments
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
Labels: argo-events, size/XS

#772 fix(argo-cd): Update dex to v2.27.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: size/XS

#752 feat(argo-rollouts): Update manifests for v1.0.1
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrolebinding.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/templates/argo-rollouts-metrics-service.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/argo-rollouts-rolebinding.yaml
  charts/argo-rollouts/templates/argo-rollouts-sa.yaml
  charts/argo-rollouts/templates/argo-rollouts-service-monitor.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/L

#771 chore(argo-events): Use container images from quay.io
  charts/argo-events/Chart.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#770 chore: Remove old workflow(s) in '.argo' directory
  .argo/argo-checkout.yaml
  .argo/publish.yaml
Labels: size/M

#769 feat(argo-workflows): Add support for fullnameOverride
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
Labels: argo-workflows, size/S

#773 fix(argo-workflows): Fix indentation when using extraEnv
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, bug, size/M

#774 docs: Update ingress extraPaths examples
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: size/M

#775 fix(argo-rollouts): Allow metrics service without ServiceMonitor
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-metrics-service.yaml
  charts/argo-rollouts/templates/argo-rollouts-service-monitor.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XS
