Repository argoproj/argo-helm, pull requests merged in 2021-11, with the labels that each got.

#989 fix(argo-workflows): Restore RBAC permission and clarify namespace settings.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1006 fix(argo-cd): Make argocd-server /home/argocd/.aws writeable when using readOnlyRootFilesystem=false security context
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: size/S

#999 feat(argo-rollouts): Allow additional containers in controller deployment
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1005 feat(argocd-image-updater): Optionally expose metrics
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/L

#1010 fix(argo-cd): Added openshift route options to values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/route.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1011 feat(argo-cd): Add signature keys for GPG in additionalProjects
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1015 docs(argocd-notifications): Use helm-docs
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/README.md.gotmpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Labels: argocd-notifications, size/L

#993 fix(argo-rollouts): Update ClusterRole to include 'elbv2.k8s.aws.targetgroupbindings'
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Labels: argo-rollouts, size/M

#987 feat(argocd-image-updater): Add ability to mount authentication scripts
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#1018 fix(argo-cd): Update github SSH key fingerprint
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS, security

#1017 fix(argocd-image-updater): Bump application version
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#1003 docs(argo-workflows): Use helm docs for workflows
  .github/workflows/lint-and-test.yml
  .helmdocsignore
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XL

#1024 feat(argo-cd): Upgrade argocd to v2.1.7
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Labels: argo-cd, size/S

#1030 feat(argo-workflows): Upgrade argo-workflows to v3.2.4
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#986 feat(argocd-image-updater): Add missing config map key for git commit-message-template
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/L

#1008 feat(argo-workflows): support resourceRateLimit config
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#915 feat(argo-workflows): Include pod name in key format for GCS logs
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#1029 chore(argocd): remove myself from CODEOWNERS
  CODEOWNERS
Labels: size/XS

#1032 fix(argo-workflows): Add missing WorkflowTasksets RBAC to controller
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Labels: size/XS

#1021 feat(argo-cd): add flag and labels for application labels
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1036 feat(argocd-image-updater): Update to app version v0.11.0
  charts/argocd-image-updater/Chart.yaml
Labels: size/XS

#1039 feat(argocd-notifications): Update to app version v1.2.0
  charts/argocd-notifications/Chart.yaml
Labels: size/XS

#1043 feat(argo-cd): support initContainers on all pods
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1044 chore(argocd): remove myself from CODEOWNERS
  CODEOWNERS
Labels: size/S
