Repository argoproj/argo-helm, pull requests merged in 2021-09, with the labels that each got.

#921 feat(argo-cd): Upgrade argocd to v2.1.2
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: size/S

#924 feat(argo-workflows): Add controller containerRuntimeExecutors param to configmap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: size/S

#930 fix(argo-cd): global podLabels/podAnnotations object unexpected merge
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/S

#926 feat(argo-workflows): Adding initialDelay param to controller configmap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: size/XS

#933 fix(argocd-image-updater): Add scratch space for /tmp
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Labels: argocd-image-updater, size/XS

#927 feat(argo-cd): add extraContainers to pods besides server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#874 feat(argocd-image-updater): Add custom environment variables
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#913 fix(argo-rollouts): use `image.tag` in labels if provided
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
Labels: argo-rollouts, size/XS

#917 feat(argo-cd): Add support for topologySpreadConstraints
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#922 feat(argo-rollouts): Default to keeping CRD's on helm uninstall
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#892 feat(argo-cd): Add ability to scrape redis metrics
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/metrics-service.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#934 feat(argo-workflows): Allow setting the metrics port name
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: size/XS

#919 feat(argo-cd): Ability to provide cluster role to repo-server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#939 docs(argocd-image-updater): update default values example
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#938 feat(argo-workflows): Allow NodePort to be specified for server service.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#941 fix(argo-cd): Also add hostAliases to dex deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/S

#945 chore: Update to stale action v4
  .github/workflows/stale.yml
Labels: size/XS

#942 chore: Require related chart name in issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: size/M, documentation

#946 feat(argocd-applicationset): Add extraArgs
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Labels: size/S, argocd-applicationset

#948 chore(argocd-applicationset): Dedup default values for CI
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/ci/default-values.yaml
Labels: size/M, argocd-applicationset

#949 chore(argo-rollouts): Define two separate tests
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/ci/default-values.yaml
  charts/argo-rollouts/ci/enable-dashboard-values.yaml
  charts/argo-rollouts/ci/test-values.yaml
Labels: argo-rollouts, size/S

#950 chore(argo-workflows): Also test with default values
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/default-values.yaml
Labels: argo-workflows, size/XS

#944 feat(argo-cd): Implement server.additionalApplications[].info
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/applications.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#953 fix(argo-cd): repoServer.extraContainers values variable unused
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: size/XS

#952 feat(argocd-notifications): support annotations on secret object
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Labels: argocd-notifications, size/S
