Repository argoproj/argo-helm, pull requests merged in 2022-07, with the labels that each got.

#1358 feat(argo-events): Upgrade controller to v1.7.1
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#1362 fix(github): update link to the project page in README.md
  README.md
Labels: size/XS, documentation

#1369 feat(argo-workflows): Assign common labels to some resources
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
Labels: argo-workflows, size/S

#1373 feat(argo-cd): Upgrade argocd to v2.4.6
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1375 feat(argo-cd): Added apiVersion switch for autoscaling resources
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1366 feat(argo-rollouts): Add extra manifests option to chart
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/extra-manifests.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1378 feat(argo-cd): Upgrade argocd to v2.4.7
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1368 feat(argo-cd): Truncate version labels to 63 characters
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/M

#1377 feat(argo-workflows): Add global tag
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1386 fix(argo-cd): redis and redis-exporter image was migrated from docker hub to public ecr for docker hub rate limit
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1322 fix(argo-cd): Drop all `~` keys from redis-ha because they cause error on kustomize and cannot document via helm-docs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1387 chore(argo-cd): update redis to 7.0.4 for avoiding CVE-2022-30065
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
