Repository argoproj/argo-helm, pull requests merged in 2022-01, with the labels that each got.

#1075 feat(argo-cd): Upgrade argocd to v2.2.2
  charts/argo-cd/Chart.yaml
Labels: size/XS

#1074 feat(argo-rollouts): Support LoadBalancer settings for dashboard Service
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1070 feat(argocd-applicationset): Update to app version v0.3.0
  .github/configs/ct-install.yaml
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/crds/crd-applicationset.yaml
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/templates/service.yaml
  charts/argocd-applicationset/values.yaml
Labels: argocd-applicationset, size/XXL

#1059 feat(argocd-applicationset): Add ingress for webhook
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/README.md.gotmpl
  charts/argocd-applicationset/templates/_helpers.tpl
  charts/argocd-applicationset/templates/webhook-ingress.yaml
  charts/argocd-applicationset/values.yaml
Labels: argocd-applicationset, size/L

#1080 fix(argo-rollouts): bump to v1.1.1
  charts/argo-rollouts/Chart.yaml
Labels: argo-rollouts, size/XS

#1081 feat(argo-events): Allow specifying container security context for controllers
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#870 feat(argo-rollouts): Add rollouts dashboard ingress support
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, awaiting-upstream, size/L

#1082 chore(argocd): Add my self as maintainer
  CODEOWNERS
Labels: size/XS

#1083 fix(argocd-image-updater): Update to app version v0.11.2
  charts/argocd-image-updater/Chart.yaml
Labels: size/XS

#1084 fix(argo-rollouts): Fix service name for ingress rollouts dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
Labels: size/XS

#1088 feat(argo-cd ingress): support google managed certificates for gce ingress
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-server/frontendconfig.yaml
  charts/argo-cd/templates/argocd-server/managedCertificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1090 feat(argo-events): Use helm-docs for Argo Events
  .helmdocsignore
  charts/argo-events/.helmignore
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
  charts/argo-events/ci/test-values.yaml
  charts/argo-events/templates/eventbus-controller/deployment.yaml
  charts/argo-events/templates/eventsource-controller/deployment.yaml
  charts/argo-events/templates/sensor-controller/deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/L

#1092 feat(argo-events): Bump argo-events to the latest release
  charts/argo-events/Chart.yaml
Labels: size/XS

#1093 feat(argo-cd): Add resources to copyutil initContainer
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1094 feat(argo-cd): Added ability to deploy extra K8s manifests
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/extra-manifests.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1099 feat(all): Add Documentation Guidelines
  .github/pull_request_template.md
  CONTRIBUTING.md
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-events/.helmignore
  charts/argo-events/Chart.yaml
  charts/argo-rollouts/.helmignore
  charts/argo-rollouts/Chart.yaml
  charts/argo-workflows/.helmignore
  charts/argo-workflows/Chart.yaml
  charts/argocd-applicationset/.helmignore
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-image-updater/.helmignore
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-notifications/.helmignore
  charts/argocd-notifications/Chart.yaml
  scripts/helm-docs.sh
Labels: size/M, documentation

#1100 feat(argo-rollouts): Use helm-docs to generate README.md
  .helmdocsignore
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/L

#1102 feat(argo-cd): Bump argo-cd to v2.2.3 and Redis to v6.2.6
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1103 fix(argo-cd): Add custom volume as Helm working dir
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: size/S

#1104 feat(argo-workflows): argo workflows chart to allow set the namespace of Prometheus ServiceMonitor.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1110 feat(argo-cd): add poddisruptionbudget template.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/poddisruptionbudget.yaml
  charts/argo-cd/templates/argocd-repo-server/poddisruptionbudget.yaml
  charts/argo-cd/templates/argocd-server/poddisruptionbudget.yaml
  charts/argo-cd/templates/dex/poddisruptionbudget.yaml
  charts/argo-cd/templates/redis/poddisruptionbudget.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1107 fix(argo-cd): Quote annotation values
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/route.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/metrics-service.yaml
  charts/argo-cd/templates/redis/service.yaml
Labels: argo-cd, size/M
