Repository argoproj/argo-helm, pull requests merged in 2022-09, with the labels that each got.

#1436 fix(argo-cd): add automountServiceAccountToken to repoServer
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS

#1439 feat(argo-cd): Add priorityClassName to notifications
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1442 fix(argo-cd): Duplicated dex init containers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/S

#1457 feat(argo-cd): Upgrade argocd to v2.4.12
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1462 chore(argo-cd): Update Redis HA to 4.22.2
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1459 chore(argo-cd): Update Dex image
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1448 feat(argo-cd): Allow setting the private key algorithm in the Certificate spec
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1267 feat(argo-cd): Add argocd-cmd-params-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/argocd-cmd-params-cm.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#1473 fix(argo-workflows): remove unsupported value from SSO configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#1478 feat(argo-cd): Add username support for external redis
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1480 fix(argo-cd): Fix UI error caused by new config
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1484 fix(argo-cd): Rendering of node selector for repoServer
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS

#1481 docs(argo-cd): minor clarification around CRDs for Argo-CD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#1483 fix(argo-workflows): Set only used values on SSO configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1489 fix(argo-cd): Add missing templating for some service labels
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/service.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-repo-server/service.yaml
Labels: argo-cd, size/S

#1487 fix(argo-workflows): change default type of `.mainContainer.env` and `.executor.env` from object to array
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1488 feat(argo-workflows): Support Azure Blob Storage for artifact
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1492 fix(argo-workflows): failed SSO configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Labels: argo-workflows, size/S

#1493 fix(argo-workflows): Helm syntax on SSO configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Labels: argo-workflows, size/XS

#1434 docs(argo-cd): Fix link to chart source
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#1495 feat(argo-workflows): Add extra manifests to deploy within the chart
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/extra-manifests.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1466 chore(argo-rollouts): Upgrade to argo-rollouts 1.3.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Labels: argo-rollouts, size/L

#1502 docs(argo-cd): Fix v5.5.0 upgrade guide heading
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/XS

#1500 chore(argo-rollouts): Upgrade argo-rollouts to 1.3.1
  .editorconfig
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
Labels: argo-rollouts, size/S
