Repository argoproj/argo-helm, pull requests merged in 2022-08, with the labels that each got.

#1390 feat(argo-cd): Upgrade argocd to v2.4.8
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1370 feat(argo-cd): Add entry and notes for admin.enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1392 ci(github): Cleanup unused chart-repos
  .github/configs/ct-install.yaml
  .github/configs/ct-lint.yaml
  .github/workflows/lint-and-test.yml
  .github/workflows/pr-sizing.yml
  .github/workflows/publish.yml
Labels: size/S

#1393 feat(argo-workflows): Upgrade argo-workflows to v3.3.9
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1395 feat(argo-cd): Upgrade argocd to v2.4.9
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1397 chore(github): Enable GitHub Discussions
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/XS

#1401 fix(argo-workflows): Changed default .Values.artifactRepository.s3.insecure to false for security
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#1404 feat(argo-cd): Upgrade argocd to v2.4.10
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1400 chore(argo-cd): Update documentation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/L

#1414 chore(github): add argocd-apps on pr-title
  .github/workflows/pr-title.yml
Labels: size/XS

#1416 feat(argo-cd): Upgrade argocd to v2.4.11
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1388 feat(argo-rollouts): flag to disable clusterrole/clusterrolebinding creation
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/aggregate-roles.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/dashboard/clusterrole.yaml
  charts/argo-rollouts/templates/dashboard/clusterrolebinding.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1411 chore(github): bump lint container for arm/M1 macs
  .github/workflows/lint-and-test.yml
  scripts/lint.sh
Labels: size/XS

#1417 chore(argo-cd)!: Remove apps, appprojs and deprecated features
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/applications.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret-legacy.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1376 feat(argo-cd): Added spec.behavior in HPA
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1342 feat(argo-cd): manage CRD by Helm
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/external-redis-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-extension.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1421 feat(argo-cd): update redis-ha to v4.20.0
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1419 chore(argo-cd): Move notification configs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1422 feat(argo-cd): Add global logging options
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1413 feat(argo-cd): Set ARGOCD_CONTROLLER_REPLICAS automatically
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1423 fix(argo-cd): invalid yaml with topologySpreadConstraints
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Labels: argo-cd, size/S

#1424 fix(argo-cd): Removal of duplicate mapping key annotations in crds
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-extension.yaml
Labels: argo-cd, size/S

#1426 chore: Change helm chart maintainers to argoproj
  charts/argo-cd/Chart.yaml
  charts/argo-events/Chart.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, argo-events, argo-cd, argo-rollouts, size/M

#1429 chore(argo-cd): Upgrade redis-ha chart
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1320 feat(argo-cd): Add appHardResyncPeriod option for controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1410 feat(argo-rollouts): Add initContainers to controller pod, allow secrets to be manipulated
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M
