Repository argoproj/argo-helm, pull requests merged in 2022-12, with the labels that each got.

#1681 chore(argo-workflows): removed deprecated Role rbac
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/XS

#1678 feat(argocd-apps): Update project templates
  .github/workflows/lint-and-test.yml
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
Labels: size/S, argocd-apps

#1680 fix(argo-workflows): missing artifact GC rbac
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/XS

#1679 feat(argo-cd): Set aggregate roles only for using resources, with argocdextensions also
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1687 chore(argo-cd): Update ArgoCD to v2.5.4
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1692 fix(argo-workflows): avoid label exceeding maximum length
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Labels: argo-workflows, size/M

#1693 fix(argo-events): avoid label exceeding maximum length
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Labels: argo-events, size/M

#1698 feat(argocd-apps): Support sourceNamespaces for AppProject
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#1700 feat(argo-cd): Add annotations to PrometheusRule
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1704 fix(argo-cd): Prevent could not parse 0 warning
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1706 docs(argo-cd): Fix Argo CD value description typos for AppSet and Notification controllers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1713 chore(argo-cd): add new api version for cert-manager
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_versions.tpl
Labels: argo-cd, size/XS

#1710 chore(argo-events): use policy/v1 for poddisruptionbudgets, when available
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
Labels: argo-events, size/S

#1712 feat(argo-events): Add the ability to change the port for argo-events webhook
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#1715 chore(argo-cd): Update ArgoCD to v2.5.5
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1708 feat(argo-workflows): Support images property to workflow-controller-configmap for emissary executor
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1716 chore(argo-workflows): Support missing configurations to workflow controller cm
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1719 fix(argo-cd): remove incorrect flag for repoServer TLS secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-repo-server-tls-secret.yaml
Labels: argo-cd, size/XS

#1720 chore(argo-cd): Support relabelings and metricRelabelings to Notification's ServiceMonitor
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1726 chore(argo-workflows): Add changelog link on README
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/S

#1730 chore(argo-events): upgrade argo-events to app version 1.7.4
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#1731 chore(argocd-apps): Add changelog link on README
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/README.md.gotmpl
Labels: size/S, argocd-apps

#1732 chore(argo-cd): Update redis-ha to v4.22.4
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1737 feat(argo-cd): Add hostAliases to ApplicationSet Deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
Labels: argo-cd, size/XS

#1740 chore(argo-cd): Remove legacy API versions for PDBs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_versions.tpl
  charts/argo-cd/templates/argocd-application-controller/pdb.yaml
  charts/argo-cd/templates/argocd-applicationset/pdb.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/pdb.yaml
  charts/argo-cd/templates/argocd-notifications/pdb.yaml
  charts/argo-cd/templates/argocd-repo-server/pdb.yaml
  charts/argo-cd/templates/argocd-server/pdb.yaml
  charts/argo-cd/templates/dex/pdb.yaml
  charts/argo-cd/templates/redis/pdb.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1743 chore(argo-cd): Add pdrastil as Argo CD codeowner
  CODEOWNERS
Labels: size/XS

#1742 chore(argo-cd): Remove legacy API versions for Ingresses
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_versions.tpl
  charts/argo-cd/templates/argocd-applicationset/webhook-ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1741 chore(argo-workflows): Remove legacy API versions for PDBs
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
Labels: argo-workflows, size/S

#1735 fix(argo-events): Added missing NATS version in values.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#1736 feat(argo-workflows): add envFrom for main container
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S
