Repository argoproj/argo-helm, pull requests merged in 2022-06, with the labels that each got.

#1302 fix(argo-workflows): Remove unsupported value
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1311 feat(argo-cd): support separate imagePullSecrets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1312 chore: Update some tools' versions on GitHub Actions
  .github/workflows/lint-and-test.yml
  .github/workflows/pr-sizing.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
Labels: enhancement, size/S

#1271 chore(CODEOWNERS): Nominate jmeridth as an approver
  CODEOWNERS
Labels: size/XS

#1314 feat(argo-cd): Support annotations in argocd-configs secrets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1310 feat(argo-workflows): Add mainContainer config in configmap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1319 chore(CODEOWNERS): Add yu-croco as approver
  CODEOWNERS
Labels: size/XS

#1318 feat: add chart version input on bug report to help investigation
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: enhancement, size/XS

#1323 chore: update old URLs on pull_request_template.md
  .github/pull_request_template.md
Labels: size/XS

#1325 feat(argo-cd): Update to Argo CD v2.4.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-applicationset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#1326 fix(argo-cd): Extend K8s RBAC when using UI exec feature
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1269 feat(argo-events): Upgrade argo-events to v1.7.0
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
  charts/argo-events/ci/test-values.yaml
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/crds/sensor-crd.yml
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/aggregate-roles.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-roles.yaml
  charts/argo-events/templates/argo-events-sa.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrole.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
  charts/argo-events/templates/crds/eventbus-crd.yml
  charts/argo-events/templates/crds/eventsource-crd.yml
  charts/argo-events/templates/crds/sensor-crd.yml
  charts/argo-events/templates/eventbus-controller/deployment.yaml
  charts/argo-events/templates/eventsource-controller/deployment.yaml
  charts/argo-events/templates/sensor-controller/deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/XXL

#1331 chore(argo-cd): use latest URLS
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1329 Argo-cd: Add controller statefulset name truncation at 52 chars. Fixes #1328
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#1333 feat(argo-rollouts) Add controller.extraEnv
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1334 ci(github): Use Action for semantic pull requests check
  .github/semantic.yml
  .github/workflows/pr-title.yml
Labels: size/M

#1339 feat(argo-cd): Upgrade image to v2.4.2
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1335 feat(argo-cd): support clusterResourceBlacklist
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1327 fix(argo-workflows): add missing verb on workflow-controller cluster role for using HTTP templates
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Labels: argo-workflows, size/S

#1340 fix(argo-cd): fix argo-cd notifications resource names in role
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
Labels: argo-cd, size/XS

#1337 fix(argo-workflows): Upgrade argo-workflows to v3.3.7
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1341 feat(argo-workflows): Upgrade argo-workflows to v3.3.8
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1344 fix(argo-cd): fix doc of how to upgrade CRD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#1348 feat(argo-cd): Upgrade argocd to v2.4.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1349 feat(argo-cd): Upgrade argocd redis-ha dependency
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1347 chore(github): Add new maintainer for argo-events
  CODEOWNERS
Labels: size/XS

#1350 feat(argo-cd): bump redis-ha dependency to 4.17.1
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1351 chore(argo-cd): Add jmeridth to argo-cd in CODEOWNERS to help with PRs
  CODEOWNERS
Labels: size/XS
