Repository argoproj/argo-helm, pull requests merged in 2022-11, with the labels that each got.

#1610 chore(argo-workflows): Update ArgoWorkflows to v3.4.3
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1612 fix(argo-cd): Replace coalesce with merge for old config values
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
Labels: argo-cd, size/S

#1599 feat(argo-cd): Add revisionHistoryLimit
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1614 chore(argo-cd): Upgrade Argo Image to the latest version 2.5.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1617 chore(argo-cd): Update redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1620 fix(argo-cd): Add /tmp voulmeMount to extensions container
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/XS

#1621 fix(argo-cd): Add missing ClusterRole permissions to argo-cd-server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Labels: argo-cd, size/XS

#1626 fix(argo-cd): Use Dex non-distroless image
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1453 feat(argo-workflows): Allow to add custom artifact repository
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1634 fix(argo-cd): Use raw json for cluster credentials for Vault compatibility
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Labels: argo-cd, size/XS

#1636 fix(argo-cd): Cluster credentials config should be a string
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Labels: argo-cd, size/XS

#1641 fix(argo-workflows): Added missing attribute for sso
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Labels: argo-workflows, size/XS

#1652 docs(argo-cd): Improve changelog information
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/M

#1609 chore(argo-cd): Consolidated GPG configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-gpg-keys-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1656 fix(argo-cd): Invalid argocd-gpg-keys-cm template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-gpg-keys-cm.yaml
Labels: argo-cd, size/XS

#1646 feat(argo-workflows): Allow controller to whitelist secrets
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1665 feat(argo-workflows): Add labels for ServiceAccounts
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1669 fix(argo-cd): deprecate server.extraArgs."--insecure"
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
Labels: argo-cd, size/S

#1668 chore(argo-workflows): Support workflow retention
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1671 feat(argo-cd): Upgrade argocd to v2.5.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1672 fix(argo-cd): helm install md
  CONTRIBUTING.md
Labels: size/XS

#1673 feat(argo-cd): Add Repo Server strict TLS cert support
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-configs/argocd-repo-server-tls.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1674 chore(argo-workflows): Update Argo Workflows to v3.4.4
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1676 fix(argo-cd): Rename tls secret to include the -secret suffix
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-repo-server-tls-secret.yaml
  charts/argo-cd/templates/argocd-configs/argocd-server-tls-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/S

#1598 chore(argo-cd): Remove duplicate ApplicationSet features
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1608 feat(argo-cd): Add ability to annotate Deployments and StatefulSets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M
