Repository argoproj/argo-helm, pull requests merged in 2022-10, with the labels that each got.

#1505 chore(argo-workflows): Upgrade argo-workflows to app version 3.4.1
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1507 chore(argo-cd): upgrade Dex to 2.35 to avoid CVE-2022-39222
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1513 feat(argo-cd): Add support for labels on Service Accounts
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1515 feat(argo-cd): Upgrade argocd to v2.4.14
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1516 fix(argo-cd): correct example PrometheusRule expression for missing app info
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1517 chore(github): Added minimum permissions to workflows
  .github/workflows/lint-and-test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
Labels: size/S

#1512 fix(argo-cd): Added missing envFrom for notifications-controller. Fixed env formatting.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1523 chore(argo-cd): Updated Redis to 7.0.5 for fixing CVE-2022-35951.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1526 fix(argo-cd): Move incorrectly placed timeout configs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1525 chore(github): Update actions' versions
  .github/workflows/lint-and-test.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
Labels: size/S

#1527 feat(argo-cd): Make labels for repoServer and notification service accounts configurable
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/serviceaccount.yaml
  charts/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1530 chore(argo-cd): Remove invalid options from notification controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1533 chore(argo-cd): Rename PDB templates
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/pdb.yaml
  charts/argo-cd/templates/argocd-repo-server/pdb.yaml
  charts/argo-cd/templates/argocd-server/pdb.yaml
  charts/argo-cd/templates/dex/pdb.yaml
  charts/argo-cd/templates/redis/pdb.yaml
Labels: argo-cd, size/XS

#1536 docs(argo-cd): Documented defaults for imagePullSecrets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1535 chore(argo-cd): Organise cloud providers resources in sub-folders
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/gke/backendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/frontendconfig.yaml
  charts/argo-cd/templates/argocd-server/gke/managedcertificate.yaml
  charts/argo-cd/templates/argocd-server/openshift/route.yaml
Labels: argo-cd, size/XS

#1524 feat(argo-cd): Add API version overrides for PDB and GKE
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/_versions.tpl
  charts/argo-cd/templates/argocd-application-controller/pdb.yaml
  charts/argo-cd/templates/argocd-applicationset/webhook-ingress.yaml
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-repo-server/pdb.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/gke/backendconfig.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/templates/argocd-server/pdb.yaml
  charts/argo-cd/templates/dex/pdb.yaml
  charts/argo-cd/templates/redis/pdb.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1531 chore(argo-cd): Use same resources for repo-server copyutil
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1542 feat(argocd-image-updater): Add support for additional initContainers and additional volume/volumeMounts for argocd-image-updater
  .github/workflows/lint-and-test.yml
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#1543 chore(github): Added CLOMoitor exclusions related to dependency tracking
  .clomonitor.yml
Labels: size/S

#1545 chore(argo-cd): Sync ApplicationSet deployment with upstream
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
Labels: argo-cd, size/L

#1521 feat(argocd-apps): Add ArgoCD ApplicationSet
  .github/workflows/lint-and-test.yml
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/L, argocd-apps

#1547 fix(argo-cd): Fix missed apiVersion pattern change
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Labels: argo-cd, size/XS

#1554 fix(argo-cd): Leader election for ApplicationSet controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
Labels: argo-cd, size/S

#1546 feat(argocd-apps): Add Argo UI extensions
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/extensions-values.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/values.yaml
Labels: size/M, argocd-apps

#1550 chore(argo-cd): Move Argo UI extension resource to argocd-apps
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/extensions-rolebinding.yaml
  charts/argo-cd/templates/argocd-server/extensions.yaml
  charts/argo-cd/templates/argocd-server/extentions-role.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1566 feat(argo-cd): Upgrade argocd to v2.4.15
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1564 feat(argo-cd): ServiceMonitor resources are able to be annotated
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1496 feat(argo-workflows): Add support for topologySpreadConstraints
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1556 chore(argo-cd): Rename metrics templates
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-notifications/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/redis/metrics.yaml
Labels: argo-cd, size/XS

#1571 chore(argo-workflows): Update ArgoWorkflows to v3.4.2
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1539 docs(argo-cd): Moved documentation for AWS ALB to server section
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/M

#1549 chore(argo-cd): Remove controller duplicate service
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/metrics.yaml
  charts/argo-cd/templates/argocd-application-controller/service.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1573 fix(github): Use hardcoded version for helm
  .github/workflows/lint-and-test.yml
  .github/workflows/publish.yml
Labels: size/S

#1570 chore(argo-workflows): Enable to set different imagePullPolicy for mainContainer and executor
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1569 chore(argo-cd): Metrics DRY cleaning
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-notifications/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/redis/metrics.yaml
Labels: argo-cd, size/M

#1528 feat(argo-cd): Move argocd-cm and argocd-rbac-cm to config section
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1568 feat(argo-cd): Upgrade Argo CD to 2.5.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-configs/argocd-styles-cm.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Labels: argo-cd, size/XL

#1575 chore(github): Bump GitHub actions versions
  .github/workflows/lint-and-test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish.yml
  scripts/lint.sh
Labels: size/S

#1582 fix(argo-cd): Chart NOTES nil references
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
Labels: argo-cd, size/XS

#1584 docs(argo-cd): Improve documentation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1586 fix(argo-workflows): serviceaccount rbac when sso is enabled
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows, size/S

#1591 fix(argo-cd): Remove AWS volume from server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/XS

#1577 chore(argo-cd): Cleanup Redis manifest
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/L

#1585 fix(argo-cd): Fix config migration path
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
Labels: argo-cd, size/S

#1532 feat(argo-cd): Add probes for ApplicationSet controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1581 chore(argo-cd): Remove liveness probe from application controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1595 chore(github): Add dependabot.yml
  .github/dependabot.yml
Labels: size/XS

#1579 feat(argo-cd): Set container security contexts
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1477 feat(argo-cd): Support custom TLS certificates for Dex
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-configs/argocd-dex-server-tls-secret.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1534 feat(argo-cd): Support manually managed TLS certificate for Server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-server-tls.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1596 fix(argo-cd): Don't install CRDs for disabled components
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-extension.yaml
Labels: argo-cd, size/XS

#1603 fix(argo-cd): update network policy port name
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/networkpolicy.yaml
Labels: argo-cd, size/XS
