Repository argoproj/argo-helm, pull requests merged in 2022-03, with the labels that each got.

#1147 feat(argo-workflows): Add volume and volumeMount parameters to controller
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1144 feat(argocd-image-updater): Add k8s secret generation for ArgoCD API token
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#1098 fix(argo-cd): Always mount argocd-tls-certs-cm in server and repo-server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/S

#1131 fix(argo-cd): Expose clusterResources in cluster secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1154 fix(argo-workflows): Avoid "namespace: null" when singleNamespace is true
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
Labels: argo-workflows, size/XS

#1156 fix(argo-workflows): Update argo workflows to v3.2.9
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1157 chore: Configure issue template chooser to disallow blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/XS

#1159 fix(argo-cd): Use upstream entrypoint.sh
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS

#1160 fix(argo-cd): Quote clusterResources value to avoid invalid Secret manifest
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Labels: argo-cd, size/XS

#1161 fix(argo-cd): create service account for repo server by default
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1166 feat(argo-workflows): Add parameter to enable or disable server and controller roles
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1122 feat(argo-workflows): Add encryptionOptions to S3 based artifactRepository
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1167 fix(argo-cd): ArgoCD application controller - metrics application labels
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1163 feat(argo-rollouts): Add notification secret and configmap
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#1162 feat(argo-cd): Update to use v2.3.1 release
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-applicationset.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics-service.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/webhook-ingress.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/role.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/service.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/serviceaccount.yaml
  charts/argo-cd/templates/argocd-notifications/configmap.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/templates/argocd-notifications/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/secret.yaml
  charts/argo-cd/templates/argocd-notifications/service-metrics.yaml
  charts/argo-cd/templates/argocd-notifications/serviceaccount.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#1176 fix(argo-cd): proper selectors for notifications metrics
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/service-metrics.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
Labels: argo-cd, size/S

#1177 feat(argo-cd): add notifications.metrics.serviceMonitor.selector for consistency
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1173 feat(argo-image-updater): Update to use version 0.12
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#1181 feat(argo-cd): Adding applicationSet.enable and notifications.enable
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics-service.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/webhook-ingress.yaml
  charts/argo-cd/templates/argocd-notifications/configmap.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/templates/argocd-notifications/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/secret.yaml
  charts/argo-cd/templates/argocd-notifications/service-metrics.yaml
  charts/argo-cd/templates/argocd-notifications/serviceaccount.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1184 fix(argo-cd): Add missing NetworkPolicy for AppSet and Notifications
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-notifications/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
Labels: argo-cd, size/M

#1191 feat(argo-cd): Update to v2.3.2 release
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1186 fix(argo-workflows): Add missing list verb to secret
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows, size/XS

#1135 feat(argo-rollouts): upgrade to v1.2.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XXL

#1197 fix(argo-cd): fix subscriptions default value
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1200 fix(argo-cd): Correct ApplicationSet controller port
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1201 refactor(argo-cd)!: Remove Argo CD notification default notifier
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1204 fix(argo-cd): Update to Argo CD v2.3.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1150 feat(argo-cd): Add ability to use an external redis instance
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/external-redis-values.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-configs/externalredis-secret.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1202 feat(argo-rollouts): add dashboard permission on Deployments
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/clusterrole.yaml
Labels: argo-rollouts, size/S
