Repository argoproj/argo-helm, pull requests merged in 2022-05, with the labels that each got.

#1247 fix(argo-workflows): Add missing workflow permission
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/S

#1258 docs(argo-cd): Update README and remove template deps
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#1250 fix(argo-cd): Use global imagePullPolicy for Dex
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1253 fix(argo-cd): use global imagePullSecret value for notifications deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Labels: argo-cd, size/XS

#1255 fix(argo-cd): global.securityContext merging
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Labels: argo-cd, size/S

#1248 docs(argo-workflows): Fix typos and add missing words in README
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/S

#1243 fix(argo-workflows): Setting default `ContainerRuntimeExecutor` to emissary
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#1206 fix(argo-workflows): Quick fix for failing deployment when using image digests
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Labels: argo-workflows, size/S

#1231 fix(argo-workflows): Add missing create verb to pod/exec for the workflow role
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/S

#1198 feat(argo-workflows): add support for Deployment annotations
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1270 feat(argo-cd): Make metrics and serviceMonitors usable on an istio service mesh
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/metrics-service.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics-service.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/service-metrics.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics-service.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/metrics-service.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/service.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1285 fix: Workaround helm-docs v1.10.0 breaking change
  .github/workflows/lint-and-test.yml
  scripts/helm-docs.sh
Labels: size/S

#1284 fix(argo-cd): Update to Argo CD v2.3.4
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1279 feat(argo-cd): Add support for external issuers in server Certificate resource
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1278 fix(argo-workflows): Add missing verbs on argo-workflows-server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows, size/XS

#1262 feat(argo-workflows): Upgrade argo-workflows to v3.3.5
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1288 fix(argo-workflows): adjust api version of pod disruption budget by referring to k8s version
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
Labels: size/S

#1289 fix(argo-cd): adjust api version of pod disruption budget by referring to k8s version
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/poddisruptionbudget.yaml
  charts/argo-cd/templates/argocd-repo-server/poddisruptionbudget.yaml
  charts/argo-cd/templates/argocd-server/poddisruptionbudget.yaml
  charts/argo-cd/templates/dex/poddisruptionbudget.yaml
  charts/argo-cd/templates/redis/poddisruptionbudget.yaml
Labels: argo-cd, size/S

#1290 fix(argo-cd): Update redis-ha dependency for haproxy CVEs
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1286 feat(argo-rollouts): Add replicas option to dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1291 fix(argo-workflows): add missing rules for workflow role to run HTTP templates
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/S

#1296 chore(argo-cd): Update redis-ha to 4.16.0
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1298 chore: Add labeler action to automate PR labeling
  .github/configs/labeler.yaml
  .github/workflows/pr-sizing.yml
Labels: size/M

#1297 feat(argo-workflows): Upgrade argo-workflows to v3.3.6
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1294 feat(argo-rollouts): Add PDB option to controller and dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/dashboard/poddisruptionbudget.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/L

#1303 Specify logformat for Argo-CD notifications component
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, argocd-notifications, size/XS
