Repository argoproj/argo-helm, pull requests merged in 2022-02, with the labels that each got.

#1116 feat(argocd-notifications): Add ability to define bot security context
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/values.yaml
Labels: argocd-notifications, size/S

#1120 chore(argo-cd): Convert manifests of 'kind: List'
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/applications.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
Labels: size/L

#1124 fix(argo-cd): Update to Argo-CD v2.2.4
  charts/argo-cd/Chart.yaml
Labels: size/XS

#1128 fix(argo-cd): Update to Argo CD v2.2.5
  charts/argo-cd/Chart.yaml
Labels: size/XS

#1127 fix(argo-cd): Use ingressClassName from ingressGrpc
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Labels: argo-cd, size/XS

#1130 feat(argo-workflows): Update argo workflows to v3.2.7
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1132 feat(argocd-applicationset): add env variable in values
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Labels: size/S, argocd-applicationset

#1125 fix(argo-cd applicationset): add extraContainers to deployment
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Labels: size/S, argocd-applicationset

#1136 chore(argo-cd): Fix typo of policy.csv comment in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS, documentation

#1141 fix(argocd-image-updater): Update to app version v0.11.3
  charts/argocd-image-updater/Chart.yaml
Labels: argocd-image-updater, size/XS

#1139 feat(argo-events): Bump argo-events to v1.6.0
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#1143 feat(argo-events): Add aggregate-roles (sync with upstream manifests)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/aggregate-roles.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/L

#1138 feat(argo-rollouts): Add ability to define dashboard service node port
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1146 feat(argo-cd): add dex server extra args
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1149 fix(argo-cd): Adding securityContext to copyutil in repo-server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS
