Repository argoproj/argo-helm, pull requests merged in 2022-04, with the labels that each got.

#1208 fix(argo-cd): Fix server.config.url and slack service account
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/role.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/service.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1209 feat(argo-cd): Add params to override Certificate duration and renewBefore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1212 feat(argo-rollouts): Allow defining priorityClassName
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1217 fix(argo-cd): remove unneeded status from CRD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-applicationset.yaml
Labels: argo-cd, size/S

#1220 feat(argo-cd): Add ability to set Notification Services
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/configmap.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1222 chore(argocd): update notification notifiers' comment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/configmap.yaml
  charts/argo-cd/values.yaml
Labels: size/S

#1228 feat(argo-cd): add ImagePullPolicy to repo server init container
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS

#1235 fix(argo-cd): redis-exporter image was migrated from quay.io to docker hub
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1214 feat(argo-workflows): update to Argo Workflows version 3.3.2
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtaskresults.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Labels: argo-workflows, size/L

#1223 feat(argo-applicationset): update appVersion to 0.4.1
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/crds/crd-applicationset.yaml
  charts/argocd-applicationset/templates/deployment.yaml
Labels: argocd-applicationset, size/XXL

#1230 fix(argo-cd): Include applicationset resources in aggregated ClusterRoles
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-aggregate-roles.yaml
Labels: argo-cd, size/XS

#1236 chore!: Deprecate argocd-applicationset and argocd-notifications
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-notifications/Chart.yaml
Labels: size/S

#1213 fix(argo-cd): Remove unneeded static-files volume
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, awaiting-upstream, size/XS, on-hold

#1237 chore!: Remove deprecated argocd-applicationset and argocd-notifications
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/configs/ct-install.yaml
  .github/workflows/lint-and-test.yml
  CODEOWNERS
  CONTRIBUTING.md
  charts/argocd-applicationset/.helmignore
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/README.md.gotmpl
  charts/argocd-applicationset/ci/default-values.yaml
  charts/argocd-applicationset/ci/leader-election-values.yaml
  charts/argocd-applicationset/ci/servicemonitor-values.yaml
  charts/argocd-applicationset/crds/crd-applicationset.yaml
  charts/argocd-applicationset/templates/_helpers.tpl
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/templates/metrics-service.yaml
  charts/argocd-applicationset/templates/psp.yaml
  charts/argocd-applicationset/templates/rbac.yaml
  charts/argocd-applicationset/templates/service.yaml
  charts/argocd-applicationset/templates/serviceaccount.yaml
  charts/argocd-applicationset/templates/servicemonitor.yaml
  charts/argocd-applicationset/templates/webhook-ingress.yaml
  charts/argocd-applicationset/values.yaml
  charts/argocd-notifications/.helmignore
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/README.md.gotmpl
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/bots/slack/role.yaml
  charts/argocd-notifications/templates/bots/slack/rolebinding.yaml
  charts/argocd-notifications/templates/bots/slack/service.yaml
  charts/argocd-notifications/templates/bots/slack/serviceaccount.yaml
  charts/argocd-notifications/templates/configmap.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/role.yaml
  charts/argocd-notifications/templates/rolebinding.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/templates/service-metrics.yaml
  charts/argocd-notifications/templates/serviceaccount.yaml
  charts/argocd-notifications/templates/servicemonitor.yaml
  charts/argocd-notifications/values.yaml
Labels: size/XXL

#1238 chore(CODEOWNERS): Move mkilchhofer from generic to argo-cd
  CODEOWNERS
Labels: size/XS

#1242 feat(argo-events): Adding additional RBAC for leader election
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
Labels: argo-events, size/M

#1251 chore(argo-cd): Document how to upgrade CRDs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/M
