Repository argoproj/argo-helm, pull requests merged in 2023-10, with the labels that each got.

#2291 feat(argo-workflows): Configure declarative server auth mode
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2228 chore(argo-workflows): Upgrade argo-workflows to 3.5.0
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
Labels: argo-workflows, size/S

#2300 feat(argo-workflows): Added commonLabels
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2301 fix(argo-workflows): add all crds to aggregate-roles template
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
Labels: argo-workflows, size/S

#2307 chore(argo-workflows): Add sample of PostgreSQL ssl entries in values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2309 fix(argo-rollouts): controller replicas count comparison
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Labels: argo-rollouts, size/XS

#2310 feat(argo-cd): add terminationGracePeriodSeconds
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2313 chore(argo-cd): Upgrade Argo CD to v2.8.5
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Labels: argo-cd, size/S

#2317 fix(argo-cd): Update Bitbucket SSH key
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#2315 feat(argo-cd): add notification cluster role
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2320 fix(argo-rollouts): Update AnalysisRun CRD to match upstream
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
Labels: argo-rollouts, size/M

#2324 fix(github): update chart testing action due to failure
  .github/workflows/lint-and-test.yml
  scripts/lint.sh
Labels: size/XS

#2323 chore(argo-cd): Upgrade Argo CD to v2.8.6
  .github/configs/ct-lint.yaml
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS
