Repository argoproj/argo-helm, pull requests merged in 2023-05, with the labels that each got.

#1989 feat(argo-cd): Upgrade Argo CD to v2.7.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, size/XXL

#1990 chore(argo-cd): Upgrade Dex and Redis
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1991 feat(argo-cd): Use tini as the ENTRYPOINT
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1999 chore(argo-cd): Update Argo CD to v2.7.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2001 fix(argo-workflows): Add missing argo-workflows.apiVersion.autoscaling helper function for HPA configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
Labels: argo-workflows, size/S

#2002 fix(argo-workflows): Drop .Values.useDefaultArtifactRepo flag to simplify usage
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1993 feat(argo-cd): allow extraObjects to contain string template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/extra-manifests.yaml
Labels: argo-cd, size/S

#2009 feat(github): Add OpenSSF Scorecard action
  .github/workflows/scorecard.yml
  README.md
Labels: size/M

#2006 chore(github): Update repo files
  CODEOWNERS
  CODE_OF_CONDUCT.md
  EMERITUS.md
  OWNERS
  SECURITY.md
Labels: size/M

#2013 chore(github): Add deps pr title scope for dependabot PRs
  .github/workflows/pr-title.yml
Labels: size/XS

#1994 feat(argo-events): allow extraObjects to contain string template
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/extra-manifests.yaml
Labels: argo-events, size/S

#1996 feat(argo-rollouts): allow extraObjects to contain string template
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/extra-manifests.yaml
Labels: argo-rollouts, size/S

#2015 fix(github): fix error in codeowners file and update README about security
  CODEOWNERS
  README.md
Labels: size/XS

#2018 fix(argo-workflows): change chart icon to match other charts
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2020 chore(argo-events): Update chart icon to standard image
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#2021 chore(deps): Pin all workflow deps
  .github/workflows/lint-and-test.yml
  .github/workflows/pr-sizing.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
Labels: size/S

#2014 feat(argo-cd): Enable to customize Service type of applicationset-controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2032 fix(argo-events): use correct artifacthub annotation kind
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#2030 feat(github): add artifacthub linting
  .github/workflows/lint-and-test.yml
Labels: size/S

#2029 fix(argo-workflows): Fix Helm chart to correctly reference Kubernetes version in conditional check for HPA apiVersion
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2033 fix(argo-workflows): fix clusterworkflowtemplates disabled flag
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
Labels: argo-workflows, size/XS

#2040 feat(github): Introduce chart signing
  .github/configs/cr.yaml
  .github/workflows/publish.yml
Labels: size/S

#2042 feat(argo-cd): Introduce chart signing
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2044 feat(argo-workflows): Introduce chart signing
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2047 chore(github): Add tico24 to codeowners
  CODEOWNERS
Labels: size/XS

#2039 feat(argo-rollouts): Upgrade Argo Rollouts to v1.5.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/L

#2046 feat(argocd-image-updater): Introduce chart signing
  charts/argocd-image-updater/Chart.yaml
Labels: argocd-image-updater, size/XS

#2045 feat(argocd-apps): Introduce chart signing
  charts/argocd-apps/Chart.yaml
Labels: size/XS, argocd-apps

#2026 fix(argo-workflows): Fix templating in several places
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2037 feat(argo-cd): Add ability to add prometheus.io/scrape annotations
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-notifications/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/redis/metrics.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1995 feat(argo-workflows): allow extraObjects to contain string template
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/extra-manifests.yaml
Labels: argo-workflows, size/S

#2052 feat(argo-cd): Enable to add certificate to ApplicationSet Controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2057 fix(github): Don't run Scorecard analysis on forked repos
  .github/workflows/scorecard.yml
Labels: size/XS

#2058 chore(argo-cd): Update redis-ha to v4.23.0
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#1922 feat(argo-cd): add lifecycle hooks to repo server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2062 feat(argo-cd): Add new BitbucketCloud ssh keys in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2025 feat(argocd-apps): Generate application, applicationset, project with template
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/item-templates.yaml
  charts/argocd-apps/templates/item-templates.yaml
  charts/argocd-apps/values.yaml
Labels: size/L, argocd-apps

#1976 feat(argo-rollouts): Add possibility to configure healthz and metrics ports to be compatible with Istio
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#2063 feat(argocd-apps): Add rollout strategy for ApplicationSet
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-progressive-syncs-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/M, argocd-apps

#2069 fix(argo-cd): don't request applicationsets if its disabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
Labels: argo-cd, size/XS

#2070 fix(argo-cd): Align with upstream dex initContainers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/XS

#2048 feat(argo-rollouts): add deployment annotations for controller
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2072 fix(argo-cd): Allow to disable containerSecurityContext
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/M

#2075 chore(argo-cd): Upgrade Argo CD to v2.7.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2076 chore(argo-workflows): Enable to configure Service Monitor port
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
Labels: argo-workflows, size/S

#2077 chore(argo-workflows): upgrade argo workflows to v3.4.8
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2081 feat(argo-rollouts): Fix cluster role missing access in argo rollouts dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/clusterrole.yaml
Labels: argo-rollouts, size/S

#1955 feat(argo-cd): Adding "appProtocol: HTTPS" to HTTPS service port of argocd-server.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
