Repository argoproj/argo-helm, pull requests merged in 2023-08, with the labels that each got.

#2197 chore(argo-cd): Upgrade Argo CD to v2.7.10
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2205 fix(argo-cd): Template configuration keys as a string instead of map
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/M

#2207 fix(argo-rollouts): Add required ingress permission
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Labels: argo-rollouts, size/XS

#2210 chore(argo-cd): Upgrade Argo CD to v2.7.11
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2209 feat(github): add Helm OCI support
  .github/workflows/publish.yml
Labels: size/S

#2170 feat(argo-cd): Upgrade Argo CD to 2.8.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#2198 fix(argo-rollouts): add CI for enabling extra objects for argo-rollouts
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/ci/enable-extra-objects-values.yaml
Labels: argo-rollouts, size/S

#2213 fix(argo-cd): Fix global log level configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#2214 chore(argo-cd): Change applicationSet replicaCount to replicas
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2212 fix(argo-cd): add missing permissions to run actions
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Labels: argo-cd, size/S

#2211 fix(argo-workflows): Server only needs `get` Secrets
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows, size/XS

#2219 docs(argo-cd): Rename comment of repositoryCredentials to credentialTemplates
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2222 feat(argo-rollouts): update servicemonitor.yaml to allow for namespace to be set
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XS

#2220 chore(argo-workflows): Upgrade to Argo Workflows v3.4.10
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2226 feat(argo-workflows): add imagePullSecret for workflow sa
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2229 chore(argo-workflows): update comment for azure artifact repository blobNameFormat
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#2230 chore(argo-cd): Upgrade Argo CD to v2.8.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2231 chore(argo-cd): Upgrade Argo CD to v2.8.2
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2232 fix(argo-cd): Fix applicationSet HA examples in README.md
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#2236 chore(argo-cd): Upgrade redis-exporter to 1.53.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2238 chore(argo-cd): Remove support for legacy cert-manager APIs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_versions.tpl
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2237 chore(argo-cd): Remove support for autoscaling/v1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_versions.tpl
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L
