Repository argoproj/argo-helm, pull requests merged in 2023-03, with the labels that each got.

#1846 feat(argo-cd): Add additional global parameters for scheduling
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_common.tpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1874 fix(argocd-apps): Add revisionHistoryLimit option to apps
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/values.yaml
Labels: size/XS, argocd-apps

#1877 chore(argo-rollouts): Upgrade Argo Rollouts to v.1.4.1
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
Labels: argo-rollouts, size/S

#1881 fix(argo-cd): ApplicationSet deployment uses global tolerations
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
Labels: argo-cd, size/S

#1887 chore(github): Add slack button to README
  README.md
Labels: size/XS, documentation

#1891 chore(argo-cd): Upgrade Argo CD v2.6.4
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1864 fix(argo-cd): Clarify syntax in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1892 fix(argo-cd): skip empty configmap params
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#1876 feat(argo-cd): add parameter env to redis exporter
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1865 feat(argo-cd): Added Config Management Plugins cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-cmp-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1900 chore(argo-cd): Upgrade Argo CD v2.6.5
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1904 ci(github): Fix CI testing
  .github/workflows/lint-and-test.yml
Labels: size/XS

#1909 chore(argo-events): Add install guide on README
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
Labels: argo-events, size/M

#1911 fix(argo-cd): Use default metrics port for APIServer
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1913 feat(argo-cd): Add ability to add project scoped cluster(s)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1908 chore(argo-workflows): Add install guide on README
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/M

#1915 chore(argo-cd): Upgrade Argo CD to v2.6.6
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1924 feat(argo-workflows): Add ability to use memoization
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1927 chore(argo-cd): Update to use Github's new RSA SSH public key
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1928 feat(argo-rollouts): support setting pod annotations separately on controller and dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S
