Repository argoproj/argo-helm, pull requests merged in 2023-11, with the labels that each got.

#2326 fix(argo-cd): Create notifications clusterrole and clusterrolebinding when enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrolebinding.yaml
Labels: argo-cd, size/S

#2328 fix(argo-workflows): Fix outdated URL in values.yaml comments
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#2329 chore(argo-workflows): Upgrade Argo Workflows to v3.5.1
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2318 feat(argo-cd): Upgrade Argo CD to 2.9.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, awaiting-upstream, size/XXL

#2333 chore(github): Updated security documentation and CLOMonitor exemptions
  .clomonitor.yml
  CONTRIBUTING.md
  README.md
  SECURITY-INSIGHTS.yml
Labels: size/M

#2336 fix(argo-workflows): Accept multi auth mode for server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/NOTES.txt
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2338 chore(github): Add yu-cruco to * in CODEOWNERS
  .github/CODEOWNERS
Labels: size/S

#2341 fix(argo-cd): Add permission for Applications in any namespace
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2344 chore(argo-cd): Upgrade Argo CD to v2.9.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2345 chore(argo-rollouts): Bump rollouts to 1.6.1
  charts/argo-rollouts/Chart.yaml
Labels: argo-rollouts, size/XS

#2347 chore(argo-rollouts): Bump rollouts to 1.6.2
  charts/argo-rollouts/Chart.yaml
Labels: argo-rollouts, size/XS

#2346 fix(argo-workflows): Add parameters for tuning revisionHistoryLimit and emptyDir volumes
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2342 fix(argo-workflows): Align version label
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
Labels: argo-workflows, size/XS

#2343 docs(github): typo fix in security.md
  SECURITY.md
Labels: size/XS

#2350 chore(argo-workflows): Remove xip url from test to avoid confusion
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/enable-ingress-values.yaml
Labels: argo-workflows, size/XS

#2352 chore(argo-cd): Replace non-existing examples with official example domain
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#2353 chore(argo-cd): Upgrade Argo CD to v2.9.2
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2356 chore(github): Update SECURITY-INSIGHTS.yml to include security-contacts
  SECURITY-INSIGHTS.yml
Labels: size/S

#2357 chore(argo-workflows): Upgrade Argo Workflows to v3.5.2
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2361 fix(argo-rollouts): Update all rollout CRDs to match upstream
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
Labels: argo-rollouts, size/L

#2360 docs(argo-cd): Add migration guide to README for Config Management Plugins
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/M

#2364 docs(github): remove unnecessary qualifier in README
  README.md
Labels: size/XS
