Repository argoproj/argo-helm, pull requests merged in 2023-01, with the labels that each got.

#1728 chore(argo-workflows): Support podGCDeleteDelayDuration and podGCGracePeriodSeconds
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1747 docs(argo-cd): Improve documentation for extra containers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XL

#1754 feat(argo-workflows): Add helper function to determine image value, minus tag
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Labels: argo-workflows, size/S

#1597 chore(argo-cd): Consolidate cluster-wide RBAC
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  charts/argo-cd/templates/argocd-application-controller/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1749 feat(argo-cd): Allow templated values for init and extra containers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1757 chore(argo-cd): Update Argo CD to v2.5.6
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1755 feat(argo-rollouts): Add support for topologySpreadConstraints
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md.gotmpl
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#1769 chore(argo-cd): Update Argo CD to v2.5.7
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1770 chore(argo-cd): Update Argo CD extensions to v0.2.1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1694 fix(argo-rollouts): avoid label exceeding maximum length
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
Labels: argo-rollouts, size/S

#1774 chore(argo-rollouts): Upgrade argo-rollouts to 1.4.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/templates/dashboard/clusterrole.yaml
Labels: argo-rollouts, size/L

#1779 feat(argo-cd): Add labels for argocd-secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1782 fix(argo-cd): Update CONTRIBUTING docs
  CONTRIBUTING.md
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  scripts/helm-docs.sh
Labels: argo-cd, size/L

#1777 feat(argo-rollouts): Added flags to toggle provider-specific RBAC
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#1786 feat(argo-cd): Consolidate certificate config for repositories
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1691 feat(argocd-image-updater): prevent generation of label value of invalid length
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/_helpers.tpl
Labels: argocd-image-updater, size/XS

#1788 fix(argo-cd): Consolidate and fix container ports
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1787 fix(argo-cd): Add missing options for mounting service account tokens
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1792 fix(argo-cd): Redis service have invalid targetPort
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
Labels: argo-cd, size/XS

#1791 chore(argo-cd): Decouple Redis exporter from metrics service
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1793 fix(argo-cd): Fix annotations for ssh and tls configs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
Labels: argo-cd, size/XS

#1795 chore(argo-cd): Upgrade Redis exporter image
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#1797 feat(argo-events): Added support for extra k8s manifests
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/extra-manifests.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/M

#1798 chore(argo-cd): Update Argo CD to v2.5.8
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1799 fix(argo-cd): Disable Redis exporter by default
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1802 feat(argo-cd): Add log settings and extraArgs to Slack bot
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1803 chore(argo-cd): Upgrade redis to 7.0.7 to avoid CVE-2022-3996
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1805 chore(argo-cd): Update Argo CD to v2.5.9
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1809 chore(argo-events): Upgrade Argo Events to v1.7.5
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
Labels: argo-events, size/S

#1810 fix(argo-cd): Align changelog structure to show changelogs on Artifact Hub
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1811 fix(github): Align changelog structure to show changelogs on Artifact Hub
  CONTRIBUTING.md
Labels: size/M

#1812 fix(argo-workflows): Align changelog structure to show changelogs on Artifact Hub
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1816 fix(argocd-image-updater): Align changelog structure
  charts/argocd-image-updater/Chart.yaml
Labels: argocd-image-updater, size/XS

#1813 fix(argo-events): Align changelog structure
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#1814 fix(argo-rollouts): Align changelog structure
  charts/argo-rollouts/Chart.yaml
Labels: argo-rollouts, size/XS

#1815 fix(argocd-apps): Align changelog structure
  charts/argocd-apps/Chart.yaml
Labels: size/XS, argocd-apps
