Repository argoproj/argo-helm, pull requests merged in 2023-07, with the labels that each got.

#2141 chore(argo-cd): Added note about Kubernetes Compatibility Matrix
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#2143 fix(argo-cd): Add usages to ArgoCD server certificate
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2144 fix(argo-cd): Update `argo-cd.strategy` template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_common.tpl
Labels: argo-cd, size/S

#2146 feat(argo-cd): remove necessary create entry in `argocd-cmd-params-cm` ConfigMap
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#2145 feat(argo-cd): Update appset deployment template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
Labels: argo-cd, size/S

#2147 chore(argo-cd): Upgrade Argo CD to v2.7.7
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2155 feat(argo-cd): upgrade dexIDP from 2.36.0 -> 2.37.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2149 feat(argocd-apps): add permitOnlyProjectScopedClusters flag
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Labels: size/XS, argocd-apps

#2161 feat(argo-cd): Allow configuring Dex's init image resources separately
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2148 fix(argo-cd): Ensure `app.kubernetes.io/version` label is valid
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_common.tpl
Labels: argo-cd, size/S

#2166 feat(argo-cd): allow configurable hpa metrics
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/hpa.yaml
  charts/argo-cd/templates/argocd-server/hpa.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2154 feat(argo-cd): make ServiceMonitor deployment conditional on CRD existence
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Labels: argo-cd, size/S

#2173 feat(argo-cd): Upgrade argocd to v2.7.8
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2174 feat(argo-rollouts): Upgrade Argo Rollouts to v1.5.1
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Labels: argo-rollouts, size/S

#2175 chore(argo-workflows): Upgrade to 3.4.9
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2176 feat(argocd-apps): syncOptions for applications
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#2181 fix(argocd-apps): fix indent of syncOptions
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#2182 chore(github): use table for Emeritus
  EMERITUS.md
Labels: size/S

#2184 fix(argo-rollouts): Use annotation cont metrics
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2186 chore(argo-cd): Upgrade Argo CD to v2.7.9
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2192 feat(argo-cd): add labels to notifications secret (#2191)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
