Repository argoproj/argo-helm, pull requests merged in 2023-02, with the labels that each got.

#1819 chore(argocd-image-updater): Update Argo CD Image Updater to v0.12.2
  charts/argocd-image-updater/Chart.yaml
Labels: argocd-image-updater, size/XS

#1820 fix(argo-cd): fixed maxUnavailable value in redis-PDB
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/pdb.yaml
Labels: argo-cd, size/XS

#1822 chore(argo-cd): Update Argo CD to v2.5.10
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1821 feat(argo-cd): Configurable `dnsPolicy` / `hostNetwork`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1758 feat(argo-cd): Upgrade Argo CD to 2.6.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#1829 fix(argo-cd): Fix ApplicationSet CRD for pathParamPrefix
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, size/S

#1832 feat(argo-cd): Upgrade Argo CD to 2.6.1
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1831 feat(argocd-apps): multiple sources for Application and ApplicationSet
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applications-multiple-sources-values.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/ci/applicationsets-multiple-sources-values.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/L, argocd-apps

#1835 fix(argo-workflows): clean subresource permissions
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows, size/S

#1839 fix(argo-cd): Fix invalid progressive sync parameter
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
Labels: argo-cd, size/XS

#1841 fix(argo-cd): Add quotes on Ingress Host to allow wildcards
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/XS

#1773 feat(argo-cd): Add dnsConfig and dnsPolicy for pods
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1844 chore(argo-cd): Upgrade Argo CD to v2.6.2
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1794 feat(argo-cd): Add global affinity configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_common.tpl
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1847 chore(argo-cd): Group component templates together
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/L

#1849 chore(argo-events): Upgrade Argo Events to v1.7.6
  charts/argo-events/Chart.yaml
Labels: argo-events, size/XS

#1854 chore(argo-cd): Remove notification bot
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/pdb.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/role.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/service.yaml
  charts/argo-cd/templates/argocd-notifications/bots/slack/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#1857 chore(argo-workflows): Update docs to mention why CRDs are in templates folder
  CONTRIBUTING.md
  README.md
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/M

#1848 chore(argo-cd): Add missing hostAliases to all components
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/M

#1855 chore(argo-workflows): expose option to control the log format/level
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1860 fix(github): Replace deprecated set-output from github-actions
  .github/workflows/lint-and-test.yml
Labels: size/XS

#1862 fix(argo-cd): Fix typo in values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#1868 chore(argo-cd): Upgrade Argo CD to v2.6.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#1867 fix(argo-cd): Added pod exec permission to argo-server Role when exec.enabled is True.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
Labels: argo-cd, size/S

#1871 fix(argo-cd): Fix indentation for argocd-server role
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
Labels: argo-cd, size/S
