Repository argoproj/argo-helm, pull requests merged in 2023-06, with the labels that each got.

#2089 chore(argo-workflows): Declare SSO configuration explicitly on values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/L

#2090 feat(argo-rollouts): Support Traffic Router Plugins
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2095 chore(argo-cd): Upgrade Argo CD to v2.7.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2096 feat(argo-cd): Add "global.env" for all deployed containers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2098 feat(argo-workflows): Add support for UI columns configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2100 fix(argo-cd): Allow specify redis config file
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/S

#2108 chore(argo-cd): upgrade argo-cd to v2.7.5
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2115 chore(github): Generate release notes
  .github/configs/cr.yaml
Labels: size/XS

#2116 fix(argo-cd): helm lint error when `extraObjects` is defined
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/extra-manifests.yaml
Labels: argo-cd, size/XS

#2122 chore(argo-cd): Add `app.kubernetes.io/version` label
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_common.tpl
Labels: argo-cd, size/XS

#2123 chore(argo-cd): Upgrade Argo CD to v2.7.6
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2121 fix(argo-events): add managed namespace configuration
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#2125 fix(argo-cd): Default applicationSet metrics port to 8085
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2124 fix(argo-workflows): Change argo-workflows-server crb creation conditions
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
Labels: argo-workflows, size/XS

#2134 fix(argo-workflows): artifactRepository will not be configured by default (#2132)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/enable-artifact-repo-values.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2129 feat(argo-cd): Conditionally create the argocd-cmd-params-cm ConfigMap
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-cmd-params-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2127 feat(argo-cd): Add support for configuring argo-notifications log level and format
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
Labels: argo-cd, size/S

#2138 fix(argo-cd): fix gRPC service target port
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
Labels: argo-cd, size/S
