Repository argoproj/argo-helm, pull requests merged in 2023-12, with the labels that each got.

#2365 chore(argo-cd): Upgrade Argo CD to v2.9.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd

#2367 fix(argo-workflows): Add missing permission to workflow role
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
Labels: argo-workflows, size/XS

#2369 fix(argo-workflows): Fix OAuth redirect URL autoconfig.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#2358 feat(github): Use renovate to create PRs when upstream releases
  .github/workflows/chart-version-bump.yml
  renovate.json
Labels: size/L

#2371 feat(argo-rollouts): add rollout plugin contour rbac
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2373 fix(github): Copy-pasta error on Action digest
  .github/workflows/chart-version-bump.yml
Labels: size/XS

#2379 feat(argo-workflows): Add support for sso filterGroupsRegex
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2384 fix(argo-workflows): fix helm lint error when extraObjects is defined
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/extra-manifests.yaml
Labels: argo-workflows, size/XS

#2389 fix(argo-workflows): Remove duplication in aggregated admin ClusterRole
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-aggregate-roles.yaml
Labels: argo-workflows, size/XS

#2388 feat(argo-rollouts): add args for dashboard logs
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2399 fix(argo-workflows): Prevent extra whitespace in controller ConfigMap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Labels: argo-workflows, size/XS

#2401 chore(argo-workflows): Add instruction for SSO
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/S

#2406 feat(argo-cd): Use new Argo CD extension mechanism
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/ci/extension-values.yaml
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/templates/crds/crd-extension.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L
