Repository argoproj/argo-helm, pull requests merged in 2023-09, with the labels that each got.

#2247 chore(argo-events): Upgrade argo-events to 1.8.1
  charts/argo-events/Chart.yaml
Labels: argo-events

#2252 chore(argo-rollouts): Upgrade Argo Rollouts to v1.6.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Labels: argo-rollouts, size/L

#2251 fix(argo-cd): Make the PathType configurable when using single ingress resource in AWS
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/XS

#2254 chore(argo-cd): Upgrade Argo CD to v2.8.3
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/XS

#2255 chore(argo-workflows): Upgrade Argo Workflows to v3.4.11
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#2235 fix(argo-cd): Restart Repo Server and Application Controller as following the change of Argo CD CM
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/S

#2249 feat(argo-cd): adds toggle for helm-working-dir
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2183 docs(argo-workflows): add an HA section
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/ci/ha-values.yaml
Labels: argo-workflows, size/M

#2261 fix(argo-cd): Migrate leftover of applicationSet.replicaCount to applicationSet.replicas
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#2262 docs(argo-cd): improve changelog
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#2263 fix(github): Fix changelog spelling of versions
  CONTRIBUTING.md
Labels: size/XS

#2268 chore(argo-cd): Upgrade Argo CD to v2.8.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Labels: argo-cd, size/XS

#2270 fix(argo-cd): Align redis-ha's affinity type to upstream due to warnings
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd

#2273 fix(argo-cd): make ServiceMonitor annotations in ArgoCD server conditional
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
Labels: argo-cd, size/S

#2275 fix(argo-cd): Add checksum for CMP ConfigMap in repo-server Pod annotations
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd, size/XS

#2279 fix(argo-cd): Redis to 7.0.13 to fix CVE-2022-48174
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
