Repository argoproj/argo-helm, pull requests merged in 2023-04, with the labels that each got.

#1940 fix(argo-events): wire up priorityClassName
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
Labels: argo-events, size/S

#1942 chore(argo-workflows): Upgrade Argo Workflows to v3.4.6
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1944 feat(argocd-image-updater): Add support for pod labels
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#1947 fix(argo-cd): Change default value for global.tolerations, from object to array
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#1923 feat(argo-workflows): add the ability to declare initContainers
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1933 fix(argo-events): missing argument for toYaml function in deployment template
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
Labels: argo-events, size/XS

#1948 fix(argo-workflows): Update outdated content on README
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/M

#1954 chore(argo-workflows): Upgrade Argo Workflows to v3.4.7
  charts/argo-workflows/Chart.yaml
Labels: argo-workflows, size/XS

#1956 fix(argo-workflows): Add namespace field to all namespace scoped resources because `helm template` doesn't add the namespace filed automatically
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Labels: argo-workflows, size/M

#1960 fix(argo-rollouts): add namespace field for namespace scoped resources
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/templates/controller/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/clusterrolebinding.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/poddisruptionbudget.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
Labels: argo-rollouts, size/S

#1959 fix(argo-events): add namespace field for namespace scoped resources
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
Labels: argo-events, size/S

#1963 fix(argo-cd): Evaluate namespace field via helm root scope
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-secret.yaml
Labels: argo-cd, size/S

#1965 feat(argo-rollouts): Add ability to provide additional volumes
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#1967 feat(argo-workflows): Add option for controller to read all secrets
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#1970 fix(argocd-image-updater): add namespace field for namespace scoped resources
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
Labels: argocd-image-updater, size/S

#1969 docs(github): comment out notational pieces of PR template
  .github/pull_request_template.md
Labels: size/XS

#1974 feat(argo-workflows): add optional HPA to Server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1972 feat(argo-rollouts): add service monitor relabeling configs
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#1977 feat(argo-workflows): add Prometheus ServiceMonitor relabelings, metricRelabelings & targetLabels
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#1979 fix(argocd-apps): Changed the project field of the applicationset from a tpl to str(#1978)
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
Labels: size/M, argocd-apps

#1988 fix(argo-rollouts): Added missing permissions for argo rollouts dashboard cluster role
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/clusterrole.yaml
Labels: argo-rollouts, size/S
