Repository argoproj/argo-helm, pull requests merged in 2024-10, with the labels that each got.

#2952 feat(argocd-apps): finalizers for applicationset
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#2955 fix(argo-workflows): Avoid to create ClusterRole for cluster template when singleNamespace
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
Labels: argo-workflows

#2962 feat(argo-cd): Add affinity to redisSecretInit Job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2980 fix(argo-cd): add missing event permissions for run actions
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Labels: argo-cd

#2982 fix(argo-cd): fixed shard value in clusterCredentials Secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Labels: argo-cd

#2992 feat(argocd-image-updater): Update dependency argoproj-labs/argocd-image-updater to v0.15.0
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M
