Repository argoproj/argo-helm, pull requests merged in 2024-07, with the labels that each got.

#2703 fix(argo-rollouts): Add traefik.io api group
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Labels: argo-rollouts, awaiting-upstream, size/XS

#2821 fix(argo-cd): Address oversights of feature `namespaceOverride`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/templates/argocd-configs/repository-credentials-secret.yaml
  charts/argo-cd/templates/argocd-configs/repository-secret.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
Labels: argo-cd, size/M

#2823 fix(argo-cd): Address inconsistent redis-secret-init SA handling
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
Labels: argo-cd, size/XS

#2806 fix(argo-cd): Missing Redis sentinel variables in app controller deployment
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Labels: argo-cd, size/S

#2835 docs(argo-cd): Add Changelog for v7.0.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/M

#2849 chore(argo-rollouts): add option to disable creation of notifications configmap
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifications-configmap.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S
