Repository argoproj/argo-helm, pull requests merged in 2024-02, with the labels that each got.

#2471 fix(argocd-apps): move ignoreApplicationDifferences block up a level
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/applicationsets.yaml
Labels: size/XS, argocd-apps

#2472 docs(argo-workflows): update documentation links to readthedocs
  CONTRIBUTING.md
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/ci/ha-values.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2474 chore(argo-cd): refresh from upstream
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Labels: argo-cd, size/M

#2400 feat(argo-cd): Add Probes for redis
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/health-configmap.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#2476 feat(argo-cd): Upgrade Argo CD to 2.10.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Labels: argo-cd, size/L

#2479 fix(argo-cd): Fix ingress extraHosts
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/M

#2480 fix(argo-cd): Fix ingressGrpc extraTls
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Labels: argo-cd, size/XS

#2484 fix(argo-cd): Fix applicationset network policy when webhook is enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
Labels: argo-cd, size/XS

#2485 fix(argo-cd): add hostname of extraHost to tls hosts
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/XS

#2486 docs(argo-cd): Document various ingress setups
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/L

#2497 fix(argo-cd): Fix ports and TLS for dedicated gRPC ingress
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2489 feat(argo-cd): Add scrapeTimeout property to server and application…
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2500 fix(argo-cd): Use correct protocols for Istio service discovery
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2504 chore(argo-cd): Remove server.config leftovers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
Labels: argo-cd, size/S

#2503 chore(argo-cd): update notifications links to latest documentation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2506 fix(argo-cd): Use `with` instead of `range` on reposerver serviceaccount
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
Labels: argo-cd, size/XS

#2498 chore(argo-cd): Disable argocd-repo-server cluster role by default
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
Labels: argo-cd, size/S

#2511 fix(argo-cd): Fix secret name for applicationset webhook ingress
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2499 feat(argo-cd): Add global domain configuration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-configs/argocd-notifications-cm.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#2519 feat(argo-workflows): add caSecret in s3 configuration
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2517 feat(argocd-image-updater): allow defining additional labels to service account
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#2524 feat(argo-cd): bump redis chart dep and redis exporter
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2531 fix(argo-cd): Fix path order in AWS Ingress declaration
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
Labels: argo-cd, size/S

#2533 chore(argo-cd): Update Redis image to 7.2.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2535 feat(argo-cd): Format redis health check confimap mode in decimal
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/XS

#2541 fix(argo-cd): Allow to use dedicated gRCP ingress with GKE implementation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Labels: argo-cd, size/XS

#2542 feat(argo-cd): Allow modification of path and port for dex liveness and readiness probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2546 fix(argo-cd): Fix dex probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/S

#2549 feat(argocd-apps): Support Template Patch to ApplicationSet
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/M, argocd-apps

#2550 chore(argo-cd): add support for http probe scheme for dex
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2553 fix(argo-cd): Pass argocd-server's ALB health check
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2520 chore(github): Migrate to renovate GH action
  .github/configs/renovate-config.js
  .github/workflows/chart-version-bump.yml
  .github/workflows/renovate.yaml
  renovate.json
  scripts/renovate-bump-version.sh
Labels: size/L

#2530 feat(argo-cd): Add templating of ingress extra paths and rules
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-server/aws/ingress.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M
