Repository argoproj/argo-helm, pull requests merged in 2024-08, with the labels that each got.

#2858 fix(argo-workflows): avoid empty namespace in role binding when singleNamespace is true
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
Labels: argo-workflows, size/S

#2820 feat(argo-cd): Upgrade to Argo CD 2.12.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
Labels: argo-cd, awaiting-upstream, size/L

#2861 fix(argo-cd): Set TTL on redis-secret-init Job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
Labels: argo-cd, size/XS

#2839 fix(argo-cd): Fix Redis race condition due to optional REDIS_PASSWORD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/S

#2830 fix(argo-rollouts): Align permissions for controller's ClusterRole / Role
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
Labels: argo-rollouts, size/XL

#2872 feat(argo-cd): Update Notification Liveness/Readiness Probes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2885 chore(argo-cd): Update dependency argoproj/argo-cd to v2.12.1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
Labels: argo-cd, size/S

#2889 feat(argo-workflows): Added support for setting annotations on argo workflows controller configmap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2895 chore(argo-cd): Support string type of "true" for `statusbadge.enabled`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#2900 chore(argo-cd): bump redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#2772 feat(argo-rollouts): add loadBalancerClass field for Service resource
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S
