Repository argoproj/argo-helm, pull requests merged in 2024-09, with the labels that each got.

#2771 feat(argo-workflows): add loadBalancerClass field for Service resources
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2907 chore(argo-cd): Fix typo on README
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#2909 fix(argo-cd): Fix certificate template secretTemplateAnnotations null
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Labels: argo-cd, size/XS

#2911 fix(argocd-apps): don't render empty app description
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/projects.yaml
Labels: size/S, argocd-apps

#2920 feat(argo-workflows): Add honorLabels parameter to Argo Workflows ServiceMonitor
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2929 fix(argo-events): Fix events-webhook Service using non-default port
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
Labels: argo-events, size/XS

#2930 feat(argo-cd): allow setting runtime class name
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2931 fix(argo-cd): Remove unwanted newline on redis-init-secret job's imagepullsecrets
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
Labels: argo-cd, size/XS

#2833 fix(argo-cd): Remove namespace from cluster scope resource
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
Labels: argo-cd, no-pr-activity, size/XS

#2935 feat(argo-cd): add multi-namespace support for ApplicationSet controller RBAC
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2928 fix(argo-cd): Align imagePullSecrets for redis-secret-init Job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis-secret-init/job.yaml
Labels: argo-cd, size/XS

#2938 chore(github): Use correct email of the Renovate bot
  .github/configs/renovate-config.js
  renovate.json
Labels: size/XS

#2942 feat(argo-workflows): add configurable scrape interval for metrics and telemetry
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2944 chore(argo-cd): Add Proxy Extensions config
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2945 fix(argo-cd): Arrange for ApplicationSet in any namespace
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
