Repository argoproj/argo-helm, pull requests merged in 2024-11, with the labels that each got.

#2997 feat(argo-workflows): Support lifecycle and terminationGracePeriodSeconds for server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2999 feat(argo-cd): Update to Argo CD 2.13
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XXL

#3014 fix(argo-rollouts): plugin block rendering was incorrect
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/configmap.yaml
Labels: argo-rollouts, size/S

#3018 feat(argo-cd): Add honorLabels config for ServiceMonitor resources
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/servicemonitor.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-notifications/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
  charts/argo-cd/templates/argocd-server/servicemonitor.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#3023 chore(argo-cd): Update Redis image to 7.4.1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3026 chore(argo-cd): Upgrade redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#3034 docs(argo-rollouts): update security policy for Argo Rollouts in SECURITY.md
  SECURITY.md
Labels: size/XS

#3037 chore(argo-workflows): Upgrade Argo Workflows to v3.6.0
  .github/workflows/lint-and-test.yml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowartifactgctasks.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/templates/crds/argoproj.io_workflowtaskresults.yaml
Labels: argo-workflows, size/XXL

#3047 fix(argo-cd): Update application CRD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
Labels: argo-cd, size/S

#3036 fix(argo-rollouts): Change type of trafficRouterPlugins and trafficRouterPlugins as list
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#3049 fix(argo-workflows): Updated chart to reflect change to ARGO_BASE_HREF env
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Labels: argo-workflows, size/XS

#3055 feat(argo-events): Upgrade Argo Events to v1.9.3
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#3058 fix(argo-cd): Fix REDIS_PASSWORD optional flag
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/S
