Repository argoproj/argo-helm, pull requests merged in 2024-04, with the labels that each got.

#2606 feat(argo-cd): enabled server cluster role permissions overriding
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2607 feat(argo-cd): Add sizeLimit parameters on emptyDir
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/L

#2620 feat(argo-workflows): Add the ability to use headless service for workflow controller
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2627 fix(argo-cd): Add required label for CLI on redis-ha-haproxy pod
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2625 fix(argo-cd): make automountServiceAccountToken configurable
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2646 feat(argocd-image-updater): Allow defining extraEnvFrom for the deployment
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#2657 feat(argo-cd): Pre-set `statusbadge.url` value to `global.domain`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/XS

#2658 fix(argo-cd): Pre-set `statusbadge.url` only when statusbadge is enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2666 feat(argo-cd): added jq path expression timeout
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2673 fix(argo-workflows): hyphen typo in values.yaml comment
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS
