Repository argoproj/argo-helm, pull requests merged in 2024-06, with the labels that each got.

#2736 fix(argo-cd): Fixed redis exporter NOAUTH error
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Labels: argo-cd, size/S

#2754 fix(argo-cd): Add missing permission for Dynamic Cluster Distribution
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/role.yaml
Labels: argo-cd, size/S

#2756 fix(argo-workflows): `BASE_HREF` -> `ARGO_BASE_HREF` for forward compat
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Labels: argo-workflows, size/XS

#2761 chore(argocd-image-updater): fix referenced URL to command line reference page
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/XS

#2768 chore(github): group dependabot updates for minor and patch
  .github/dependabot.yml
Labels: size/XS

#2770 fix(argo-workflows): revert `BASE_HREF` change
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Labels: argo-workflows, size/XS

#2769 feat(argo-cd): add loadBalancerClass field for Service resource
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2775 fix(argo-workflows): add `app:` label to components to match upstream
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
Labels: argo-workflows, size/XS

#2780 feat(argo-cd): Add secrettemplate to argo-cd server certificate
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2741 fix(argo-cd): remove secretName for server and applicationSet Certificates
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/certificate.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2786 fix(argo-cd): Default repo-server init container resources to empty
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Labels: argo-cd

#2777 feat(argo-rollouts): add annotations for notifications secret
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifications-secret.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2791 feat(argo-cd): make PrometheusRule deployment conditional on CRD exis…
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/prometheusrule.yaml
Labels: argo-cd, size/XS

#2779 chore(argo-cd): add shard option for clusterCredentials
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2793 fix(argo-rollouts): Add subscriptions into notifcations-configmap
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2790 fix(argo-events): Update Jetstream versions as following upstream
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/values.yaml
Labels: argo-events, size/L

#2797 fix(argo-rollouts): Fix of global subscriptions for Argo Rollouts
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/notifcations-configmap.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2492 feat(argo-cd): add support for passing redis - sentinel credentials
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2800 fix(argo-cd): Make REDIS_PASSWORD environment variables optional always
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/S
