Repository argoproj/argo-helm, pull requests merged in 2024-12, with the labels that each got.

#3056 feat(argo-cd): Template server ingress extraTls arguments
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/XS

#3070 feat(argo-cd): Bump argocd-extension-installer to 0.0.8
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3075 fix(argo-cd): Fix repo-server honorLabels config template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/servicemonitor.yaml
Labels: argo-cd, size/XS

#3073 fix(argocd-image-updater): update RBAC namespaced role
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/rbac.yaml
Labels: argocd-image-updater, size/S

#3079 fix(argo-workflows): a link in values.yaml for Kubernetes Ingress docs
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#3083 fix(argo-cd): add functionality to en/disable argocd-ssh-known-hosts-cm
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3093 fix(argo-rollouts): Correct outdated URL for ingress
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XS

#3096 docs(argo-events): Correct outdated URL for doc
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/README.md.gotmpl
  charts/argo-events/values.yaml
Labels: argo-events, size/M
