Repository argoproj/argo-helm, pull requests merged in 2024-05, with the labels that each got.

#2676 feat(argo-workflows): Allow adding additional ServiceAccounts to RoleBinding
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2678 feat(argo-rollouts): Add podLabels at the controller & dashboard level
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2681 feat(argo-cd): Upgrade argocd to 2.11.0 + crd changes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, size/L

#2682 feat(argo-cd): Always install applicationset crd
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, size/XS

#2688 fix(argo-cd): Always create ApplicationSet as following upstream
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/aggregate-roles.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/ingress.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-applicationset/pdb.yaml
  charts/argo-cd/templates/argocd-applicationset/role.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-applicationset/servicemonitor.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/argocd-server/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2690 fix(argo-cd): Fix Service configuration for Argo server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2695 fix(argo-cd): Adding checksum for argocd-cm to dex pod
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/XS

#2702 fix(argo-workflows): Correct sample of secondsAfterCompletion
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/XS

#2698 fix(argo-workflows): Add missing serviceLabels to server service
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Labels: argo-workflows, size/XS

#2708 chore(argo-cd): add nodeselector and tolerations to redis-secret-init job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2709 chore(argo-cd): add priorityClassName to redis-secret-init job
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2712 feat(argo-rollouts): Support revisionHistoryLimit
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/XS

#2713 feat(argo-cd): Make redis secret initialization optional
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis-secret-init/job.yaml
  charts/argo-cd/templates/redis-secret-init/role.yaml
  charts/argo-cd/templates/redis-secret-init/rolebinding.yaml
  charts/argo-cd/templates/redis-secret-init/serviceaccount.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2714 fix(argo-events): support for additional labels
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/_helpers.tpl
Labels: argo-events, size/XS

#2648 feat(argo-cd): represent cluster credentials as a map
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2730 docs(github): Charts use Helm "Capabilities"
  README.md
Labels: size/M

#2649 feat(argo-cd): add support for dual stack clusters
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/metrics.yaml
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/templates/argocd-notifications/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/metrics.yaml
  charts/argo-cd/templates/argocd-repo-server/service.yaml
  charts/argo-cd/templates/argocd-server/aws/service.yaml
  charts/argo-cd/templates/argocd-server/metrics.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/templates/dex/service.yaml
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M
