Repository argoproj/argo-helm, pull requests merged in 2024-03, with the labels that each got.

#2562 feat(argocd-image-updater): Add ability to set .Values.namespaceOverride
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/_helpers.tpl
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#2566 chore(github): Disable some GH actions on forks
  .github/workflows/publish.yml
  .github/workflows/renovate.yaml
Labels: size/XS

#2565 feat(argo-workflows): Disable leader election on single repl controllers
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
Labels: argo-workflows, size/S

#2568 chore(github): Update renovate image only monthly
  renovate.json
Labels: size/XS

#2402 feat(argo-cd): support ApplicationSet in any namespace.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/clusterrole.yaml
  charts/argo-cd/templates/argocd-applicationset/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, awaiting-upstream, size/L

#2564 feat(argo-workflows): Add ability to set .Values.namespaceOverride
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/artifact-repository-ref-cm.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/controller/workflow-controller-service.yaml
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/templates/server/gke/backendconfig.yaml
  charts/argo-workflows/templates/server/gke/frontendconfig.yaml
  charts/argo-workflows/templates/server/gke/managedcertificate.yaml
  charts/argo-workflows/templates/server/server-cluster-roles.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2577 feat(argo-cd): Support setting ArgoCD Notifications secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-notifications-secret.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2580 fix(argo-cd): Fixed default tls hosts for grpc ingress endpoint
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Labels: argo-cd, size/XS

#2512 fix(argocd-image-updater): Properly quoting the config map values (and other fixes)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#2556 feat(argo-rollouts): Allow customizing additional RBAC rules for other providers
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#2594 feat(argo-events): Support ability to set .Values.namespaceOverride
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/_helpers.tpl
  charts/argo-events/templates/argo-events-controller/config.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-controller/pdb.yaml
  charts/argo-events/templates/argo-events-controller/rbac.yaml
  charts/argo-events/templates/argo-events-controller/service.yaml
  charts/argo-events/templates/argo-events-controller/serviceaccount.yaml
  charts/argo-events/templates/argo-events-controller/servicemonitor.yaml
  charts/argo-events/templates/argo-events-webhook/clusterrolebinding.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/pdb.yaml
  charts/argo-events/templates/argo-events-webhook/service.yaml
  charts/argo-events/templates/argo-events-webhook/serviceaccount.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/M

#2538 feat(argocd-apps)!: use maps instead of lists
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/applications-multiple-sources-values.yaml
  charts/argocd-apps/ci/applications-values.yaml
  charts/argocd-apps/ci/applicationsets-multiple-sources-values.yaml
  charts/argocd-apps/ci/applicationsets-progressive-syncs-values.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applications.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/templates/extensions.yaml
  charts/argocd-apps/templates/projects.yaml
  charts/argocd-apps/values.yaml
Labels: size/XL, argocd-apps

#2590 feat(argo-rollouts): Added Deployment labels to values.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2430 feat(argo-workflows): check prometheus CRD for ServiceMonitor
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-servicemonitor.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2599 feat(argo-rollouts): add minimum RBAC for Gateway API
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/M

#2609 fix(argo-cd): Properly support "application in any namespace" for the argocd-server ClusterRole
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrole.yaml
  charts/argo-cd/templates/argocd-server/clusterrole.yaml
Labels: argo-cd, size/S

#2612 fix(argo-cd): add missing crd change from 2.10.5
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
Labels: argo-cd, size/S
