Repository argoproj/argo-helm, pull requests merged in 2024-01, with the labels that each got.

#2409 chore(argo-cd): DRY cleanup of ServiceAccounts
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-application-controller/rolebinding.yaml
  charts/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-applicationset/rolebinding.yaml
  charts/argo-cd/templates/argocd-applicationset/serviceaccount.yaml
  charts/argo-cd/templates/argocd-notifications/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/rolebinding.yaml
  charts/argo-cd/templates/argocd-notifications/serviceaccount.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/rolebinding.yaml
  charts/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  charts/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/rolebinding.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/dex/rolebinding.yaml
  charts/argo-cd/templates/dex/serviceaccount.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/serviceaccount.yaml
Labels: argo-cd, size/L

#2414 fix(argocd-image-updater): Update outdated link on README
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#2411 chore(argo-workflows): Update doc for Argo Workflows server authentication
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
Labels: argo-workflows, size/M

#2404 feat(argo-rollouts): Add rollout plugin gloo platform rbac
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#2423 docs(argo-cd): Fix policy.csv block
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2426 docs(argo-workflows): fix wrong `artifactRepository` identations on values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M

#2429 feat(argocd-image-updater): Support extra K8s manifests
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/ci/enable-extra-objects-values.yaml
  charts/argocd-image-updater/templates/extra-manifests.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#2410 feat(argo-cd): Add optional mapping of argocd-repo-server emptydir to custom volumes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#2438 docs(argo-cd): Add reference for Argo CD extensions
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2439 feat(argo-cd): Support Azure DevOps webhook Secret
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2443 fix(argo-cd): Fix fail to render `.Values.configs.secret.azureDevops`
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-secret.yaml
Labels: argo-cd, size/S

#2445 chore(argo-cd): Provide Casbin matcher explicitly
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2446 chore(argo-cd): Change redis repository to public.ecr.aws
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#2447 docs(argo-cd): Update docs with the correct default for application.instanceLabelKey
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#2451 fix(argo-workflows): Fix trailing whitespace in controller ConfigMap
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Labels: argo-workflows, size/XS

#2449 docs(argocd-apps): Add deprecated note for Argo CD Extensions
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/README.md
  charts/argocd-apps/ci/extensions-values.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#2454 fix(argo-cd): Fix Repo server `serviceaccount` label template
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
Labels: argo-cd, size/XS

#2448 docs(argo-workflows): Add MySQL persistence support explicitly on README
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#2459 fix(argo-cd): Restart argocd-server when argocd-cm CM is updated
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/XS

#2442 feat(argocd-apps): support ignoreApplicationDifferences for appsets
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/ci/applicationsets-values.yaml
  charts/argocd-apps/templates/applicationsets.yaml
  charts/argocd-apps/values.yaml
Labels: size/S, argocd-apps

#2468 fix(argo-cd): bump dex image version to fix cves
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS
