Repository argoproj/argo-helm, pull requests merged in 2025-01, with the labels that each got.

#3097 docs(argo-cd): Correct outdated URL for doc
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#3100 feat(argo-rollouts): Add lifecyle and terminationGracePeriodSeconds settings for controller
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#3101 feat(argo-workflows): Support ephemeral credentials for s3
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3072 chore(github): add includePath to renovate.json
  renovate.json
Labels: size/XS

#3098 fix(argo-events): Support initContainers to controller
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-controller/deployment.yaml
Labels: argo-events, size/XS

#3105 chore(github): Support redis-exporter to Renovate
  renovate.json
Labels: size/XS

#3081 feat(argo-cd): Add DRY support for Ingress
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/S

#3120 fix(argo-cd): Correct ingress listen-ports example on README
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#3115 feat(argo-workflows): Support workflowEvent configuration to Argo Workflow Controller
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3124 fix(argo-cd): Adding conditionals around argocd-tls-cert-cm.yaml helm creation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3137 fix(argo-cd): Address ingress regression of PR #3081
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Labels: argo-cd, size/XS

#2998 feat(argocd-image-updater): Make cm and secret names configurable
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap-sshconfig.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/secret.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#3138 feat(argo-cd): Add an extra feature toggle to the argocd configmap that allows sync impersonation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3143 feat(github): Support redis and extension-installer in Renovate - alternative
  .github/workflows/renovate.yaml
  renovate.json
  scripts/renovate-bump-version.sh
Labels: size/M

#3136 fix(argo-cd): Fix required cluster credentials name
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
Labels: argo-cd, size/XS
