Repository argoproj/argo-helm, pull requests merged in 2025-05, with the labels that each got.

#3263 chore(argo-workflows): Improve argo-workflow controller clusterrole policy
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Labels: argo-workflows, size/S

#3289 feat(argo-cd): Update to Argo CD 3.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/role.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-applicationset.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XL

#3294 fix(argo-cd): Use correct Secret name for optional (external-)Redis auth
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/S

#3276 fix(argo-workflows): Restart server when configMap is updated
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Labels: argo-workflows, size/S

#3321 chore(argo-cd): Upgrade redis-ha dependency (4.33.7)
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#3328 feat(argo-cd): use dual-stack AWS ECR registry for redis
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Labels: argo-cd, size/S

#3319 docs(argocd-image-updater): adding examples of using workload identity with Azure Container Registry
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/M

#3330 feat(argo-cd): Add hydrator.enabled parameter
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS
