Repository argoproj/argo-helm, pull requests merged in 2025-03, with the labels that each got.

#3182 fix(argo-cd): Fixed broken topologySpreadConstraints template in commitServer component
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-commit-server/deployment.yaml
Labels: argo-cd, size/XS

#3186 feat(argo-workflows): allow additional rules for service account that runs the workflows
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3188 chore(github): Update release metrics
  scripts/release-analysis/README.md
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-events.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Labels: size/M

#3189 chore(github): Make GH action secret SCORECARD_TOKEN obsolete
  .github/workflows/scorecard.yml
Labels: size/XS

#3193 fix(argo-workflows): Clarify the purpose of the aggregate roles in the values.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3199 feat(argo-rollouts): add support for stepPlugins
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/values.yaml
Labels: argo-rollouts, size/S

#3196 feat(argo-events): Add revisionhistorylimit webhook controller
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/templates/argo-events-controller/deployment.yaml
  charts/argo-events/templates/argo-events-webhook/deployment.yaml
  charts/argo-events/values.yaml
Labels: argo-events, size/S

#3215 chore(github): Update release metrics before ArgoCon EU
  scripts/release-analysis/argo_helm_releases.csv
  scripts/release-analysis/argo_releases.csv
  scripts/release-analysis/merged_releases.csv
  scripts/release-analysis/time_difference_plot_argo-cd.png
  scripts/release-analysis/time_difference_plot_argo-rollouts.png
  scripts/release-analysis/time_difference_plot_argo-workflows.png
Labels: size/M

#3216 chore(argo-cd): Upgrade redis-ha
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
Labels: argo-cd, size/S

#3209 fix(argo-cd): Deprecate logLevel and logFormat values for dex and notifications controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/NOTES.txt
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M
