Repository argoproj/argo-helm, pull requests merged in 2025-09, with the labels that each got.

#3493 fix(argo-cd): Update ingress class annotation for GKE compatibility
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/gke/ingress.yaml
Labels: argo-cd, size/S

#3299 fix(argo-cd): add allowed audiences parameter to values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M

#3281 fix(argo-cd): Adding the size limit for emptyDir in statefulset of argocd-application-controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Labels: argo-cd, size/S

#3494 fix(argo-workflows): add workflowtasksets/status RBAC permission
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
Labels: argo-workflows, size/XS

#3497 ci(argo-cd): Replace Bitnami redis with simple YAML file
  .github/configs/external-redis.yaml
  .github/workflows/lint-and-test.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/ci/external-redis-values.yaml
Labels: argo-cd, size/M

#3500 feat(argo-cd): add custom roleRules support for application-controller
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/role.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3501 fix(argo-cd): Fix repo-server NetworkPolicy to allow metrics port access without requiring separate metrics service
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-applicationset/networkpolicy.yaml
  charts/argo-cd/templates/argocd-repo-server/networkpolicy.yaml
  charts/argo-cd/templates/dex/networkpolicy.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
Labels: argo-cd, size/S

#3507 feat(argo-cd): Allow configuring resource requests/limits for copyutil initContainer in repo-server pod
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S
