Repository argoproj/argo-helm, pull requests merged in 2025-02, with the labels that each got.

#3153 chore(argo-cd): Fix typo on README
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Labels: argo-cd, size/S

#3159 fix(argo-cd): only create dex-servicemonitor if dex is enabled
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
Labels: argo-cd, size/XS

#3113 chore(argo-workflows): suggest non deprecated option
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3176 feat(argo-cd): Add support for controller.sync.timeout.seconds
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/XS

#3177 docs(argo-cd): Added a comment how to pass values into argocd-cm ConfigMap
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3175 feat(argo-workflows): Support livenessProbe to server
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/ci/enable-server-liveness-probe-values.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/M
