Repository argoproj/argo-helm, pull requests merged in 2025-06, with the labels that each got.

#3340 chore(argo-cd): Update comment about Redis username if existingSecret is set
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3292 chore(argo-workflows): Add check whether the workflow server is enabled
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/gke/backendconfig.yaml
  charts/argo-workflows/templates/server/gke/frontendconfig.yaml
  charts/argo-workflows/templates/server/gke/managedcertificate.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
Labels: argo-workflows, size/S

#3347 fix(argo-workflows): Fix incorrect values note
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Labels: argo-workflows, size/S

#3358 feat(argo-cd): support trafficDistribution in argo repo service
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3360 feat(argocd-image-updater): Support priorityClassName
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/ci/priority-class-values.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Labels: argocd-image-updater, size/S

#3367 fix(argo-cd): do not use hardcoded commit server URL
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-commit-server/service.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/M
