Repository argoproj/argo-helm, pull requests merged in 2025-04, with the labels that each got.

#3221 fix(argo-cd): Moved to oliver006/redis_exporter to support mutli-arch images
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3223 fix(argo-cd): set loglevel and logformat cli args without quotes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-notifications/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Labels: argo-cd, size/S

#3119 feat(argo-rollouts): restart when configmap changes
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Labels: argo-rollouts, size/XS

#3227 fix(argo-rollouts): Fix scope and path to CM for checksum calculation
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Labels: argo-rollouts, size/S

#3226 fix(argo-cd): Also use oliver006/redis_exporter for non-HA redis
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
  renovate.json
Labels: argo-cd, size/S

#3231 fix(argo-cd): Correct oliver006/redis_exporter image tag
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd, size/S

#3228 fix(argo-cd): Make code clearer when Redis Secret is optional
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Labels: argo-cd, size/M

#3233 fix(argo-workflows): fix yamllint error 'trailing spaces'
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-cluster-roles.yaml
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/controller/workflow-controller-sa.yaml
  charts/argo-workflows/templates/extra-manifests.yaml
  charts/argo-workflows/templates/server/server-crb.yaml
Labels: argo-workflows, size/S

#3238 fix(argo-cd): Same Secret name and key for all embedded redis options
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/_helpers.tpl
Labels: argo-cd, size/S

#3258 docs(argo-cd): Update kubelogin documentation for extra containers
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Labels: argo-cd

#3271 fix(argo-cd): Downgrade to latest available Redis under BSD-3-Clause
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
  renovate.json
Labels: argo-cd, size/M
