Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

feat(argo-cd): Add support for argo-cd server service externalIPs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

fix(argo-cd): quote version annotation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @spencergilbert

feat(argo-rollouts): Update argo-rollouts to v0.10.2
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

chore: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in favor of apiextensions.k8s.io/v1 CustomResourceDefinition
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @cabrinha

Feat(argo-rollouts): Update argo-rollouts to v0.10.2 (#538)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.15.2.tgz
  argo-cd-2.11.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.0.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

enable stale bot
  .github/stale.yaml
Owners: none

Publish charts
  argo-0.15.2.tgz
  argo-cd-2.11.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.0.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none
