Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

Publish charts
  argo-0.13.10.tgz
  argo-cd-2.10.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.9.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

bump chart version
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

feat: support helm3, bump chart version 0.14.0
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

update deployment to statefulset
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
Owners: @seanson, @spencergilbert

Update chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix: apply podannotations to the controller pod template (#510)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
Owners: @cabrinha

Publish charts
  argo-0.13.10.tgz
  argo-cd-2.10.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Enabling support for lifecycle hooks on ArgoCD Server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat: enable support for lifecycle hooks on ArgoCD Server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

upgraded CRD version to apiextensions.k8s.io/v1
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/crds/sensor-crd.yml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-crd.yaml
  charts/argo-events/values.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo/Chart.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @seanson, @spencergilbert, @jbehling, @cabrinha, @benjaminws, @stefansedich, @paguos

Add possibility to change NodePort if this is type of Service.
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Update chart version.
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

feat(argo-events): Add debugLogging value for controller components
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

feat(argo): Add support for setting env vars for workflow controller.
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Renames the attribute and adds comment.
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): Add support for setting env vars for workflow controller. (#517)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.11.tgz
  argo-cd-2.10.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

chore: bump argo-events to v1.1.0
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

chore: Bumping minor semver as this has a resource change
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

chore: Add feature flag for enabling StatefulSet
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: Add conditional for serviceName, add README
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
Owners: @seanson, @spencergilbert

feat(argo-cd): change application-controller to StatefulSet (#512)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.13.11.tgz
  argo-cd-2.11.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo): bump apiVersion and support helm3 (#494)
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.14.0.tgz
  argo-cd-2.11.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo-cd): Argo CD 1.8.1
  .circleci/chart-testing.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/charts/redis-ha/Chart.yaml
  charts/argo-cd/charts/redis-ha/OWNERS
  charts/argo-cd/charts/redis-ha/README.md
  charts/argo-cd/charts/redis-ha/templates/redis-ha-statefulset.yaml
  charts/argo-cd/charts/redis-ha/values.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
  charts/argo-cd/requirements.lock
  charts/argo-cd/requirements.yaml
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
  scripts/publish.sh
Owners: @seanson, @spencergilbert

upgrade dex to v2.25.0
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: Bump chart semver
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

feat(argo-cd): upgrade chart 3.0.0
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat(argo-rollouts): Bump app version to v0.10.2 (chart version: 0.3.11)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

chore: spelling/grammar for readme
  charts/argo-cd/README.md
Owners: @seanson, @spencergilbert

chore(argo-cd): Fix ingress configuration in helm notes (#526)
  charts/argo-cd/templates/NOTES.txt
Owners: @seanson, @spencergilbert

feat(argo): Add argo SSO/RBAC support server cluster role
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(ci): change char-testing image which uses helm3
  .circleci/config.yml
Owners: none

feat(argo): add helm3 Chart.lock
  .circleci/chart-testing.yaml
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/README.md
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(ci): change publish docker image from gcr.io/kubernetes-charts-ci/test-image to quay.io/helmpack/chart-testing
  .circleci/config.yml
  scripts/publish.sh
Owners: none

feat(argo-ci): support helm3
  charts/argo-ci/Chart.lock
  charts/argo-ci/Chart.yaml
  charts/argo-ci/requirements.lock
  charts/argo-ci/requirements.yaml
Owners: none

feat(argo-events): support helm3
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/crds/sensor-crd.yml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-crd.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

feat(argo-cd): add helm3 Chart.lock
  .circleci/chart-testing.yaml
  charts/argo-cd/Chart.lock
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
  charts/argo-cd/requirements.lock
  charts/argo-cd/requirements.yaml
Owners: @seanson, @spencergilbert

feat(argo-rollouts): support helm3
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @cabrinha
