Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

add flag and labels for application labels
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.7 Signed-off-by: smcavallo <smcavallo@hotmail.com>
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update to app Versioa v3.2.4
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

docs(argo-workflows): Use helm docs for workflows (#1003)
  .github/workflows/lint-and-test.yml
  .helmdocsignore
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none
