Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

add deployments folder
  .deployments/config.yaml
  .deployments/kubernetes/App.yaml
  .deployments/kubernetes/manifests-crashburn.infra.use1/variables.yaml
  Jenkinsfile
Owners: none

move dependecies to chart.yaml
  .deployments/config.yaml
  charts/argo/Chart.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Add RBAC permissions for v2.12.
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Upgrades gcr.io/kubernetes-charts-ci/test-image.
  .circleci/config.yml
Owners: none

Tries quay.io/helmpack/chart-testing:v3.3.1.
  .circleci/config.yml
Owners: none

Updates minio chart.
  .circleci/config.yml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
Owners: @benjaminws, @stefansedich, @paguos

Reverts to the original test-image repo.
  .circleci/config.yml
Owners: none

Overrides stable repo.
  .circleci/config.yml
Owners: none

Moves minio dep to chart config.
  .circleci/chart-testing.yaml
  .circleci/config.yml
Owners: none

Restores helm init.
  .circleci/config.yml
Owners: none

Uses quay.io/helmpack/chart-testing:v3.3.1 again.
  .circleci/config.yml
Owners: none

Upgrades CRD api version.
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

Drops obsolete helm repo from pusblish.sh.
  scripts/publish.sh
Owners: none

Updates dependencies for argo-cd to unbreak build.
  charts/argo-cd/requirements.lock
  charts/argo-cd/requirements.yaml
Owners: @seanson, @spencergilbert

Explicitly adds stable repo.
  .circleci/config.yml
Owners: none

Bumps version of argo-cd chart.
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Upgrades argo-cd CRD apiversion.
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

Upgrades helm for publishing.
  .circleci/config.yml
Owners: none

Adds minio explicitly for publishing.
  .circleci/config.yml
Owners: none

make it namespaced install
  .deployments/kubernetes/App.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

chore: Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Adds missing create permission for the sso secret.
  charts/argo/templates/server-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Add RBAC permissions for v2.12. (#541)
  .circleci/chart-testing.yaml
  .circleci/config.yml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
  charts/argo-cd/requirements.lock
  charts/argo-cd/requirements.yaml
  charts/argo/Chart.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
  scripts/publish.sh
Owners: @seanson, @spencergilbert, @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.15.0.tgz
  argo-cd-2.11.1.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argo): Add RBAC permissions for v2.12. (#541)
  charts/argo-cd/values.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-crb.yaml
Owners: @seanson, @spencergilbert, @benjaminws, @stefansedich, @paguos

chore(argo): version bump
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

chore(argo-cd): version bump
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix(Argo): Unify settings for activating rbac.
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Fixes lint crash.
  charts/argo/templates/server-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo-cd): Fixes CRD schema.
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

Bumps chart version.
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix(Argo): Unify settings for activating rbac. (#544)
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.15.1.tgz
  argo-cd-2.11.1.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argo): Move dependencies into Chart.yaml.
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/requirements.yaml
Owners: @benjaminws, @stefansedich, @paguos

Bumping Chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix(argo): Move dependencies into Chart.yaml. (#546)
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/requirements.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.15.2.tgz
  argo-cd-2.11.1.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo): Populate workflow service account with pull secrets
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo-cd): Fixes CRD schema. (#545)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.15.2.tgz
  argo-cd-2.11.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.10.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller
