Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

update version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix linting errors
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

add linux node selectors
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

update chart version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix: add priorityClassName to argo-cd deployments pod specs (#377)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.1.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.1.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

Update values.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Update Chart.yaml
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

Add support for configmaps annotations (#390)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.2.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.1.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

chore(argo-cd): add app-resync as a template variable (#397)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.3.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.1.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

Add argocd-dex psp
  charts/argo-cd/templates/dex/psp.yaml
Owners: @seanson, @spencergilbert

Add argocd-repo-server psp
  charts/argo-cd/templates/argocd-repo-server/psp.yaml
Owners: @seanson, @spencergilbert

Add default values
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Add argocd-redis psp
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/psp.yaml
  charts/argo-cd/templates/redis/serviceaccount.yaml
Owners: @seanson, @spencergilbert

Add argocd-server psp
  charts/argo-cd/templates/argocd-server/psp.yaml
Owners: @seanson, @spencergilbert

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Added tolerations, nodeSelectors and affinity to argo-rollouts (#387)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.3.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

fix: #404 - Set Security Context for Redis Pod
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Separate Container and Pod Security Context for Redis
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Bump Chart Version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Syntax fix
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Also set Group in Redis Security Context
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

adding priority class support for argo-server and workflow-controller deployments
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

increment argo chart version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

fixing if conditional for priorityClass
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

Add missing cluster role
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Owners: @cabrinha

Fix Pods Delete Permissions
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

fix: #404 - Change Redis image to run as non-root user (#405)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.4.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

chore: bump version
  charts/argo-events/Chart.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

chore: updating values
  charts/argo-events/templates/gateway-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

feat: allow for configuring security context of all components
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: add slack bot service annotations to argocd-notifications
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/bots/slack/service.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

feat: add monitoring to argocd-notifications
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/service-metrics.yaml
  charts/argocd-notifications/templates/servicemonitor.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

[argocd-notifications] add monitoring and slack bot service annotations (#411)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/bots/slack/service.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/service-metrics.yaml
  charts/argocd-notifications/templates/servicemonitor.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.4.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.8.tgz
  index.yaml
Owners: none

chore: bump version
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/templates/argo-events-roles.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/gateway-controller-configmap.yaml
  charts/argo-events/templates/gateway-controller-deployment.yaml
  charts/argo-events/templates/gateway-crd.yaml
  charts/argo-events/templates/sensor-controller-configmap.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller
