Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

Fix :icon: yaml validation
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

Bump version
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

feat(argocd): Allow specifying annotations for serviceaccounts (#371)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  charts/argo-cd/templates/argocd-server/serviceaccount.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.3.7.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.4.tgz
  index.yaml
Owners: none

chore: Update argocd version to 1.6.1 (#379)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.4.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.4.tgz
  index.yaml
Owners: none

[charts/argo-cd] Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

added tolerations, nodeSelectors and affinity
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

update chart version
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

Add quote filter
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

feat: Enable dedicated grpc ingress for argo-cd-server (#367)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.4.tgz
  index.yaml
Owners: none

fix: Escape :icon: yaml (#386)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.5.tgz
  index.yaml
Owners: none

configurable casbin file
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-casbin-cm.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @spencergilbert

updating chart semantic versioning
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix: ArgoCD Notifications - Bot service account
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/bots/slack/role.yaml
  charts/argocd-notifications/templates/bots/slack/serviceaccount.yaml
  charts/argocd-notifications/templates/serviceaccount.yaml
Owners: @alexmt, @andyfeller

chore: update argocd-notifications version to 1.0.6
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

Add support for configmaps annotations
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  charts/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

argocd-notifications: fix serviceaccount name (#389)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/bots/slack/role.yaml
  charts/argocd-notifications/templates/bots/slack/serviceaccount.yaml
  charts/argocd-notifications/templates/serviceaccount.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.6.tgz
  index.yaml
Owners: none

Align bot role with argocd-notifications project
  charts/argocd-notifications/templates/bots/slack/role.yaml
Owners: @alexmt, @andyfeller

Bumping version in chart
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

Using helper for secret name in multiple places
  charts/argocd-notifications/templates/_helpers.tpl
  charts/argocd-notifications/templates/bots/slack/role.yaml
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

Add email notifier configuration to argocd-notifications chart
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Bump version in chart
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

Enable use of GKEBackendConfig
  charts/argo-cd/templates/argocd-server/service.yaml
Owners: @seanson, @spencergilbert

Quote strings in argocd-notifications email notifier
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

chore(argo-cd): add app-resync as a template variable
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

fix: add email notifier to argocd-notifier (#395)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.0.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

add priorityClassName to argo-cd deployments pod specs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @spencergilbert

Fix priorityClassName templating in redis deployment
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @spencergilbert

Add support for syncWindows in additionalProjects
  charts/argo-cd/templates/argocd-server/projects.yaml
Owners: @seanson, @spencergilbert

Update values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix(argo): add missing cr privileges for `patch`
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: argo-rollouts resources in helm values (#385)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.14.0.tgz
  argo-rollouts-0.3.1.tgz
  argocd-notifications-1.0.7.tgz
  index.yaml
Owners: none

allow setting up SA and RBAC resources
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos
