Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

feat(argo-cd): Update CRD's to match upstream version.
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

feat: add support for configuring bot port
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/bots/slack/service.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

bump version
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

remove unnecessary protocol
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
Owners: @alexmt, @andyfeller

feat(argo-rollouts): Add configurable annotation to the metrics service (#421)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-metrics-service.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.10.tgz
  index.yaml
Owners: none

fix(argo): add missing rbac to support pdbs
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): add missing rbac to support pdbs (#433)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.10.tgz
  index.yaml
Owners: none

fix(argo): add missing cr privileges for `patch` (#399)
  charts/argo/templates/workflow-controller-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.10.tgz
  index.yaml
Owners: none

feat: add support for configuring bot port (#432)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/bots/slack/service.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo-cd): Add Support for syncWindows in additionalProjects (#398)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/projects.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.1.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo-cd): Update CRD's to match upstream version. (#430)
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.1.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: Argo CD allow custom paths for ingress
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat: Argo CD allow custom paths for ingress (#424)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.9.tgz
  argo-cd-2.6.2.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.5.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: imagePullSecrets for servers and controllers
  .gitignore
  charts/argo-ci/Chart.yaml
  charts/argo-ci/templates/ci-deployment.yaml
  charts/argo-ci/values.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/templates/sensor-crd.yaml
  charts/argo-events/values.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @jbehling, @cabrinha, @benjaminws, @stefansedich, @paguos

feat: imagePullSecrets for servers and controllers (#361)
  .gitignore
  charts/argo-ci/Chart.yaml
  charts/argo-ci/templates/ci-deployment.yaml
  charts/argo-ci/values.yaml
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/templates/sensor-crd.yaml
  charts/argo-events/values.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @jbehling, @cabrinha, @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.9.10.tgz
  argo-cd-2.6.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-0.17.1.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Added conditionals for ingress extraPaths
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @seanson, @spencergilbert

Added conditionals for ingressGrpc extraPaths
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
Owners: @seanson, @spencergilbert

Version bump
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

updates rollout crd
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @cabrinha

argo-cd/argocd-server: fix ingress when no extraPaths
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @seanson, @spencergilbert

argo-cd: bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix: Helm giving linting error when no ingress or ingressGrpc extraPaths are given (#435)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/ingress-grpc.yaml
  charts/argo-cd/templates/argocd-server/ingress.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.10.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-0.17.1.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo): Add linux node selectors by default (#403)
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.10.0.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-0.17.1.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: allow for configuring security context of all components (#410)
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.10.1.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-0.17.1.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

add newline file ending
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: Support GCS artifactRepository (#428)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.10.2.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-0.17.1.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

chore: bump to latest
  charts/argo-events/values.yaml
Owners: @jbehling

chore: bump to latest
  charts/argo-events/Chart.yaml
Owners: @jbehling
