Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

update image versions
  charts/argo-events/values.yaml
Owners: @jbehling

chore: bump to latest (#440)
  charts/argo-events/Chart.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

Publish charts
  argo-0.10.2.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

update default SA
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

bump version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): Allow setting up ServiceAccount and RBAC resources for running workflows (#402)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.11.0.tgz
  argo-cd-2.6.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Adds support for full name override.
  charts/argo/templates/_helpers.tpl
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/worfkflow-controller-secrets-access.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment-pdb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-minio-secret-crb.yaml
  charts/argo/templates/workflow-controller-service.yaml
  charts/argo/templates/workflow-controller-servicemonitor.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
Owners: @benjaminws, @stefansedich, @paguos

Bumps chart version.
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

Makes aggreage role names non-overridable.
  charts/argo/templates/workflow-aggregate-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

adds clusteranalysistemplates
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Owners: @cabrinha

chore(argocd): Upgrade to v1.7.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore(argocd): Upgrade to v1.7.4 (#444)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.11.0.tgz
  argo-cd-2.7.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Add value for enable/disable redis securityContext; Bump chart version
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Adds support for workflow restrictions.
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Fixes Helm lint issues.
  charts/argo/requirements.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

Updates requirements.lock.
  charts/argo/requirements.lock
Owners: @benjaminws, @stefansedich, @paguos

Reverts helm lint fixes.
  charts/argo/Chart.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): Add support for workflow restrictions. (#447)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.12.0.tgz
  argo-cd-2.7.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

chore: bump argocd to version v1.7.5
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: bump argocd to version v1.7.5 (#448)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.0.tgz
  argo-cd-2.7.1.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

chore: bump argocd to version v1.7.6
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: bump argocd to version v1.7.6 (#449)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.0.tgz
  argo-cd-2.7.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix: Adding EmptyDir Volume for Repo Server on OpenShift
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @spencergilbert

fix: Adding EmptyDir Volume for Repo Server on OpenShift (#450)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.0.tgz
  argo-cd-2.7.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: add metrics for argo-cd/dex
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/dex/service.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat: add metrics for argo-cd/dex (#452)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/dex/service.yaml
  charts/argo-cd/templates/dex/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.0.tgz
  argo-cd-2.7.4.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Allows Argo server read access to events.
  charts/argo/templates/server-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

Bumps chart version.
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): Allow Argo server read access to events. (#454)
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.12.1.tgz
  argo-cd-2.7.4.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Fix default argocd version in documentation
  charts/argo-cd/README.md
Owners: @seanson, @spencergilbert

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

chore: update certificate apiVersion
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Owners: @seanson, @spencergilbert

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller
