Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

docs(argo-cd): Use helm-docs for ArgoCD (#983)
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

bunp
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

change
  charts/argocd-image-updater/templates/configmap.yaml
Owners: @mkilchhofer

add readme
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

fix(argo-cd): helm3 install does not have flag --name (#1001)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.6 (#1000)
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-workflows): Restore RBAC permission and clarify namespace settings. (#989)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-events): Update Argo Events to 1.5.0 (#995)
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

cleanup documentation
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

fix(argo-cd) Make argocd-server /home/argocd/.aws writeable when using readOnlyRootFilesystem=false security context (#1006)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

progress
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

fix dots in name
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

feat(argo-rollouts): Allow additional containers in controller deployment (#999)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

feat(argocd-image-updater): Optionally expose metrics (#1005)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

fix(argo-cd): Added openshift route options to values.yaml (#1010)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/route.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Add signature keys for GPG in additionalProjects (#1011)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-rollouts): Update ClusterRole with new rules (#993)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Owners: @oliverbaehler

fix documentation
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

docs(argocd-notifications): Use helm-docs (#1015)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/README.md.gotmpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

bump version
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

remove loop, fix keyorder
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

fix values file
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

Update charts/argocd-image-updater/values.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update charts/argocd-image-updater/values.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

feat(argocd-image-updater): Add ability to mount authentication scripts (#987)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap-authscripts.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

bump version
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

update docs
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

bymp
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update github SSH key fingerprint
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix: #argoproj/argo-helm/issues/1019: use the new public keys
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): Update github SSH key fingerprint (#1018)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Update charts/argocd-image-updater/values.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

Update charts/argocd-image-updater/values.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

update appVersion
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

fix(argocd-image-updater): Bump application version (#1017)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1
