Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

fix(argo-cd) Make argocd-server /home/argocd/.aws writeable when using readOnlyRootFilesystem=false security context
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd) Make argocd-server /home/argocd/.aws writeable when using readOnlyRootFilesystem=false security context (#1006)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-workflows): add `resourceRateLimit` config
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

fix(argo-cd): Added openshift route options to values.yaml
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

removed default values from template
  charts/argo-cd/templates/argocd-server/route.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Bump minor version
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

feat(argo-rollouts): Allow additional containers in controller deployment (#999)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Apply suggestions from code review
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
Owners: @mkilchhofer

Add missing link references to README
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

feat(argocd-image-updater): Optionally expose metrics (#1005)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/README.md.gotmpl
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

changed case of default termination type
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Sync some other things from upstream manifests
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Quote bools
  charts/argocd-image-updater/templates/configmap.yaml
Owners: @mkilchhofer

ci: add step to check if docs is staled and needs update
  .github/workflows/lint-and-test.yml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

docs: run helm-docs to generate readme
  charts/argo-workflows/README.md
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update: use with term
  charts/argo-cd/templates/_helpers.tpl
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix: remove version from helper
  charts/argo-cd/templates/_helpers.tpl
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): Added openshift route options to values.yaml (#1010)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/route.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Add signature keys for GPG in additionalProjects
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix whitespace
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Add missing parameter documentation
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Fix lint - Newline at the end of file
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Add signature keys for GPG in additionalProjects (#1011)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Add .helmdocsignore for charts which not yet use helm-docs
  .helmdocsignore
Owners: none

docs(argocd-notifications): Use helm-docs
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/README.md.gotmpl
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

Use chart appVersion as default image tag
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

docs(argocd-notifications): Use helm-docs (#1015)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/README.md
  charts/argocd-notifications/README.md.gotmpl
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Do not exclude argocd-notifications anymore
  .helmdocsignore
Owners: none

add option to change number of controller replicas
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

fix(argo-rollouts): Update ClusterRole with new rules (#993)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

add auth script functionality
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

proper formatting
  charts/argocd-image-updater/README.md
Owners: @mkilchhofer

fix(argo-cd): Update to app version v2.1.5 (#990)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1
