Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

Ticking up chart version
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

fix(argo-cd): global podLabels/podAnnotations object unexpected merge
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix change log typo
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): global podLabels/podAnnotations object unexpected merge (#930)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-image-updater): add podSecurityPolicy and rbac permission Signed-off-by: yanehi <nevado-git@magenta.de>
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/podsecuritypolicy.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

feat(argo-workflows): Adding initialDelay param to controller configmap (#926)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): add extraContainers to pods besides server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: Rework PR
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

fix(argocd-image-updater): Add scratch space for /tmp
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

fix(argocd-image-updater): Add scratch space for /tmp (#933)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

Apply suggestions from code review
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): add extraContainers to pods besides server (#927)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Apply suggestions from code review
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argocd-image-updater): Add custom environment variables (#874)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

fix(argo-rollouts): use `image.tag` in labels if provided (#913)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/_helpers.tpl
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

chore: claim ownership of artifacthub.io argo repo
  artifacthub-repo.yml
Owners: none

feat(argo-cd): Add support for topologySpreadConstraints (#917)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

custom clusterRoleRules
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix: Redis label version
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix: Redis labels
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix: Redis labels
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Fix: typo
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-rollouts): Default to keeping CRD's on helm uninstall (#922)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Add rollouts dashboard ingress support
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/_helpers.tpl
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/ingress.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Fix eol
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

feat(argo-cd): Add ability to scrape redis metrics
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/metrics-service.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Add ability to scrape redis metrics (#892)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/templates/redis/metrics-service.yaml
  charts/argo-cd/templates/redis/networkpolicy.yaml
  charts/argo-cd/templates/redis/servicemonitor.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Bump version
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Allow setting the metrics port name Here, we scrape every pod that has a .*-metrics port here But the helm chart is locked to `metrics` which our Prometheus doesn't see
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Bump minor version
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler
