Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @jmeridth, @vladlosev, @yu-croco, @mbevc1, @pdrastil

CODEOWNERS:

# All
*                              @mkilchhofer @jmeridth

# Argo Workflows
/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco

# Argo CD
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil

# Argo Events
/charts/argo-events/           @pdrastil @jmeridth

# Argo Rollouts
/charts/argo-rollouts/         @jmeridth

feat(argo-cd): Enable to customize Service type of applicationset-controller (#2014)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-applicationset/service.yaml
  charts/argo-cd/values.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

add a fix for argo workflows hpa
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

add description for the fix
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix(argo-workflows): use correct artifacthub annotation kind
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix(argo-events): use correct artifacthub annotation kind
  charts/argo-events/Chart.yaml
Owners: @pdrastil, @jmeridth

fix clusterworkflowtemplates disabled flag
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix(argo-workflows): use correct artifacthub annotation kind (#2031)
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

feat(github): add artifacthub linting
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth

update readme
  charts/argo-workflows/README.md
Owners: @vladlosev, @jmeridth, @yu-croco

fix(argo-events): use correct artifacthub annotation kind (#2032)
  charts/argo-events/Chart.yaml
Owners: @pdrastil, @jmeridth

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

remove apiVersionOverrides from readme
  charts/argo-workflows/README.md
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

feat(github): add artifacthub linting (#2030)
  .github/workflows/lint-and-test.yml
Owners: @mkilchhofer, @jmeridth

fix linting
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix(argo-workflows): Fix Helm chart to correctly reference Kubernetes version in conditional check for HPA apiVersion (#2029)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/server/server-deployment-hpa.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

Add artifacthub changes
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix templating list of yamls
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/templates/server/server-deployment.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

Bump version and fix templating for gcs and azure as well
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

Bump chart version and add artifacthub changes
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix git colors
  .gitattributes
Owners: @mkilchhofer, @jmeridth

[argo-workflows] allow extraObjects to contain string template
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/extra-manifests.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

fix: Attempt to fix errors in Artifacthub
  index.yaml
Owners: @mkilchhofer, @jmeridth

fix: Attempt to fix errors in Artifacthub (#2036)
  index.yaml
Owners: @mkilchhofer, @jmeridth

feat(argo-rollouts): Upgrade Argo Rollouts to v1.5.0 Signed-off-by: yu-croco <yu.croco@gmail.com>
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @jmeridth

fix(argo-workflows): fix clusterworkflowtemplates disabled flag (#2033)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/crds/argoproj.io_clusterworkflowtemplates.yaml
Owners: @vladlosev, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

feat(github): Introduce chart signing
  .github/configs/cr.yaml
  .github/workflows/publish.yml
Owners: @mkilchhofer, @jmeridth

feat(github): Publish PGP public key so that tools can verify the charts
  pgp_keys.asc
Owners: @mkilchhofer, @jmeridth

feat(github): Introduce chart signing (#2040)
  .github/configs/cr.yaml
  .github/workflows/publish.yml
Owners: @mkilchhofer, @jmeridth

feat(github): Publish PGP public key so that tools can verify the charts (#2041)
  pgp_keys.asc
Owners: @mkilchhofer, @jmeridth

feat(argo-rollouts): Add missing configmap for 3rd party metrics providers Signed-off-by: yu-croco <yu.croco@gmail.com>
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/configmap.yaml
  charts/argo-rollouts/values.yaml
Owners: @jmeridth

feat(argo-cd): Introduce chart signing
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil

feat(argo-cd): Introduce chart signing (#2042)
  charts/argo-cd/Chart.yaml
Owners: @mbevc1, @mkilchhofer, @yu-croco, @jmeridth, @pdrastil

Update index.yaml
  index.yaml
Owners: @mkilchhofer, @jmeridth

feat: Add signing information
  charts/argo-rollouts/Chart.yaml
Owners: @jmeridth

feat(argo-events): Introduce chart signing
  charts/argo-events/Chart.yaml
Owners: @pdrastil, @jmeridth

feat(argo-workflows): Introduce chart signing
  charts/argo-workflows/Chart.yaml
Owners: @vladlosev, @jmeridth, @yu-croco
