Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

fix(argo): Map the /tmp directory into server pods.
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

Bumps the image tag.
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Map the /tmp directory into server pods. (#498)
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.3.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argo): Volume indents.
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Volume indents. (#500)
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.4.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: Add support for Argo links (#497)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.5.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: Add parallelism to argo-helm chart
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Parallelism null by default
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: Add parallelism to argo-helm chart (#482)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.6.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(Argo): Add secret access whitelist for server.
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(Argo): Add secret access whitelist for server. (#499)
  charts/argo/Chart.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.7.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argo): --pod-workers template context
  charts/argo/templates/workflow-controller-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

chore(argo): bump version to v0.13.8
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix --pod-workers helm context (#481)
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.8.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Update RBAC AND CRD as per 0.10
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @cabrinha

update chart version
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

feat: allow controller replicas to be set
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat: allow controller replicas to be set (#496)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.13.8.tgz
  argo-cd-2.10.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Make API version configable for CRD
  charts/argo-cd/README.md
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
  charts/argo-cd/values.yaml
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/crds/sensor-crd.yml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-crd.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @seanson, @spencergilbert, @jbehling, @cabrinha, @benjaminws, @stefansedich, @paguos

Move crds under template to be able to use variable
  charts/argo-cd/templates/crds/crd-application.yaml
  charts/argo-cd/templates/crds/crd-project.yaml
  charts/argo-events/templates/crds/eventbus-crd.yml
  charts/argo-events/templates/crds/eventsource-crd.yml
  charts/argo-events/templates/crds/sensor-crd.yml
  charts/argo/templates/crds/cluster-workflow-template-crd.yaml
  charts/argo/templates/crds/cron-workflow-crd.yaml
  charts/argo/templates/crds/workflow-crd.yaml
  charts/argo/templates/crds/workflow-eventbinding-crd.yaml
  charts/argo/templates/crds/workflow-template-crd.yaml
Owners: @seanson, @spencergilbert, @jbehling, @benjaminws, @stefansedich, @paguos

Uplift Chart version
  charts/argo-cd/Chart.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo/Chart.yaml
Owners: @seanson, @spencergilbert, @cabrinha, @benjaminws, @stefansedich, @paguos

Fix lint: trailing space
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Add missing value setting
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): bump apiVersion and support helm3
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: Add annotation to dex sa in values file
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: Minor bump instead of patch
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

chore: Update version in chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

feat: Add annotations to the dex service account
  charts/argo-cd/templates/dex/serviceaccount.yaml
Owners: @seanson, @spencergilbert

fix: apply podannotations to controller pod template
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
Owners: @cabrinha

fix: (argo-rollouts) Add clusterInstall conditional around aggregate ClusterRoles (#484)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
Owners: @cabrinha

Publish charts
  argo-0.13.8.tgz
  argo-cd-2.10.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.9.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argo): Use https for readiness probe in secure mode
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Use https for readiness probe in secure mode (#506)
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos
