Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

Add the ability to change the namespace that the controller watches for workflows
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Bump chart version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

Makes Argo Server service account creation conditional.
  charts/argo/Chart.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Changing the current chart version
  charts/argo-rollouts/README.md
Owners: @cabrinha

Adding the serviceAnnotations chart value that was missing
  charts/argo-rollouts/README.md
Owners: @cabrinha

fix: default argocd version in documentation (#456)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.1.tgz
  argo-cd-2.7.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: Allow setting the log format to json for Argo CD
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

chore: update certificate apiVersion (#458)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/certificate.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.1.tgz
  argo-cd-2.7.6.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: Allow setting the log format to json for Argo CD (#463)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.1.tgz
  argo-cd-2.8.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: bump to v0.9.1
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

add extraContainers argument
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @spencergilbert

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Update values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Update values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Fixes a typo.
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(Argo): Make Argo Server service account creation conditional. (#460)
  charts/argo/Chart.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.8.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.6.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: bump to v0.9.1 (#464)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
  charts/argo-rollouts/templates/argo-rollouts-role.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.8.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argocd): Unconditionally start reposerver with uid_entrypoint.sh
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @spencergilbert

Make dex init container not overwrite argocd-util
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @spencergilbert

Bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

chore: Bumping minor semver as this feels like a bit more than a patch change.
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Update values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Update deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
Owners: @seanson, @spencergilbert

fix(argocd): Unconditionally start reposerver with uid_entrypoint.sh (#466)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.9.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Update Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

fix: Add Ocp clusterrole (#341)
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Owners: @cabrinha

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.9.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: add extraContainers argument to deployment (#465)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.9.1.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argocd): Make dex init container not overwrite argocd-util (#468)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.12.2.tgz
  argo-cd-2.9.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: upgrade argo to v2.11
  charts/argo/Chart.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: upgrade argo to v2.11 (#451)
  charts/argo/Chart.yaml
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos
