Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

Ignore README.md.gotmpl in helm package
  charts/argo-cd/.helmignore
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Constistent naming convention for gRPC
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

TopologySpreadConstraints
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Adapt webhook secret naming convention to match upstream
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

docs(argo-cd): Use helm-docs for ArgoCD (#983)
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

fix(argo-cd): Update to app version v2.1.5
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: Use chart appVersion as global default imageTag
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): Update to app version v2.1.5 (#990)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/_helpers.tpl
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

add NATS images as environment variables on eventsourceController
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update ClusterRole with new rules
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
Owners: @oliverbaehler

Update image and tag for argo events deployments
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update Nats images
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update sensorImage and eventSourceImage
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update Chart.yaml
  charts/argo-events/Chart.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Place new argument at end to work with old images
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Add ArgoCD CLI CMD Params ConfigMap
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-configs/argocd-cmd-params-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Upgrade redis to last version to get security fixes
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update chart appversion and RBAC
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Apply suggestions from code review
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Default to Chart AppVersion if tag does not exist
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update Chart AppVersion to v1.5.0
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update changelog
  charts/argo-events/Chart.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

feat(argo-events): Update Argo Events to 1.5.0 (#995)
  charts/argo-events/Chart.yaml
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/sensor-controller-deployment.yaml
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): Upgrade argocd to v2.1.6 Signed-off-by: smcavallo <smcavallo@hotmail.com>
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.6 (#1000)
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

fix(helm3): install does not have flag --name
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat: Allow additional containers in controller deployment
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Apply suggesstions from code review
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @oliverbaehler

Update charts/argo-cd/Chart.yaml
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): helm3 install does not have flag --name (#1001)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

fix(argo-workflows): Restore RBAC permission and clarify namespace settings. (#989)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Use helm-docs for argo-workflows
  charts/argo-workflows/README.md
  charts/argo-workflows/README.md.gotmpl
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

bump version and update changelog
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argocd-image-updater): Optionally expose metrics
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/README.md
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/metrics-service.yaml
  charts/argocd-image-updater/templates/servicemonitor.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer
