Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

feat(argo-workflows): Allow setting the metrics port name (#934)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-deployment.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

chore: beautify indentation
  charts/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix: noeol in clusterrolebinding.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Ability to provide cluster role to repo-server (#919)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrole.yaml
  charts/argo-cd/templates/argocd-repo-server/clusterrolebinding.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

fix: move extraArgs to container args
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

Update changelog
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

docs: update default values example for extraArgs
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Fix noeol in Chart.yaml
  charts/argocd-image-updater/Chart.yaml
Owners: @mkilchhofer

docs(argocd-image-updater): update values example for extraArgs (#939)
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

Allow NodePort to be specified for server service.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Different version number and different condition in NodePort setting evaluation, both as per PR review suggested.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-workflows): Allow NodePort to be specified for server service (#938)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-service.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Bumped version number of argo-cd chart
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat: Add hostAliases to dex/deployment
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: Require related chart name in issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Owners: none

Beautify indentation
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Beautify indentation of existing implementation
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update changelog
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): Also add hostAliases to dex deployment (#941)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

chore: Update to stale action v4
  .github/workflows/stale.yml
Owners: none

feat(argocd-applicationset): Add extraArgs
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Owners: @mkilchhofer

chore: Update to stale action v4 (#945)
  .github/workflows/stale.yml
Owners: none

chore: Require related chart name in issues (#942)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Owners: none

Align with existing code style
  charts/argocd-applicationset/templates/deployment.yaml
Owners: @mkilchhofer

Fix linting error and update README
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/values.yaml
Owners: @mkilchhofer

feat(argocd-applicationset): Add extraArgs (#946)
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

fix issue 943
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/applications.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore(argocd-applicationset): Dedup default values for CI
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/ci/default-values.yaml
Owners: @mkilchhofer

chore(argocd-applicationset): Dedup default values for CI (#948)
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/ci/default-values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

chore(argo-workflows): Also test with default values
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/default-values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

chore(argo-rollouts): Define 2 separate tests
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/ci/default-values.yaml
  charts/argo-rollouts/ci/enable-dashboard-values.yaml
  charts/argo-rollouts/ci/test-values.yaml
Owners: @oliverbaehler

chore(argo-rollouts): Define 2 separate tests (#949)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/ci/default-values.yaml
  charts/argo-rollouts/ci/enable-dashboard-values.yaml
  charts/argo-rollouts/ci/test-values.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none
