Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

Bump chart argocd-applicationset
  charts/argocd-applicationset/Chart.yaml
Owners: @mkilchhofer

Update README
  charts/argo-rollouts/README.md
Owners: @oliverbaehler

Bump minor chart version
  charts/argocd-applicationset/Chart.yaml
Owners: @mkilchhofer

chore(argocd-applicationset): Don't exclude chart anymore (#977)
  .github/configs/ct-install.yaml
  .github/workflows/lint-and-test.yml
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/ci/default-values.yaml
  charts/argocd-applicationset/ci/leader-election-values.yaml
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

chore(argo-cd): Add chart tests for HA
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Add HA chapter to README
  charts/argo-cd/README.md
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: Reconfigure KinD to 1 control-plane and 3 worker nodes
  .github/configs/kind-config.yaml
  .github/workflows/lint-and-test.yml
Owners: none

Skip HPA tests of ArgoCD
  .github/workflows/lint-and-test.yml
Owners: none

Update charts/argo-rollouts/README.md
  charts/argo-rollouts/README.md
Owners: @oliverbaehler

feat(argo-rollouts): Support extraArgs for controller and dashboard
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Update charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
Owners: @oliverbaehler

Update charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
Owners: @oliverbaehler

PR comments
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
Owners: @oliverbaehler

Fix newly added parameters in README
  charts/argo-rollouts/README.md
Owners: @oliverbaehler

Fix changelog keyword
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

feat(argo-rollouts): Support extraArgs for controller and dashboard (#978)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/dashboard/deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Apply suggestions from code review
  charts/argo-rollouts/README.md
Owners: @oliverbaehler

fix changelog
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

Executor image pull policy
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-workflows): Add Executor image pull policy (#981)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

chore(argo-cd): Add chart tests and usage info in README for HA (#951)
  .github/configs/kind-config.yaml
  .github/workflows/lint-and-test.yml
  charts/argo-cd/.helmignore
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/ci/default-values.yaml
  charts/argo-cd/ci/ha-autoscaling-values.yaml
  charts/argo-cd/ci/ha-static-values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): Add ability to pass finalizers to AppProject
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: Use 'with' instead of 'if' and beautify indent style
  charts/argo-cd/templates/argocd-configs/projects.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

docs: Add finalizers to example in values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Add ability to pass finalizers to AppProject (#982)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): Upgrade argocd to v2.1.4 Signed-off-by: smcavallo <smcavallo@hotmail.com>
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.4 (#985)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

[v0.2.2] Add missing config map key for git commit-message-template
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/deployment.yaml
Owners: @mkilchhofer

docs(argo-cd): Prepare helm-docs for ArgoCD
  charts/argo-cd/README.md
  charts/argo-cd/README.md.gotmpl
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Bump chart version and add changelog
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix: Existing copy-paste documentation errors
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Reword description for SecurityContext
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-workflows): Restore RBAC permission and clarify namespace settings.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-crb.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Use consistent naming for components
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1
