Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

chore: fix maintainers
  charts/argo-events/Chart.yaml
Owners: @jbehling

chore: bump version to v0.17.0 (#412)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/templates/argo-events-roles.yaml
  charts/argo-events/templates/eventbus-controller-deployment.yaml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-controller-deployment.yaml
  charts/argo-events/templates/gateway-controller-configmap.yaml
  charts/argo-events/templates/gateway-controller-deployment.yaml
  charts/argo-events/templates/gateway-crd.yaml
  charts/argo-events/templates/sensor-controller-configmap.yaml
  charts/argo-events/values.yaml
Owners: @jbehling

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.4.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.8.tgz
  index.yaml
Owners: none

fix(argo-events): fix rabc for argo-events-sa
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
Owners: @jbehling

fix(argo-events): fix rabc for argo-events-sa (#413)
  charts/argo-events/templates/argo-events-cluster-roles.yaml
  charts/argo-events/templates/argo-events-roles.yaml
Owners: @jbehling

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.4.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.8.tgz
  index.yaml
Owners: none

[CLOUD-1126] Add kraken argo executor env to collect eci pod's logs
  charts/argo/templates/workflow-controller-config-map.yaml
Owners: @benjaminws, @stefansedich, @paguos

argo-rollouts bump v0.8.3
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

argo-rollouts bump 0.3.3
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

appVersion 0.8.3
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

change a new way to add configmap
  charts/argo/templates/workflow-controller-config-map.yaml
Owners: @benjaminws, @stefansedich, @paguos

charts/argocd-notifications/values: add extraArgs
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

charts/argocd-notifications/templates/deployment: use extraArgs
  charts/argocd-notifications/templates/deployment.yaml
Owners: @alexmt, @andyfeller

charts/argocd-notifications/chart: bump chart ver
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

charts/argocd-notifications/chart: actually set ver
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller

Update charts/argo-cd/values.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

feat: Argo Notifications - add extraArgs value (#416)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.5.4.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.9.tgz
  index.yaml
Owners: none

add argo-events crd-install
  charts/argo-events/Chart.yaml
  charts/argo-events/crds/eventbus-crd.yml
  charts/argo-events/crds/eventsource-crd.yml
  charts/argo-events/crds/sensor-crd.yml
  charts/argo-events/templates/eventbus-crd.yaml
  charts/argo-events/templates/eventsource-crd.yaml
  charts/argo-events/templates/sensor-crd.yaml
Owners: @jbehling

rollback empty lines
  charts/argo-events/crds/eventsource-crd.yml
Owners: @jbehling

rollback empty lines
  charts/argo-events/crds/sensor-crd.yml
Owners: @jbehling

chore: upgrade argo-cd to 1.6.2
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

chore: upgrade argo-cd to 1.6.2 (#419)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.2.tgz
  argocd-notifications-1.0.9.tgz
  index.yaml
Owners: none

fix: Add missing verbs for pods to cluster role to support rollout restarts
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Owners: @cabrinha

fix: Add missing verbs for pods to cluster role to support rollout restarts (#422)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-clusterrole.yaml
Owners: @cabrinha

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.3.tgz
  argocd-notifications-1.0.9.tgz
  index.yaml
Owners: none

argo-rollouts bump version 0.3.4
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

argocd-notifications: Add podAnnotations
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

chore: argo-rollouts bump to 0.3.4 (v0.8.3) (#415)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.4.tgz
  argocd-notifications-1.0.9.tgz
  index.yaml
Owners: none

feat(argo-rollouts): Add configurable annotation to the metrics service
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-metrics-service.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

argocd-notifications: Add podAnnotations (#423)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.9.8.tgz
  argo-cd-2.6.0.tgz
  argo-ci-0.1.6.tgz
  argo-events-0.17.0.tgz
  argo-rollouts-0.3.4.tgz
  argocd-notifications-1.0.10.tgz
  index.yaml
Owners: none

adds custom args
  charts/argo-rollouts/templates/argo-rollouts-deployment.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

bump version
  charts/argo-rollouts/Chart.yaml
Owners: @cabrinha

feat: Support GCS artifactRepository
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: Support GCS artifactRepository (correct key)
  charts/argo/templates/workflow-controller-config-map.yaml
Owners: @benjaminws, @stefansedich, @paguos

bump patch version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: Support GCS artifactRepository
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos
