Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

chore(argo-workflows): Also test with default values (#950)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/default-values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Apply changes from code review
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/applications.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update README
  charts/argo-cd/README.md
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Implement server.additionalApplications[].info (#944)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/applications.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

support annotations on secret objects
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

fix repo server extraContainers values unused
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix repo server extraContainers values unused (#953)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Bump version
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

true-up artifacthub changes
  charts/argocd-notifications/Chart.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

feat(argocd-notifications): support annotations on secret object (#952)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

chore: add repositoryID
  artifacthub-repo.yml
Owners: none

Create optional serviceAnnotations value for redis in helm chart
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Uncomment accidentally commented lines
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Uncomment accidentally commented lines
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

update chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Create optional serviceAnnotations value for redis in helm chart
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

update service annotation key for redis
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update L24 with appropriate description
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Move redis.service key occurence in values
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Also implement additional labels
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Add documentation
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix: Use correct value for redis service targetPort
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Create optional annotations and labels for redis service (#955)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/redis/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): Use Istio port name naming convention
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.3 Signed-off-by: smcavallo <smcavallo@hotmail.com>
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Upgrade argocd to v2.1.3 (#957)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(argo-cd): Use Istio port name naming convention (#956)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/redis/service.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

feat(operator): Add ArgoCD Operator initial pass
  charts/argocd-operator/.helmignore
  charts/argocd-operator/Chart.yaml
  charts/argocd-operator/README.md
  charts/argocd-operator/crds/argoproj.io_applications_crd.yaml
  charts/argocd-operator/crds/argoproj.io_applicationsets.yaml
  charts/argocd-operator/crds/argoproj.io_appprojects_crd.yaml
  charts/argocd-operator/crds/argoproj.io_argocdexports_crd.yaml
  charts/argocd-operator/crds/argoproj.io_argocds_crd.yaml
  charts/argocd-operator/templates/NOTES.txt
  charts/argocd-operator/templates/_helpers.tpl
  charts/argocd-operator/templates/argocd_editor_role.yaml
  charts/argocd-operator/templates/argocd_viewer_role.yaml
  charts/argocd-operator/templates/argocdexport_editor_role.yaml
  charts/argocd-operator/templates/argocdexport_viewer_role.yaml
  charts/argocd-operator/templates/auth_proxy_client_clusterrole.yaml
  charts/argocd-operator/templates/auth_proxy_role.yaml
  charts/argocd-operator/templates/auth_proxy_role_binding.yaml
  charts/argocd-operator/templates/auth_proxy_service.yaml
  charts/argocd-operator/templates/leader_election_role.yaml
  charts/argocd-operator/templates/leader_election_role_binding.yaml
  charts/argocd-operator/templates/operator.yaml
  charts/argocd-operator/templates/projects.yaml
  charts/argocd-operator/templates/role.yaml
  charts/argocd-operator/templates/role_binding.yaml
  charts/argocd-operator/templates/service_account.yaml
  charts/argocd-operator/templates/vault-plugin/cluster-role-binding.yaml
  charts/argocd-operator/templates/vault-plugin/plugin-secret.yaml
  charts/argocd-operator/templates/vault-plugin/role-binding.yaml
  charts/argocd-operator/templates/vault-plugin/role.yaml
  charts/argocd-operator/templates/vault-plugin/serviceaccount.yaml
  charts/argocd-operator/values.yaml
Owners: @mkilchhofer

feat(argo-cd): Add extraVolumes Dex server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-cd): Add extraVolumes Dex server (#961)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

Fix to add sa role and rolebinding in case of seperate workflow namespace
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update Chart version to 0.7.2
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler
