Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @oliverbaehler, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @jmeridth, @yu-croco, @davidkarlsen, @mr-sour, @mbevc1, @mkilchhofer, @pdrastil, @jbehling, @VaibhavPage

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Other and new charts
/charts/ @oliverbaehler

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @jmeridth @yu-croco

# Argo CD
/charts/argo-cd/ @davidkarlsen @mr-sour @yann-soubeyrand @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @pdrastil

# Argo Rollouts
/charts/argo-rollouts/

Update index.yaml
  index.yaml
Owners: none

chore(argo-workflows): Remove legacy API versions for PDBs (#1741)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/_helpers.tpl
  charts/argo-workflows/templates/controller/workflow-controller-deployment-pdb.yaml
  charts/argo-workflows/templates/server/server-deployment-pdb.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: none

Re-generate argo-events README
  charts/argo-events/README.md
Owners: @jbehling, @VaibhavPage, @pdrastil

fix(argo-events): Added missing NATS version in values.yaml (#1735)
  charts/argo-events/Chart.yaml
  charts/argo-events/README.md
  charts/argo-events/values.yaml
Owners: @jbehling, @VaibhavPage, @pdrastil

Update index.yaml
  index.yaml
Owners: none

feat(argo-workflows): add envFrom for main container
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @jmeridth, @yu-croco

feat(argo-workflows): add envFrom for main container (#1736)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/README.md
  charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
  charts/argo-workflows/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @jmeridth, @yu-croco

Update index.yaml
  index.yaml
Owners: none
