Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @benjaminws, @stefansedich, @paguos, @seanson, @spencergilbert, @jbehling, @cabrinha, @alexmt, @andyfeller

Publish charts
  argo-0.13.0.tgz
  argo-cd-2.9.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Fixed typo in values comment
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): add PriorityClass support
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): bump template CRDs and add in worklfow-event-binding-crd
  charts/argo/Chart.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-event-binding-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): bump template CRDs and add in worklfow-event-binding-crd
  charts/argo/Chart.yaml
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-event-binding-crd.yaml
  charts/argo/templates/workflow-template-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat(argo): add PriorityClass support (#470)
  charts/argo/Chart.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.1.tgz
  argo-cd-2.9.2.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Add annotations to dex service
  charts/argo-cd/templates/dex/service.yaml
Owners: @seanson, @spencergilbert

Add labels to dex service
  charts/argo-cd/templates/dex/service.yaml
Owners: @seanson, @spencergilbert

Update chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert

Fixed line ending in service.yaml
  charts/argo-cd/templates/dex/service.yaml
Owners: @seanson, @spencergilbert

fix: Add annotations and labels to dex service [argo-cd] (#473)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/dex/service.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.13.1.tgz
  argo-cd-2.9.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Bumped chart version
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

docs: Fixed typo in values comment (#469)
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

Publish charts
  argo-0.13.2.tgz
  argo-cd-2.9.3.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

Add argocd-image-updater chart
  charts/argocd-image-updater/.helmignore
  charts/argocd-image-updater/Chart.yaml
  charts/argocd-image-updater/templates/_helpers.tpl
  charts/argocd-image-updater/templates/configmap.yaml
  charts/argocd-image-updater/templates/deployment.yaml
  charts/argocd-image-updater/templates/rbac.yaml
  charts/argocd-image-updater/templates/serviceaccount.yaml
  charts/argocd-image-updater/values.yaml
Owners: none

Add maintainers
  charts/argocd-image-updater/Chart.yaml
Owners: none

feat(argo-rollouts): Add service monitor
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-service-monitor.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

chore: Sync upstream CRDs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

chore: Sync upstream CRDs (#478)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/crds/crd-application.yaml
  charts/argo-cd/crds/crd-project.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.13.2.tgz
  argo-cd-2.9.4.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

fix(argocd): optional named target port
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Add missing helm annotation
  charts/argo/crds/workflow-eventbinding-crd.yaml
Owners: @benjaminws, @stefansedich, @paguos

Update Chart.yaml
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argocd): optional named target port (#479)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-server/service.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert

Publish charts
  argo-0.13.2.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.7.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argo-rollouts): Add service monitor (#474)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/argo-rollouts-service-monitor.yaml
  charts/argo-rollouts/values.yaml
Owners: @cabrinha

Publish charts
  argo-0.13.2.tgz
  argo-cd-2.9.5.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.3.8.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

add clusterinstall conditional around aggregate clusterroles
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
Owners: @cabrinha

bump chart version to 0.3.9
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/argo-rollouts-aggregate-roles.yaml
Owners: @cabrinha

add helm variable "server.readinessProbeScheme" to argo chart
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

add helm variable "server.readinessProbeScheme" to argo chart
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

feat: add variable "server.readinessProbe.Scheme" to argo chart
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

add helm variable "server.readinessProbeScheme" to argo chart
  charts/argo/templates/server-deployment.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

add helm variable "server.readinessProbeScheme" to argo chart
  charts/argo/Chart.yaml
Owners: @benjaminws, @stefansedich, @paguos

updating minio chart version to 5.0.16
  charts/argo/Chart.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
Owners: @benjaminws, @stefansedich, @paguos

[CLOUD-1562] append permission in clusterrole/argo-workflow-controller-cluster-role
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-clusterrole.yaml
Owners: @benjaminws, @stefansedich, @paguos

fix(argo): Update minio chart to solve install error
  .circleci/chart-testing.yaml
  charts/argo/Chart.yaml
  charts/argo/requirements.lock
  charts/argo/requirements.yaml
  scripts/lint.sh
  scripts/publish.sh
Owners: @benjaminws, @stefansedich, @paguos

feat: Add support for Argo links
  charts/argo/Chart.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/values.yaml
Owners: @benjaminws, @stefansedich, @paguos

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @benjaminws @stefansedich @paguos

# Argo CD
/charts/argo-cd @seanson @spencergilbert

# Argo Events
/charts/argo-events @jbehling

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller
