Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler

# Argo Events
/charts/argo-events @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller @oliverbaehler

Readd Lint & Remove Argo Chart
  .circleci/config.yml
  charts/argo/.helmignore
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/README.md
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/NOTES.txt
  charts/argo/templates/_helpers.tpl
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/worfkflow-controller-secrets-access.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment-pdb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-minio-secret-crb.yaml
  charts/argo/templates/workflow-controller-sa.yaml
  charts/argo/templates/workflow-controller-service.yaml
  charts/argo/templates/workflow-controller-servicemonitor.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Correct CT config name
  .circleci/config.yml
Owners: none

Readd ARgo
  charts/argo/.helmignore
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/README.md
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/NOTES.txt
  charts/argo/templates/_helpers.tpl
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/worfkflow-controller-secrets-access.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment-pdb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-minio-secret-crb.yaml
  charts/argo/templates/workflow-controller-sa.yaml
  charts/argo/templates/workflow-controller-service.yaml
  charts/argo/templates/workflow-controller-servicemonitor.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

chore!: Rewrite Lint Workflow to Github (#685)
  .circleci/chart-testing.yaml
  .circleci/config.yml
  .github/ct.yaml
  .github/lintconf.yaml
  .github/stale.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/stale.yml
  charts/argo-events/Chart.yaml
  charts/argo-events/ci/test-values.yaml
  scripts/lint.sh
Owners: @jbehling, @VaibhavPage, @oliverbaehler

Publish charts
  argo-1.0.0.tgz
  argo-cd-3.4.0.tgz
  argo-events-1.4.1.tgz
  argo-rollouts-0.5.2.tgz
  argo-workflows-0.1.0.tgz
  argocd-applicationset-0.1.4.tgz
  argocd-notifications-1.3.0.tgz
  index.yaml
Owners: none

Test Release
  .argo/publish.yaml
  .circleci/config.yml
  .github/cr.yaml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  charts/argo-cd/Chart.yaml
  charts/argo-events/Chart.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-workflows/Chart.yaml
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-notifications/Chart.yaml
  scripts/publish.sh
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @jbehling, @VaibhavPage, @mkilchhofer, @alexmt, @andyfeller

feat: add support for envFrom
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler

config: bump chart version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler

Update
  .circleci/config.yml
  README.md
  charts/argo-workflows/ci/enable-metrics-values.yaml
  charts/argocd-applicationset/ci/default-values.yaml
Owners: @mkilchhofer

Correct CI
  .circleci/config.yml
  charts/argocd-applicationset/ci/leader-election-values.yaml
Owners: @mkilchhofer

Correct ct
  charts/argocd-applicationset/ci/default-values.yaml
  charts/argocd-applicationset/ci/leader-election-values.yaml
Owners: @mkilchhofer

Remove Leader CI Test
  charts/argocd-applicationset/ci/leader-election-values.yaml
Owners: @mkilchhofer

Apply suggestions from code review
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler

lint application-set with default values
  charts/argocd-applicationset/ci/default-values.yaml
Owners: @mkilchhofer

fix(argo-workflows): fixed server sa annotations
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
Owners: @mkilchhofer

fix(argo-workflows): fixed ingress
  charts/argo-workflows/templates/server/server-ingress.yaml
Owners: @mkilchhofer

Restore CI
  .circleci/config.yml
  .github/configs/cr.yaml
  .github/configs/ct-install.yaml
  .github/configs/ct-lint.yaml
  .github/configs/lintconf.yaml
  .github/workflows/lint-and-test.yml
  .github/workflows/publish.yml
  charts/argocd-applicationset/ci/default-values.yaml
  charts/argocd-applicationset/ci/leader-election-values.yaml
Owners: @mkilchhofer

Correct Path
  .github/workflows/lint-and-test.yml
Owners: none

Correct Config Reference
  CONTRIBUTING.md
  scripts/lint.sh
Owners: none

Restore publish.yaml
  .argo/publish.yaml
Owners: none

No Newline
  .argo/publish.yaml
Owners: none

chore!: Chart Publications via Github Workflow (#741)
  .circleci/config.yml
  .github/configs/cr.yaml
  .github/configs/ct-install.yaml
  .github/configs/ct-lint.yaml
  .github/configs/lintconf.yaml
  .github/workflows/lint-and-test.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  charts/argo-cd/Chart.yaml
  charts/argo-events/Chart.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/ci/enable-metrics-values.yaml
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-notifications/Chart.yaml
  scripts/lint.sh
  scripts/publish.sh
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @jbehling, @VaibhavPage, @mkilchhofer, @alexmt, @andyfeller

Update index.yaml
  index.yaml
Owners: none

fix: Remove Argo Chart
  charts/argo/.helmignore
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/README.md
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/NOTES.txt
  charts/argo/templates/_helpers.tpl
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/worfkflow-controller-secrets-access.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment-pdb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-minio-secret-crb.yaml
  charts/argo/templates/workflow-controller-sa.yaml
  charts/argo/templates/workflow-controller-service.yaml
  charts/argo/templates/workflow-controller-servicemonitor.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

chore(argo-workflows): version bump
  charts/argo-workflows/Chart.yaml
Owners: @mkilchhofer

chore: disable CircleCI on gh-pages branch
  .circleci/config.yml
Owners: none

fix: Remove Argo Chart (#748)
  charts/argo/.helmignore
  charts/argo/Chart.lock
  charts/argo/Chart.yaml
  charts/argo/README.md
  charts/argo/crds/cluster-workflow-template-crd.yaml
  charts/argo/crds/cron-workflow-crd.yaml
  charts/argo/crds/workflow-crd.yaml
  charts/argo/crds/workflow-eventbinding-crd.yaml
  charts/argo/crds/workflow-template-crd.yaml
  charts/argo/templates/NOTES.txt
  charts/argo/templates/_helpers.tpl
  charts/argo/templates/cluster-workflow-template-crd.yaml
  charts/argo/templates/cron-workflow-crd.yaml
  charts/argo/templates/server-cluster-roles.yaml
  charts/argo/templates/server-crb.yaml
  charts/argo/templates/server-deployment-pdb.yaml
  charts/argo/templates/server-deployment.yaml
  charts/argo/templates/server-ingress.yaml
  charts/argo/templates/server-sa.yaml
  charts/argo/templates/server-service.yaml
  charts/argo/templates/worfkflow-controller-secrets-access.yaml
  charts/argo/templates/workflow-aggregate-roles.yaml
  charts/argo/templates/workflow-controller-cluster-roles.yaml
  charts/argo/templates/workflow-controller-config-map.yaml
  charts/argo/templates/workflow-controller-crb.yaml
  charts/argo/templates/workflow-controller-deployment-pdb.yaml
  charts/argo/templates/workflow-controller-deployment.yaml
  charts/argo/templates/workflow-controller-minio-secret-crb.yaml
  charts/argo/templates/workflow-controller-sa.yaml
  charts/argo/templates/workflow-controller-service.yaml
  charts/argo/templates/workflow-controller-servicemonitor.yaml
  charts/argo/templates/workflow-crd.yaml
  charts/argo/templates/workflow-rb.yaml
  charts/argo/templates/workflow-role.yaml
  charts/argo/templates/workflow-sa.yaml
  charts/argo/templates/workflow-template-crd.yaml
  charts/argo/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-cd): add support for envFrom (#743)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/templates/dex/deployment.yaml
  charts/argo-cd/templates/redis/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

fix(argo-workflows): fixes server sa annotations and ingress (#747)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/server/server-ingress.yaml
  charts/argo-workflows/templates/server/server-sa.yaml
Owners: @mkilchhofer

Update index.yaml
  index.yaml
Owners: none

feat: pr size labeling
  .github/workflows/pr-sizing.yml
Owners: none

feat: pr size labeling (#749)
  .github/workflows/pr-sizing.yml
Owners: none

feat: improve documentation and require changelog
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  charts/argo-events/Chart.yaml
  charts/argo-rollouts/Chart.yaml
  charts/argo-workflows/Chart.yaml
  charts/argocd-applicationset/Chart.yaml
  charts/argocd-notifications/Chart.yaml
Owners: @jbehling, @VaibhavPage, @oliverbaehler, @mkilchhofer, @alexmt, @andyfeller

feat(argo-rollouts): add labels to crd to identify the rollout crds
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/README.md
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @oliverbaehler
