Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @mkilchhofer, @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler, @seanson, @davidkarlsen, @mr-sour, @mbevc1, @jbehling, @VaibhavPage, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# All charts
/charts/ @mkilchhofer

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand @oliverbaehler

# Argo CD
/charts/argo-cd/ @seanson @davidkarlsen @mr-sour @yann-soubeyrand @oliverbaehler @mbevc1

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage @oliverbaehler

# Argo Rollouts
/charts/argo-rollouts/ @oliverbaehler

# Argo CD Notifications
/charts/argocd-notifications/ @alexmt @andyfeller @oliverbaehler @mbevc1

Update Contribution file
  CONTRIBUTING.md
Owners: none

ADO SignOff
  CONTRIBUTING.md
Owners: none

ADO SignOff
  CONTRIBUTING.md
Owners: none

Update Chart with change log
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-workflows): Bump appVersion to 3.2.0
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

fix(argo-cd): Use correct chart icon url
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

fix(argo-cd): Use correct chart icon url (#964)
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

chore: update rollouts crd and rollouts appVersion to v1.1.0
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @oliverbaehler

chore: add changelog
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @oliverbaehler

fix(argo-cd): Use correct chart icon url (#964)
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore: update rollouts to v1.1.0 (#966)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/crds/analysis-run-crd.yaml
  charts/argo-rollouts/templates/crds/analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/cluster-analysis-template-crd.yaml
  charts/argo-rollouts/templates/crds/experiment-crd.yaml
  charts/argo-rollouts/templates/crds/rollout-crd.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Restore Contribution.md
  CONTRIBUTING.md
Owners: none

Added argocds crd
  charts/argo-cd/crds/crd-argocd.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Bumped version
  charts/argo-cd/Chart.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

feat(argo-workflows): Add WorkflowTaskSet to CRD
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-workflows): Synced CRDs with https://github.com/argoproj/argo-workflows/tree/v3.2.0/manifests/base/crds/minimal.
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/crds/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/crds/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/crds/argoproj.io_workfloweventbindings.yaml
  charts/argo-workflows/crds/argoproj.io_workflows.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtemplates.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

fix(argo-workflows): RBAC for namespaced workflows (#962)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/templates/controller/workflow-rb.yaml
  charts/argo-workflows/templates/controller/workflow-role.yaml
  charts/argo-workflows/templates/controller/workflow-sa.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Bump Chart version
  charts/argo-workflows/Chart.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

feat(argo-workflows): Bump appVersion to 3.2.0 (#963)
  charts/argo-workflows/Chart.yaml
  charts/argo-workflows/crds/argoproj.io_clusterworkflowtemplates.yaml
  charts/argo-workflows/crds/argoproj.io_cronworkflows.yaml
  charts/argo-workflows/crds/argoproj.io_workflows.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  charts/argo-workflows/crds/argoproj.io_workflowtemplates.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Add type to Dashboard Service
  charts/argo-rollouts/templates/dashboard/service.yaml
Owners: @oliverbaehler

Add type to Dashboard Service
  charts/argo-rollouts/templates/dashboard/service.yaml
Owners: @oliverbaehler

feat: Allow setting the "type" on the dashboard service. (We have a requirement to run it as NodePort). Set the default to what it is if not specified.
  charts/argo-rollouts/templates/dashboard/service.yaml
Owners: @oliverbaehler

feat: Allow setting the type for the dashboard service. (We have a requirement to run it as NodePort). Default to what it is if not set.
  charts/argo-rollouts/templates/dashboard/service.yaml
Owners: @oliverbaehler

Bump Chart version.
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

Add serviceType into values.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

chore: Move applications/projects to argocd-configs
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/applications.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

chore(argo-rollouts): Reorganize files in repo
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/aggregate-roles.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
Owners: @oliverbaehler

chore: Move applications/projects to argocd-configs (#975)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/applications.yaml
  charts/argo-cd/templates/argocd-configs/projects.yaml
Owners: @seanson, @davidkarlsen, @mr-sour, @yann-soubeyrand, @oliverbaehler, @mbevc1

Update index.yaml
  index.yaml
Owners: none

chore(argo-rollouts): Reorganize files in repo (#976)
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/aggregate-roles.yaml
  charts/argo-rollouts/templates/controller/clusterrole.yaml
  charts/argo-rollouts/templates/controller/clusterrolebinding.yaml
  charts/argo-rollouts/templates/controller/deployment.yaml
  charts/argo-rollouts/templates/controller/metrics-service.yaml
  charts/argo-rollouts/templates/controller/role.yaml
  charts/argo-rollouts/templates/controller/rolebinding.yaml
  charts/argo-rollouts/templates/controller/serviceaccount.yaml
  charts/argo-rollouts/templates/controller/servicemonitor.yaml
  charts/argo-rollouts/templates/dashboard/serviceaccount.yaml
Owners: @oliverbaehler

Update index.yaml
  index.yaml
Owners: none

Address review comments:
  charts/argo-rollouts/Chart.yaml
  charts/argo-rollouts/templates/dashboard/service.yaml
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

Bump Chart version.
  charts/argo-rollouts/Chart.yaml
Owners: @oliverbaehler

Fix typo
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

FIx indentation (lint error)
  charts/argo-rollouts/values.yaml
Owners: @oliverbaehler

chore(argocd-applicationset): Don't exclude chart anymore
  .github/configs/ct-install.yaml
  .github/workflows/lint-and-test.yml
  charts/argocd-applicationset/README.md
  charts/argocd-applicationset/ci/default-values.yaml
  charts/argocd-applicationset/ci/leader-election-values.yaml
  charts/argocd-applicationset/templates/deployment.yaml
  charts/argocd-applicationset/values.yaml
Owners: @mkilchhofer
