Repository argoproj/argo-helm, changes with the owners that CODEOWNERS names for each.
All owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand, @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @jbehling, @VaibhavPage, @cabrinha, @alexmt, @andyfeller

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Argo Workflows
/charts/argo @stefansedich @paguos @vladlosev @yann-soubeyrand

# Argo CD
/charts/argo-cd @seanson @spencergilbert @davidkarlsen @mr-sour @yann-soubeyrand

# Argo Events
/charts/argo-events @jbehling @VaibhavPage

# Argo Rollouts
/charts/argo-rollouts @cabrinha

# Argo CD Notifications
/charts/argocd-notifications @alexmt @andyfeller

spelling: integration
  CONTRIBUTING.md
Owners: none

spelling: instead
  charts/argo-cd/README.md
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

spelling: required
  charts/argo/values.yaml
Owners: @stefansedich, @paguos, @vladlosev, @yann-soubeyrand

spelling: nonexistent
  charts/argo-cd/README.md
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

spelling: github
  .circleci/config.yml
Owners: none

feat(argocd-notifications): update to support argocd-notification v1.0.1
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/configmap.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

chore: bump chart versions
  charts/argo-cd/Chart.yaml
  charts/argo/Chart.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand, @stefansedich, @paguos, @vladlosev

chore: correct spelling mistakes (#563)
  .circleci/config.yml
  CONTRIBUTING.md
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo/Chart.yaml
  charts/argo/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand, @stefansedich, @paguos, @vladlosev

Publish charts
  argo-0.15.4.tgz
  argo-cd-2.11.7.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.1.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat: enable support for lifecycle hooks on ArgoCD server
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

Bumping minor version, feature introduction
  charts/argo-cd/Chart.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

feat(argo-cd): enable support for lifecycle hooks on ArgoCD Server (#547)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/README.md
  charts/argo-cd/templates/argocd-server/deployment.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

Publish charts
  argo-0.15.4.tgz
  argo-cd-2.12.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.1.tgz
  argocd-notifications-1.0.11.tgz
  index.yaml
Owners: none

feat(argocd-notifications): update to support argocd-notification v1.0.1 (#567)
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/bots/slack/deployment.yaml
  charts/argocd-notifications/templates/configmap.yaml
  charts/argocd-notifications/templates/deployment.yaml
  charts/argocd-notifications/templates/secret.yaml
  charts/argocd-notifications/values.yaml
Owners: @alexmt, @andyfeller

Publish charts
  argo-0.15.4.tgz
  argo-cd-2.12.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.1.tgz
  argocd-notifications-1.0.12.tgz
  index.yaml
Owners: none

Update char version
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

Conditionally create the RBAC configmap
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

PR feedback
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

feat(argo-cd): conditionally create the rbac configmap (#569)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

Publish charts
  argo-0.15.4.tgz
  argo-cd-2.13.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.1.tgz
  argocd-notifications-1.0.12.tgz
  index.yaml
Owners: none

Fixed #570: YAML parse error in argocd-notifications/templates/secret.yaml
  .github/pull_request_template.md
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

Fixed #570: YAML parse error in argocd-notifications/templates/secret.yaml
  .github/pull_request_template.md
  charts/argocd-notifications/Chart.yaml
  charts/argocd-notifications/templates/secret.yaml
Owners: @alexmt, @andyfeller

feat(argocd): updated ArgoCD to v1.8.4
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

feat(argocd): updated ArgoCD to v1.8.4 (#574)
  charts/argo-cd/Chart.yaml
  charts/argo-cd/values.yaml
Owners: @seanson, @spencergilbert, @davidkarlsen, @mr-sour, @yann-soubeyrand

Publish charts
  argo-0.15.4.tgz
  argo-cd-2.14.0.tgz
  argo-ci-0.1.7.tgz
  argo-events-1.0.0.tgz
  argo-rollouts-0.4.1.tgz
  argocd-notifications-1.0.12.tgz
  index.yaml
Owners: none
